paper-drawer-panel#paperDrawerPanel(responsive-width="1280px")
    // Drawer Scroll Header Panel
    paper-header-panel(drawer='', mode="seamed")
        // Drawer Toolbar
        paper-toolbar#drawerToolbar(class$="menu-toolbar x-scope paper-toolbar-0 {{theme}}")
            img.main-logo(src="{{logo}}")
        // Drawer Content
        paper-menu#drawerMenu.main-menu(attr-for-selected="data-route", selected="[[route.name]]")
            a.main-menu-item.relative(href='{{baseUrl}}dashboard', data-route="dashboard")
                iron-icon.main-menu-item-icon(icon='dashboard')
                span.menu-item-text Dashboard
                paper-ripple
            a.main-menu-item.relative(href='{{baseUrl}}portfolio', data-route="portfolio")
                iron-icon.main-menu-item-icon(icon='perm-media')
                span.menu-item-text Portfolio
                paper-ripple
            template(is="dom-repeat", items="[[limitTo(menuSubItems, 5)]]", restamp)
                a.main-menu-item.relative.menu-sub-item(href="{{baseUrl}}portfolio/{{item.id}}/dashboard", data-route$="portfolio-item-{{item.id}}")
                    span.menu-item-text {{item.title}}
                    paper-ripple
            a.main-menu-item.relative(href="{{baseUrl}}profile", data-route="profile")
                iron-icon.main-menu-item-icon(icon='account-circle')
                span.menu-item-text Profile
                paper-ripple
            a.main-menu-item.relative(href="{{baseUrl}}settings/general", data-route="settings")
                iron-icon.main-menu-item-icon(icon='settings')
                span.menu-item-text Settings
                paper-ripple
        a.main-menu-item.relative(on-tap="logout")
            iron-icon.main-menu-item-icon(icon='exit-to-app')
            span.menu-item-text Logout
            paper-ripple
    // Main Area
    paper-scroll-header-panel#headerPanelMain.main-wrapper(main='', condenses, keep-condensed-header, scroll-away-topbar, condensed-header-height$="{{condensedHeaderValue(route.name)}}")
        // Main Toolbar
        paper-toolbar#mainToolbar(class$="x-scope paper-toolbar-0 main-toolbar {{setMode(route.name)}}" )
            paper-icon-button(icon="menu", paper-drawer-toggle)
            .title
                template(is="dom-if", if="{{checkRoute(route.name, 'portfolio-item')}}")
                    a.portfolio-title-link(href='{{baseUrl}}portfolio') Portfolio
                    span  >
                span  {{getAppTitle(route)}}
            template(is="dom-if", if="{{checkRoute(route.name, 'portfolio-item')}}")
                paper-tabs#portfolio-tabs.main-tabs.title-aligned.self-end.middle(selected="{{portfolioTab}}", on-iron-items-changed="fixTabs", attr-for-selected="data-tab")
                    paper-tab(data-tab="dashboard", on-tap="tabGo") dashboard
                    paper-tab(data-tab="holdings", on-tap="tabGo") holdings
                div.portfolio-item-toolbar.bottom Bottom
            template(is="dom-if", if="{{checkRoute(route.name, 'settings)}}")
                paper-tabs#settings-tabs.main-tabs.title-aligned.self-end.middle(selected="{{settingsTab}}", on-iron-items-changed="fixTabs", attr-for-selected="data-tab")
                    paper-tab(data-tab="general", on-tap="tabGo") General
                    paper-tab(data-tab="configs", on-tap="tabGo") FPM Configs
                    paper-tab(data-tab="users", on-tap="tabGo") Users
        // Main Content
        #mainContent.main-content.layout.vertical
            iron-pages.main-pages(attr-for-selected='data-route', selected='[[route.name]]', class$="main-pages {{addClass(tabHeightScreen, 'flex page-scroll')}}")
                section#dashboard.page-wrapper(data-route='dashboard')
                    include ../dashboard-page/dashboard-page
                section.page-wrapper(data-route='portfolio')
                    include ../portfolio-page/portfolio-page
                template(is="dom-repeat" items="{{menuSubItems}}", restamp)
                    section(data-route$='portfolio-item-{{item.id}}')
                        iron-pages(attr-for-selected='data-tab', selected='{{portfolioTab}}')
                            section.page-wrapper(data-tab="dashboard")
                                include ../portfolio-item/p-dashboard-page
                            section.page-wrapper(data-tab="holdings")
                                include ../portfolio-item/p-holdings-page
                section.page-wrapper(data-route='profile')
                    include ../profile-page/profile-page
                section(data-route='settings')
                        iron-pages(attr-for-selected='data-tab', selected='{{settingsTab}}')
                            section.page-wrapper(data-tab="general")
                                include ../settings-page/general-page
                            section.page-wrapper(data-tab="configs")
                                include ../settings-page/configs-page
                            section.page-wrapper(data-tab="users")
                                include ../settings-page/users-page
            footer-element
