paper-drawer-panel#paperDrawerPanel(responsive-width="1280px")
    // Drawer Scroll Header Panel
    paper-header-panel(drawer='', mode="seamed")
        // Drawer Toolbar
        paper-toolbar#drawerToolbar(class$="menu-toolbar {{theme}}")
            img.main-logo(src="{{logo}}")
        // Drawer Content
        paper-menu#drawerMenu.main-menu(attr-for-selected="data-route", selected="[[route.name]]")
            a.main-menu-item.relative(href='{{baseUrl}}dashboard', data-route="dashboard")
                iron-icon.main-menu-item-icon(icon='dashboard')
                span.menu-item-text Dashboard
                paper-ripple
            a.main-menu-item.relative(href='{{baseUrl}}portfolio', data-route="portfolio")
                iron-icon.main-menu-item-icon(icon='perm-media')
                span.menu-item-text Portfolio
                paper-ripple
            template(is="dom-repeat", items="[[limitTo(menuSubItems, 5)]]", restamp)
                a.main-menu-item.relative.menu-sub-item(href="{{baseUrl}}portfolio/{{item.id}}/dashboard", data-route$="portfolio-item-{{item.id}}")
                    span.menu-item-text {{item.title}}
                    paper-ripple
            a.main-menu-item.relative(href="{{baseUrl}}profile", data-route="profile")
                iron-icon.main-menu-item-icon(icon='account-circle')
                span.menu-item-text Profile
                paper-ripple
            a.main-menu-item.relative(href="{{baseUrl}}settings/general", data-route="settings")
                iron-icon.main-menu-item-icon(icon='settings')
                span.menu-item-text Settings
                paper-ripple
        a.main-menu-item.relative(on-tap="logout")
            iron-icon.main-menu-item-icon(icon='exit-to-app')
            span.menu-item-text Logout
            paper-ripple
    // Main Area
    paper-scroll-header-panel#headerPanelMain.main-wrapper(main='', condenses, keep-condensed-header, condensed-header-height="57", scroll-away-topbar)
        // Main Toolbar
        paper-toolbar#mainToolbar(class$="x-scope paper-toolbar-0 main-toolbar {{showTabs(route.name, 'medium-tall')}}" )
            paper-icon-button(icon="menu", paper-drawer-toggle)
            .title
                template(is="dom-if", if="{{checkRoute(route.name, 'portfolio-item')}}")
                    a.portfolio-title-link(href='{{baseUrl}}portfolio') Portfolio
                    span  >
                span  {{getAppTitle(route)}}
            paper-tabs#tabs.title(hidden="{{!route.tabs}}", selected="[[route.params.tab]]", on-iron-items-changed="fixTabs", attr-for-selected="data-tab", class$="bottom self-end x-scope paper-tabs-0 {{addClass(responsiveWidth, 'title-aligned')}}")
                template(is="dom-repeat", items="{{route.tabs}}", restamp)
                        paper-tab(id="{{item}}Tab", data-tab$="{{item}}", on-tap="tabGo") {{getTabName(item)}}
        // Main Content
        #mainContent.main-content.layout.vertical
            iron-pages.main-pages(attr-for-selected='data-route', selected='[[route.name]]', class$="main-pages {{addClass(tabHeightScreen, 'flex page-scroll')}}")
                section.page-wrapper(data-route='dashboard')
                    include ../dashboard-page/dashboard-page
                section.page-wrapper(data-route='portfolio')
                template(is="dom-repeat" items="{{menuSubItems}}", restamp)
                    section(data-route$='portfolio-item-{{item.id}}')
                        iron-pages(attr-for-selected='data-tab', selected='[[route.params.tab]]')
                            section.page-wrapper(data-tab="dashboard")
                            section.page-wrapper(data-tab="holdings")
                section.page-wrapper(data-route='profile')
                section(data-route='settings')
                        iron-pages(attr-for-selected='data-tab', selected='[[route.params.tab]]')
                            section.page-wrapper(data-tab="general")
                            section.page-wrapper(data-tab="configs")
                            section.page-wrapper(data-tab="users")
            footer-element
