paper-drawer-panel(responsive-width="1280px")#paperDrawerPanel
    // Drawer Scroll Header Panel
    paper-header-panel(drawer='', mode="seamed")
        // Drawer Toolbar
        paper-toolbar#drawerToolbar(class$="menu-toolbar {{theme}}")
            img.main-logo(src="{{logo}}")
        // Drawer Content
        paper-menu#drawerMenu.main-menu(attr-for-selected='data-route', selected='{{route.name}}')
            a.main-menu-item.relative(href='{{baseUrl}}dashboard', data-route="dashboard")
                iron-icon.main-menu-item-icon(icon='dashboard')
                span.menu-item-text Dashboard
                paper-ripple
            a.main-menu-item.relative(href='{{baseUrl}}portfolio', data-route="portfolio")
                iron-icon.main-menu-item-icon(icon='perm-media')
                span.menu-item-text Portfolio
                paper-ripple
            template(is="dom-repeat" items="{{menuSubItems}}", filter="{{limitTo(5)}}")
                a.main-menu-item.relative.menu-sub-item(href="{{baseUrl}}portfolio/{{item.id}}", data-route="portfolio-item-{{item.id}}")
                    span.menu-item-text {{item.title}}
                    paper-ripple
            a.main-menu-item.relative(href="{{baseUrl}}profile", data-route="profile")
                iron-icon.main-menu-item-icon(icon='account-circle')
                span.menu-item-text Profile
                paper-ripple
            a.main-menu-item.relative(href="{{baseUrl}}settings", data-route="settings")
                iron-icon.main-menu-item-icon(icon='settings')
                span.menu-item-text Settings
                paper-ripple
        a.main-menu-item.relative(on-tap="logout")
            iron-icon.main-menu-item-icon(icon='exit-to-app')
            span.menu-item-text Logout
            paper-ripple
    // Main Area
    paper-scroll-header-panel#headerPanelMain(main='', condenses='', keep-condensed-header='')
        // Main Toolbar
        paper-toolbar#mainToolbar
            paper-icon-button(icon="menu", paper-drawer-toggle)
            h1 {{route.name}}
        // Main Content
        #mainContent
            iron-pages(attr-for-selected='data-route', selected='{{route.name}}')
                section(data-route='dashboard')
                    p {{route.name}}
                section(data-route='portfolio')
                    p {{route.name}}
                template(is="dom-repeat" items="{{menuSubItems}}")
                    section(data-route="portfolio-item-{{item.id}}")
                        p {{item.title}}
                section(data-route='profile')
                    p {{route.name}}
                section(data-route='settings')
                    p {{route.name}}
