<polymer-element name="confirm-page" attributes="logo">
    <template>
        <link rel="stylesheet" href="../../../css/confirm-page.css">
        <div vertical layout fit class="confirm-page">
            <div flex twelve>
                <div class="header">
                    <div class="logo-wrapper">
                        <logo-main url="{{logo}}"></logo-main>
                    </div>
                </div>
                <div class="content" flex>
                    <paper-shadow z="1">
                        Thanks you for signing up.
                        <br>
                        Please check your email and click the verification link to confirm your email.
                    </paper-shadow>
                </div>
            </div>
            <!--Footer-->
            <footer-page flex></footer-page>
        </div>
    </template>
    <script>
        Polymer('confirm-page', {

        })
    </script>
</polymer-element>