<polymer-element name="confirm-page" attributes="logo">
    <template>
        <link rel="stylesheet" href="../../../css/confirm-page.css">
        <div vertical layout fit class="confirm-page">
            <div class="header" flex>
                <div class="logo-wrapper">
                    <logo-main url="{{logo}}"></logo-main>
                </div>
            </div>
            <div flex six relative>
                <div class="content" fit>
                    <paper-shadow z="1">
                        <span class="confirm-message">Thanks you for signing up.
                        <br>
                        Please check your email and click the verification link to confirm your email.</span>
                    </paper-shadow>
                </div>
            </div>
            <!--Footer-->
            <footer-page flex></footer-page>
        </div>
    </template>
    <script>
        Polymer('confirm-page', {
            ready: function(){

            }
        })
    </script>
</polymer-element>