paper-fab.grey-button {
    color: $color-black;
}

paper-menu-button.dropdown-menu {
    paper-menu {
        padding: 0;
    }

    .selectable-content.paper-menu > .iron-selected {
        font-weight: normal;
    }
}

.dashboard-options {
    margin-bottom: $margin-small;
}

@media screen and (max-width: $size-large) {
    .dashboard-options {
        bottom: 13px;
        top: auto;
        z-index: 1;
        right: 13px;
        position: fixed;
        margin-bottom: 0;
    }
}


