.login-page {
    background-color: $color-grey-medium-dark;
}

.login-form {
    background-color: $color-grey-medium-light;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0 auto $margin-x-large;
    padding: $padding-small;
}

.login-logo-wrapper {
    font-size: 0;
    padding: $padding-medium;
}

.fundamental-logo {
    width: 192px;
}

.login-form-wrapper {
    overflow-y: auto;
    padding-top: $padding-large;
}

.fields-wrapper {
    padding-top: $padding-large;
    margin-bottom: $margin-large;
}

.login-field {
    margin: 0 auto;
    max-width: 256px;
}

.submit-wrapper {
    margin-bottom: $margin-large;
}

paper-button.submit-button {
    background-color: #DD1F29;
    color: #ffffff;
    font-size: 20px;
}

.remember-me-wrapper {
    padding: 8px 15px;
    margin-left: -0.40em;
    font-weight: lighter;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: $color-grey-medium;
    color: $color-white;
}

.remember-me-text {
    margin-right: 15px;
}

.forgot-pass-link {
    color: $color-white;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
    &:hover {
        opacity: 0.7;
    }
    &:visited {
        color: $color-white;
    }
    &:focus {
        color: $color-white;
    }
}

.have-not-account {
    color: $color-white;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}
//------------media screen width-----------------

@media screen and (max-width: $size-small) {
    .fields-wrapper {
        padding-top: 0;
    }

    .remember-me-wrapper {
        padding: 8px;
    }

    .remember-me-text {
        margin-right: 8px;
    }
}

@media screen and (max-width: $size-medium) {
    .login-page-content {
        margin: 0 $margin-small;
    }
}

@media screen and (min-width: $size-medium+1px) and (max-width: $size-large) {
    .login-page-content {
        margin: 0 $margin-medium;
    }

    .login-form {
        max-width: $size-small;
    }
}

@media screen and (max-width: $size-large) {
    .login-logo-wrapper {
        padding: $padding-medium 0 $padding-small;
    }
    .fundamental-logo {
        width: 100%;
        max-width: 288px;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (min-width: $size-large+1px) {
    .login-form {
        max-width: $size-medium;
    }
}
@media screen and (min-width: $size-large+1px) and (max-width: $size-x-large) {
    .login-page-content {
        margin: 0 $margin-large;
    }

    .login-logo-wrapper {
        margin:0 52px;
    }
}

@media screen and (min-width: $size-x-large) {
    .login-page-content {
        width: $size-large;
        margin: 0 auto;
    }

    .login-logo-wrapper {
        margin:0 52px 30px;
    }
}


//------------media screen height-----------------

@media screen and (max-height: $size-small) {
    .login-form-wrapper {
        padding-top: $padding-small;
    }
}

@media screen and (min-height: $size-small+1px) and (max-height: $size-medium) {
    .login-form-wrapper {
        padding-top: $padding-medium;
    }
}

@media screen and (max-height: $size-medium) {

}

@media screen and (max-height: $size-large) {
    .have-not-account {
        font-size: 22px;
    }

    .login-form {
        margin: 0 auto $margin-small;
    }
}

