paper-toolbar.menu-toolbar {
    &.dark {
        background-color: $color-grey-medium;
    }
    &.light {
        background-color: $color-white;
    }
}

.main-logo {
    width: 100%;
}

.main-menu {
    padding-bottom: 0;
}

.main-menu-item {
    display: flex;
    height: 57px;
    padding: 0 $padding-small 0 8px;
    align-items: center;
    border-left: 8px solid transparent;
    color: $color-black;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.selectable-content.paper-menu > .main-menu-item.iron-selected {
    font-weight: normal;
    background-color: $color-grey-medium-light;
}

.selectable-content.paper-menu > .main-menu-item:focus {
    background-color: inherit;
}

.menu-item-text {
    font-size: $font-size-16;
}

.main-menu-item-icon {
    margin-right: 8px;
}


.menu-sub-item {
    padding: 0 8px 0 50px;
    height: 48px;
    .menu-item-text {
        font-size: $font-size-14;
    }
}

paper-tabs {
    text-transform: uppercase;
    margin: 16px 0 0 64px;
    user-select: none;
}

paper-tab {
    padding: 0 $padding-small;
}

.with-tabs {
    margin-top: 64px;
}

.title {
    text-transform: capitalize;
}

.portfolio-title-link {
    pointer-events: initial;
    color: $color-white;
    text-decoration: none;
    &:hover {
        color: $color-white;
        text-decoration: underline;
    }
}

@media screen and (max-width: $size-large) {
    paper-tabs {
        margin: 16px 0 0 0;
    }
}


@media screen and (max-height: $size-small) {
    .main-menu-item {
        height: 50px;
    }

    .menu-sub-item {
        height: 42px;
    }
}


