.data-table-wrapper {
    padding-bottom: 40px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 900px;
    border-bottom: 1px solid $color-grey-medium;
}
.data-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

.data-thead, .mobile-data-thead {
    background-color: $color-grey-dark;
    color: $color-white;
    border-top: 1px solid $color-grey-medium;
    border-bottom: 1px solid $color-grey-medium;
    font-size: $font-size-20;
}

.data-thead-th {
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
}

.data-tbody {
    font-size: $font-size-14;
    background: $color-white;
    border-top: 1px solid $color-grey-medium;
}

.data-tbody-tr {
    cursor: pointer;
}

.data-tbody-td, .data-thead-th {
    padding: 0;
    &.row-end  {
        padding-right: $padding-medium;
    }
    &.row-start  {
        padding-left: $padding-medium;
    }
}

.td-content, .th-content, .td-label {
    padding: 14px 24px;
    display: block;
    min-height: 17px;
    overflow: hidden;
}

//.td-content {
//    border-bottom: 1px solid $color-grey-light;
//}

//.data-tbody-td {
//    &::after{
//        content: '';
//        height: 1px;
//        width: 100%;
//        background: $color-grey-light;
//        display: block;
//    }
//}

.data-tbody-tr {
    border-bottom: 1px solid $color-grey-light;
}

.mobile-data-thead {
    .data-tbody-td {
        display: table-cell;
    }
    .td-content {
        border-bottom: none;
    }
    .white-icon {
        margin-left: -24px;
    }
}

.mobile-data-tbody {
    .mobile-data-td {
        display: none;
    }
}
////------------media screen width-----------------
@media screen and (max-width: $size-large) {
    .data-table-wrapper {
        min-width: 100%;
        padding-bottom: 0;
        border-bottom: 0;
        border-radius: 0;
    }

    .data-tbody-td {
        display: table-row;
    }

    .data-tbody-td {
        .td-content {
            display: table-cell;
            width: 100%;
            padding: 14px 16px;
            border-bottom: none;
            position: relative;
            &:after {
                content: " ";
                position: absolute;
                height: 1px;
                display: inline-block;
                background: $color-grey-light;
                bottom: 0;
                left: 16px;
                right: 16px;
            }
        }
        &.row-end .td-content:after {
            content: none;
        }
    }

    .data-tbody-td {
        &.row-end  {
            padding: 0;
        }
        &.row-start  {
            padding: 0;
        }
    }

    .td-label {
        display: table-cell;
        border-right: 1px solid $color-grey-light;
        padding-bottom: 15px;
    }
}
