.bar-label {
    text-transform: capitalize;
    margin-right: 12px;
    overflow: hidden;
}

.bar-btn {
    padding: 4px;
    min-width: initial;

    iron-icon {
        width: 34px;
        height: 34px;
        min-width: 34px;
    }
}

.bar-icon {
    margin-right: 12px;
}

.category-selector {
    margin: 0;
    padding: 0;
}

.category-name {
    width: 130px;
}

.category-btn {
    .bar-label {
        width: 78px;
        text-align: left;
    }
}

.calendar {
    background-color: $color-white;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.5);
    overflow: auto;
}

.search-wrapper {
    background-color: $color-white;
    height: 32px;
}

.search-field {
    outline: 0;
    border: 0;
    padding: 2px 8px;
    min-width: 150px;
}

.search-icon-wrapper {
    background-color: $color-grey-medium-dark;
    width: 32px;
    border: 1px solid $color-white;
}

.calendar-actions {
    padding: 8px;
}

.classification-name {
    text-transform: uppercase;
}

.category-row {
    background-color: $color-grey-medium-light;
    .td-content {
        border: none;
    }
    .data-tbody-td {
        &::after{
            content: none;
        }
    }
}

.p-holdings-page-wrapper {
    .mobile-data-thead {
        font-size: $font-size-14;
    }
}

.mobile-data-row-thead {
    background-color: $color-grey-medium-light;
    border-bottom: 1px solid $color-grey-light;
}

.pagination-item {
    outline: 0;
    background-color: $color-grey-medium-light;
    margin-right: 2px;
    border-width: 1px;
    min-width: 32px;
    height: 32px;
}

.page-button {
    background-color: $color-grey-medium;
    border: 1px solid $color-grey-medium;
    &.iron-selected {
        color: $color-white;
    }
}

.pagination-wrapper {
    margin-right: 16px;
    margin-bottom: 10px;
}

.size-label {
    text-transform: uppercase;
    font-size: $font-size-14;
    line-height: 1;
}

.size-btn {
    padding: 5px;
    margin: 0 4px;
    min-width: 58px;
}

.data-table-size {
    padding: 0;
    margin-right: 16px;
}

.size-wrapper {
    margin-bottom: 10px;
}

.loading-screen{
    background-color: $color-grey-light;
    .loader {
        position: relative;
        display: inline-block;
        left: auto;
        top: 0;
        margin-left: 12px;
        margin-top: 0;
    }
}

.no-data {
    color: $color-grey-medium;
    font-size: $font-size-18;
}

.no-holdings {
    min-height: 350px;
}

.holdings-table-data {
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: $color-grey-light;
    .data-thead {
        margin-bottom: 15px;
    }
    .data-tbody {
        .collapsed-row {
            display: none;
        }
        .hidden-row {
            display: none;
        }
    }
    .mobile-data-thead {
        .mobile-th-content {
            padding: 14px 16px 14px 4px;
        }
    }
    .th-label {
        line-height: 24px;
    }
}

.totals {
    background-color: $color-grey-medium-light;
    .th-content {
        color: $color-black;
    }
}

.totals, .category-row {
    padding: 0 16px 0 0;
    margin: 0;
    color: $color-black;
}

.white-icon {
    color: $color-white;
    min-width: 24px;
}

.toggle-arrow {
    visibility: hidden;
}

.active, .totals, .category-row {
    .toggle-arrow {
        visibility: visible;
    }
}

.arrow-up {
    transform: rotate(0deg);
    transition: transform 150ms;
}

.arrow-down {
    transform: rotate(180deg);
    transition: transform 150ms;
}

.arrow-right {
    transform: rotate(-90deg);
    transition-duration: 150ms;
}

.reverse {
    margin-right: 5px;
}

@media screen and (max-width: $size-small){
    .bar-icon, .bar-label {
        margin-right: 0;
    }

    .category-btn {
        .bar-label {
            width: auto;
            max-width: 78px;
        }
    }


    .bar-btn {
        iron-icon {
            min-width: 24px;
            height: 24px;
        }
    }

    .prev, .next {
        display: none;
    }
}

@media screen and (max-width: $size-medium){
    .bar-btn {
        margin: 12px 8px 12px 0;
    }

    .animation {
        transition: all 400ms linear 50ms;
    };

    .search-wrapper {
        width: 32px;
        background-color: transparent;
        position: absolute;
        right: 16px;
        top: 12px;
        @extend .animation;
    }

    .search-field {
        background-color: $color-white;
        width: 0;
        padding: 0;
        min-width: 0;
        @extend .animation;
    }

    .bar-label, .bar-icon, .category-btn, .calendar-btn {
        @extend .animation;
    }

    .full-width-search {
        .search-wrapper {
            width: calc(100% - 32px);
            @extend .animation;
        }

        .search-field {
            width: auto;
            padding: 2px 8px;
            @extend .animation;
        }

        .bar-label {
            font-size: 0;
            @extend .animation;
        }

        .bar-icon {
            width: 0;
            max-width: none;
            min-width: 0;
            margin: 0;
            padding: 0;
            @extend .animation;
        }

        .category-btn, .calendar-btn {
            margin: 0;
            padding: 0;
            max-width: none;
            min-width: 0;
            @extend .animation;
        }
    }

    .search-icon-wrapper {
        border: none;
    }
}

@media screen and (min-width: $size-medium + 1px) and (max-width: $size-large){
    .bar-btn {
        margin: 12px 24px 12px 0;
    }
}

@media screen and (min-width: $size-large + 1px){
    .bar-btn {
        margin: 12px 32px 12px 0;
    }

    .no-selection {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
    }

    .pagination-item {
        min-width: initial;
        height: auto;
    }

    .holdings-table-data {
        min-width: 960px;
        .data-thead-th {
            font-size: $font-size-14;
            cursor: pointer;
            @extend .no-selection;
            & > * {
                @extend .no-selection;
            }
        }
        .data-tbody {
            border-top: none;
        }
        .data-thead {
            border-bottom: none;
        }
        .data-thead-th, .data-tbody-td {
            padding:  14px 4px;
        }

        //------- Make grid system look like <table> ------
        .data-thead-th, .data-tbody-td {
            &.flex-3 {
                padding-right: 36px;
            }
            &.flex-2 {
                padding-right: 12px;
            }
        }
        .exposure-value {
            max-width: 165px;
            min-width: 165px;
        }
        .percentage-mv {
            max-width: 60px;
            min-width: 60px;
        }
        //----------------------------------------------------
    }
    .mobile-data-row-thead {
        display: none;
    }
}
