.data-table {
    padding-bottom: 40px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid $color-grey-medium;
}

.portfolio-table {
    min-width: 896px;
    .data-thead-tr, .data-tbody-tr {
        margin: 0 32px;
    }
}

.data-thead-tr, .data-tbody-tr {
    margin: 0 16px;
}

.data-thead-th, .data-tbody-td {
    padding: 14px 24px;
    min-height: 17px;
    overflow: hidden;
    &:first-child {
        padding-left: 8px;
    }
    &:last-child {
        padding-right: 8px;
    }
}

.data-thead, .mobile-data-thead {
    background-color: $color-grey-dark;
    color: $color-white;
    border-top: 1px solid $color-grey-medium;
    border-bottom: 1px solid $color-grey-medium;
    font-size: $font-size-20;
}

.data-thead-th {
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
}

.data-tbody {
    font-size: $font-size-14;
    background: $color-white;
    border-top: 1px solid $color-grey-medium;
}

.data-tbody-tr {
    cursor: pointer;
}

.td-label {
    display: none;
}

.data-tbody-tr {
    border-bottom: 1px solid $color-grey-light;
}

.mobile-data-thead {
    cursor: pointer;
    //.white-icon {
    //    margin-left: -24px;
    //}
}

////------------media screen width-----------------

@media screen and (max-width: $size-large) {
    .data-table {
        padding-bottom: 0;
        border-bottom: 0;
        .data-thead.layout {
            display: none;
        }
    }

    .portfolio-table {
        min-width: 100%;
    }

    .data-tbody-tr, .portfolio-table .data-tbody-tr {
        margin: 0;
    }

    .mobile-th-content {
        padding: 14px 24px;
        min-height: 17px;
        overflow: hidden;
        display: block;
    }

    .data-tbody-td {
        padding: 0;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            height: 1px;
            display: inline-block;
            background: $color-grey-light;
            bottom: 1px;
            right: 14px;
            left: 132px;
        }
        .td-content {
            display: inline-block;
            padding: 14px 16px;
            border-left: 1px solid $color-grey-light;
        }
        &:first-child {
            padding: 0;
        }
        &:last-child {
            padding: 0;
            &::after {
                content: none;
            }
        }
    }

    .td-label {
        display: inline-block;
        padding: 14px 16px;
        width: 90px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .without-label {
        display: none;
    }


    .data-tbody-tr.layout.horizontal.mobile-data-td {
        display: none;
    }

    //--------------IE10 huck---------------
    /* because this block in "dom-repeat" and
    computed class function works earlier than
    block is ready
    */

    .data-tbody-tr.layout.horizontal {
        -ms-flex-direction: initial;
        -webkit-flex-direction: initial;
        flex-direction: initial;
        display: block;
    }
}
