.bar-label {
    text-transform: capitalize;
    margin-right: 12px;
    overflow: hidden;
}

.bar-btn {
    padding: 4px;
    min-width: initial;

    iron-icon {
        width: 34px;
        height: 34px;
        min-width: 34px;
    }
}

.bar-icon {
    margin-right: 12px;
}

.category-selector {
    margin: 0;
    padding: 0;
}

.category-name {
    width: 130px;
}

.category-btn {
    .bar-label {
        width: 78px;
        text-align: left;
    }
}

.calendar {
    background-color: $color-white;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.5);
}

.search-wrapper {
    background-color: $color-white;
    height: 32px;
}

.search-field {
    outline: 0;
    border: 0;
    padding: 2px 8px;
}

.search-icon-wrapper {
    background-color: $color-grey-medium-dark;
    width: 32px;
    border: 1px solid $color-white;
}

.calendar-actions {
    padding: 8px;
}

.classification-name {
    text-transform: uppercase;
}

.category-row {
    background-color: $color-grey-medium-light;
    .td-content {
        border: none;
    }
    .data-tbody-td {
        &::after{
            content: none;
        }
    }
}

.p-holdings-page-wrapper {
    .mobile-data-thead {
        font-size: $font-size-14;
    }
}

.mobile-data-row-thead {
    background-color: $color-grey-medium-light;
    border-bottom: 1px solid $color-grey-light;
}

.pagination-item {
    outline: 0;
    background-color: $color-grey-medium-light;
    margin-right: 2px;
    border-width: 1px;
}

.page-button {
    background-color: $color-grey-medium;
    border: 1px solid $color-grey-medium;
    &.iron-selected {
        color: $color-white;
    }
}

.pagination-wrapper {
    margin-right: 16px;
    margin-bottom: 10px;
}

.size-label {
    text-transform: uppercase;
    font-size: $font-size-14;
    line-height: 1;
}

.size-btn {
    padding: 5px;
    margin: 0 4px;
    min-width: 58px;
}

.data-table-size {
    padding: 0;
    margin-right: 16px;
}

.size-wrapper {
    margin-bottom: 10px;
}

.loading-screen{
    background-color: $color-grey-light;
    .loader {
        position: relative;
        display: inline-block;
        left: auto;
        top: 0;
        margin-left: 12px;
        margin-top: 0;
    }
}

.no-data {
    color: $color-grey-medium;
    font-size: $font-size-18;
}

.no-holdings {
    min-height: 350px;
}

.totals {
    background-color: $color-grey-medium-light;
    padding-bottom: 10px;
    .th-content {
        color: $color-black;
    }
}

.empty-space-row {
    display: none;
}

.hidden-row {
    display: none;
}

@media screen and (max-width: $size-small){
    .bar-icon, .bar-label {
        margin-right: 0;
    }

    .category-btn {
        .bar-label {
            width: auto;
            max-width: 78px;
        }
    }


    .bar-btn {
        iron-icon {
            min-width: 24px;
            height: 24px;
        }
    }
}

@media screen and (max-width: $size-medium){
    .bar-btn {
        margin: 12px 8px 12px 0;
    }

    .animation {
        transition: all 400ms linear 50ms;
    };

    .search-wrapper {
        width: 32px;
        background-color: transparent;
        position: absolute;
        right: 16px;
        top: 12px;
        @extend .animation;
    }

    .search-field {
        background-color: $color-white;
        width: 0;
        padding: 0;
        min-width: 0;
        @extend .animation;
    }

    .bar-label, .bar-icon, .category-btn, .calendar-btn {
        @extend .animation;
    }

    .full-width-search {
        .search-wrapper {
            width: calc(100% - 32px);
            @extend .animation;
        }

        .search-field {
            width: auto;
            padding: 2px 8px;
            @extend .animation;
        }

        .bar-label {
            font-size: 0;
            @extend .animation;
        }

        .bar-icon {
            width: 0;
            max-width: none;
            min-width: 0;
            margin: 0;
            padding: 0;
            @extend .animation;
        }

        .category-btn, .calendar-btn {
            margin: 0;
            padding: 0;
            max-width: none;
            min-width: 0;
            @extend .animation;
        }
    }

    .search-icon-wrapper {
        border: none;
    }
}

@media screen and (min-width: $size-medium + 1px) and (max-width: $size-large){
    .bar-btn {
        margin: 12px 24px 12px 0;
    }
    //
    //.bar-btn {
    //    iron-icon {
    //        min-width: 24px;
    //        height: 24px;
    //    }
    //}
}

@media screen and (min-width: $size-large + 1px){
    .bar-btn {
        margin: 12px 32px 12px 0;
    }

    .p-holdings-page-wrapper {
        .data-thead-th {
            font-size: $font-size-14;
        }

        .td-content, .th-content, .td-label {
            padding: 14px 4px;
        }

        .row-end {
            width: 170px;
        }

        .row-pre-end {
            width: 80px;
        }


        .data-tbody-td, .data-thead-th {
            &.row-end  {
                padding-right: 4px;
            }
            &.row-start  {
                padding-left: 4px;
            }
        }
    }

    .empty-space {
        height: 5px;
        background-color: $color-grey-light;
    }

    .empty-space-row {
        display: table-row;
    }
}
