.page-subheader {
    font-size: $font-size-18;
    color: $color-grey-medium;
    font-weight: normal;
    margin-bottom: 10px;
}

.settings-row {
    margin-bottom: 5px;
}

.settings-labels {
    font-size: $font-size-18;
    color: $color-grey-medium-dark;
    font-weight: bold;
    min-width: 100px;
    display: inline-block;
}

.theme-options {
    font-size: $font-size-18;
}

.color-selector-wrapper {
    padding-left: 8px;
}

.download-link-item {
    pointer-events: none;
    .download-link {
        pointer-events: auto;
        text-decoration: none;
        color: $color-black;
    }
}

.import-dialog-content {

}

.dialog-label {
    font-size: $font-size-16;
    color: $color-grey-medium-dark;
    display: block;
    margin-bottom: 10px;
}

.or-label {
    text-align: center;
}

.chose-file-place {
    position: relative;
    border: 1px solid $color-grey-medium-dark;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
}

.file-label {
    border: 0;
    outline: 0;
}

.chose-file-btn {
    outline: 0;
    background-color: $color-grey-medium-light;
    border-width: 1px;
    height: 30px;
    width: 80px;
    font-size: $font-size-14;
    color: $color-grey-dark;
    position: relative;
    &::before{
        content: ' ';
        display: inline-block;
        width: 1px;
        height: 32px;
        position: absolute;
        top: -2px;
        left: -2px;
        background-color: $color-grey-medium-dark;
    }
}

.drag-and-drop-place {
    position: relative;
    height: 80px;
    border-radius: 5px;
    border: 1px solid $color-grey-medium-dark;
}

.drag-and-drop-label {
    color: $color-grey-medium-light;
    font-size: $font-size-14;
}

.file-place {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

//--------------paper-color-input styles-------------

.color-selector {
    paper-input-container.paper-color-input {
        min-width: 150px;
        .floated-label-placeholder.paper-input-container {
            display: none;
        }
    }

    .input-content.paper-input-container .paper-input-input {
        font-size: $font-size-18;
        color: $color-grey-medium-dark;
    }

    paper-dialog {
        max-width: none;
        min-width: initial;
    }

}

.paper-progress-0 #primaryProgress.paper-progress {
    background-color: $color-grey-medium-dark;
}

.paper-slider-0 #sliderKnobInner.paper-slider {
    background-color: $color-grey-medium-dark;
    border: 2px solid $color-grey-medium-dark;
    &::before {
        background-color: $color-grey-medium-dark;
    }
}
.paper-progress-0 #progressContainer.paper-progress, .paper-progress-0 .indeterminate.paper-progress::after {
    background-color: $color-grey-medium-light;
}

#dialog.paper-color-picker {
    overflow: auto;
}

#color.paper-color-input {
    border-radius: 2px;
}

//----------------------------------------------------------

iron-icon.upload-logo-icon {
    color: $color-grey-medium-dark;
    margin-right: 10px;
}

.upload-logo-btn {
    font-size: $font-size-16;
    margin: 0;
}

.upload-logo-size {
    color: $color-grey-medium-dark;
    font-size: $font-size-14;
    text-align: center;
    display: inline-block;
}

.settings-checkbox {
    margin-left: $margin-large;
}

.configs-inputs-wrapper {
    margin-bottom: 20px;
}

.users-page-wrapper {
    position: relative;
    padding-top: 20px;
    .actions {
        padding: 3px 24px 2px;
    }

    .td-label {
        padding: 14px 16px;
    }

    .data-thead, .mobile-data-thead {
        font-size: 14px;
    }
}

.users-options {
    position: absolute;
    z-index: 1;
    right: 13px;
    top: -16px;
}

.options-icon {
   margin-right: 8px;
}
//------------media screen width-----------------

@media screen and (min-width: $size-medium) {
    .design-settings-wrapper, .email-settings-wrapper, .configs-settings-wrapper {
        max-width: 450px;
    }

    .settings-labels {
        min-width: 220px;
    }
}

@media screen and (max-width: $size-medium - 1px) {
    .design-settings-wrapper, .email-settings-wrapper, .configs-settings-wrapper {
        max-width: 100%;
    }

    .settings-labels {
        min-width: 100px;
    }

    .configs-page-wrapper {
        .settings-labels {
            min-width: 200px;
        }
    }
}

@media screen and (max-width: $size-large) {
    .users-page-wrapper {
        .actions {
            padding: 3px 8px;
        }
    }

    .users-options {
        bottom: 13px;
        top: auto;
        position: fixed;
    }

    #title.paper-color-picker {
        font-size: $font-size-18;
        line-height: 28px;
    }
}
