@import "variables";

html, body {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $color-grey-light;
}

paper-menu a > *, paper-menu paper-item > *, paper-menu paper-icon-item > * {
    pointer-events: none;
}

paper-dialog {
    max-width: 300px;
    min-width: 250px;
}

input::-ms-clear {
    display: none;
}

@import "login-page";
@import "main-page";
@import "dahsboard-page";
@import "portfolio-page";
@import "portfolio-item";
@import "profile-page";
@import "settings-page";


////------------media screen width-----------------
//@media screen and (max-width: $size-small) {
//
//}
//
//@media screen and (min-width: $size-small+1px) and (max-width: $size-medium) {
//
//}
//
//@media screen and (max-width: $size-medium) {
//
//}
//
//@media screen and (min-width: $size-medium+1px) and (max-width: $size-large) {
//
//}
//
//@media screen and (max-width: $size-large) {
//
//}
//
//@media screen and (min-width: $size-large+1px) and (max-width: $size-x-large) {
//
//}
//
//@media screen and (max-width: $size-x-large) {
//
//}
//
//@media screen and (min-width: $size-x-large) {
//
//}

////------------media screen height-----------------
//@media screen and (max-height: $size-small) {
//
//}
//
//@media screen and (min-height: $size-small+1px) and (max-height: $size-medium) {
//
//}
//
//@media screen and (max-height: $size-medium) {
//
//}
//
//@media screen and (min-height: $size-medium+1px) and (max-height: $size-large) {
//
//}
//
//@media screen and (max-height: $size-large) {
//
//}
//
//@media screen and (min-height: $size-large+1px) and (max-height: $size-x-large) {
//
//}
//
//@media screen and (max-height: $size-x-large) {
//
//}
//
//@media screen and (min-height: $size-x-large) {
//
//}
