@import "variables";

html, body {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $color-grey-light;
}

body[unresolved] {
    opacity: 1;
    .loading-screen {
        display: block;
    }
    .profile-change-image {
        display: none;
    }
}

#outdated {
    height: 100%;
    h6 {
        margin-top: 230px;
    }

    #btnCloseUpdateBrowser {
        display: none;
    }
}

@media all and (orientation:portrait) {
    #outdated {
        h6 {
            margin-top: 130px;
        }
    }
}


.loading-screen {
    display: none;
    width: 100%;
    height: 100%;
    background-color: $color-grey-light;
    position: relative;
}

.loading-wrapper {
    color: $color-black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 115px;
    height: 28px;
    margin: -58px -28px;
    clear: both;
}

.loading-text {
    line-height: 28px;
    display: inline-block;
    font-size: 18px;
}

.loading-spinner {
    width: 28px;
    height: 28px;
    float: right;
}

.dot {
    display: inline-block;
    background-color: $color-black;
    width: 2px;
    height: 2px;
    border-radius: 5px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.one {
    margin-left: 7px;
    -webkit-animation: scale .75s .12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale .75s .12s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.two {
    -webkit-animation: scale .75s .24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale .75s .24s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.three {
    -webkit-animation: scale .75s .36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale .75s .36s infinite cubic-bezier(.2, .68, .18, 1.08);
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

paper-menu a > *, paper-menu paper-item > *, paper-menu paper-icon-item > * {
    pointer-events: none;
}

paper-dialog:not(.color-picker-dialog) {
    max-width: 300px;
    min-width: 250px;
}

input::-ms-clear {
    display: none;
}

@import "login-page";
@import "main-page";
@import "dahsboard-page";
@import "portfolio-page";
@import "portfolio-item";
@import "profile-page";
@import "settings-page";


////------------media screen width-----------------
//@media screen and (max-width: $size-small) {
//
//}
//
//@media screen and (min-width: $size-small+1px) and (max-width: $size-medium) {
//
//}
//
//@media screen and (max-width: $size-medium) {
//
//}
//
//@media screen and (min-width: $size-medium+1px) and (max-width: $size-large) {
//
//}
//
//@media screen and (max-width: $size-large) {
//
//}
//
//@media screen and (min-width: $size-large+1px) and (max-width: $size-x-large) {
//
//}
//
//@media screen and (max-width: $size-x-large) {
//
//}
//
//@media screen and (min-width: $size-x-large) {
//
//}

////------------media screen height-----------------
//@media screen and (max-height: $size-small) {
//
//}
//
//@media screen and (min-height: $size-small+1px) and (max-height: $size-medium) {
//
//}
//
//@media screen and (max-height: $size-medium) {
//
//}
//
//@media screen and (min-height: $size-medium+1px) and (max-height: $size-large) {
//
//}
//
//@media screen and (max-height: $size-large) {
//
//}
//
//@media screen and (min-height: $size-large+1px) and (max-height: $size-x-large) {
//
//}
//
//@media screen and (max-height: $size-x-large) {
//
//}
//
//@media screen and (min-height: $size-x-large) {
//
//}
