<polymer-element name="calendar-dialog">
    <template>
        <link rel="stylesheet" href="../../../css/calendar-dialog.css">
        <paper-shadow z="1">
            <div class="dialog-wrapper">
                <d-calendar class="portfolio-item-calendar"></d-calendar>
                <div class="actions">
                    <paper-button role="button" class="closeCalendar" on-tap="{{closeCalendarDialog}}">Cancel</paper-button>
                    <paper-button role="button" class="setDate"  on-tap="{{closeCalendarDialog}}">OK</paper-button>
                </div>
            </div>
        </paper-shadow>
    </template>
    <script>
        Polymer('calendar-dialog',{
            closeCalendarDialog: function(e) {
                this.classList.remove('show');
            }
        });
    </script>
</polymer-element>