<polymer-element name="date-selector" attributes="curDate">
    <template>
        <link rel="stylesheet" href="../../../css/portfolio-item.css">
        <link rel="stylesheet" href="../../../css/calendar-dialog.css">
        <div class="calendar-block" layout horizontal center-center>
            <paper-button class="calendar-button" on-tap="{{openCalendar}}" relative layout horizontal>
                <core-icon icon="event" class="open-calendar-icon"></core-icon>
                <span class="selected-date">{{curDate}}</span>
                <core-icon icon="arrow-drop-down" class="open-calendar-icon"></core-icon>
            </paper-button>
            <paper-dropdown opened="{{calendarStatus}}" id="calendarDialogWrapper">
                <d-calendar class="portfolio-item-calendar" selectedDate="{{selectedDate}}"></d-calendar>
                <div class="actions">
                    <paper-button role="button" class="closeCalendar" on-tap="{{closeCalendarDialog}}">Cancel</paper-button>
                    <paper-button role="button" class="setDate" on-tap="{{saveCalendarStatus}}">OK</paper-button>
                </div>
            </paper-dropdown>
        </div>
    </template>
    <script>
        Polymer('date-selector',{
            ready: function(){
                this.updateDateFormat();
            },
            //Open/close calendar
            openCalendar: function() {
                this.calendarStatus = true;
            },
            closeCalendarDialog: function() {
                this.calendarStatus = false;
            },
            saveCalendarStatus: function() {
                this.calendarStatus = false;
                this.updateDateFormat();
            },

            //Update date format
            updateDateFormat: function (){
                var monthNames = ["Jan", "Feb", "Mar",
                    "Apr", "May", "Jun",
                    "Jul", "Aug", "Sep",
                    "Oct", "Nov", "Dec"];
                var date = this.selectedDate;
                var day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();

                this.curDate = day+' '+monthNames[monthIndex]+' '+year;
            }
        });
    </script>
</polymer-element>