<link rel="import" href="page-selector.html">
<polymer-element name="holdings-table" attributes="showNoMatches allItems portfolioItemsNoCategory showAll request portfolio">
    <template>
        <link rel="stylesheet" href="../../../css/portfolio-page.css">
        <link rel="stylesheet" href="../../../css/portfolio-item.css">
        <page-selector pages="{{allPages}}" selectedPage="{{page}}" sizes="{{sizes}}" size="{{rowSize}}" oderVal="{{oderVal}}"></page-selector>
        <!--Holdings table-->
        <div class="table-wrapper">
            <core-media-query query="max-width: 768px"
                              queryMatches="{{phoneScreen}}"></core-media-query>
            <div class="table-header-list" hidden?="{{phoneScreen}}">
                <core-selector id="tableHeader" selected="name" valueattr="orderval" layout horizontal?="{{!phoneScreen}}">
                    <div class="col-padding table-header link" flex four on-tap="{{order}}" orderval="name">
                        <span>Name</span>
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon"></core-icon>-->
                    </div>
                    <div class="col-padding table-header link" flex three on-tap="{{order}}" orderval="nominal">
                        <span>Nominal</span>
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon"></core-icon>-->
                    </div>
                    <div class="col-padding table-header link" flex three on-tap="{{order}}" orderval="costPrice">
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon cost-price-icon"></core-icon>-->
                        <span>Cost Price</span>
                    </div>
                    <div class="col-padding table-header link" flex four on-tap="{{order}}" orderval="bookValue">
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon book-value-icon"></core-icon>-->
                        <span>Book value (R)</span>
                    </div>
                    <div class="col-padding table-header link" flex four on-tap="{{order}}" orderval="marketPrice">
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon market-price-icon"></core-icon>-->
                        <span>Market Price</span>
                    </div>
                    <div class="col-padding table-header link" flex four on-tap="{{order}}" orderval="marketValue">
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon market-value-icon"></core-icon>-->
                        <span>Market Value</span>
                    </div>
                    <div class="col-padding table-header link" flex two on-tap="{{order}}" orderval="MV">
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon"></core-icon>-->
                        <span>%MV</span>
                    </div>
                    <div class="col-padding table-header link" flex five on-tap="{{order}}" orderval="exposureValue">
                        <!--<core-icon icon="arrow-drop-down" class="filter-icon"></core-icon>-->
                        <span>Exposure Value (R)</span>
                    </div>
                </core-selector>
            </div>
            <!--Totals values-->
            <div layout horizontal center-center class="category-totals" hidden?="{{phoneScreen}}">
                <div class="col-padding table-item portfolio-total-label" flex seven hidden?="{{phoneScreen}}">
                    <core-icon id="toggleAll" class="category-icon" icon="arrow-drop-down" on-tap="{{toggleAllCategories}}"></core-icon>
                    {{portfolio}} TOTAL
                </div>
                <div class="col-padding table-item" flex three></div>
                <div class="col-padding table-item" flex four>{{classificationContent.totalBookValue}}</div>
                <div class="col-padding table-item" flex four></div>
                <div class="col-padding table-item" flex four>{{classificationContent.totalMarketValue}}</div>
                <div class="col-padding table-item" flex two>{{classificationContent.totalPercentageMV}}</div>
                <div class="col-padding table-item" flex five>{{classificationContent.totalExposureValue}}</div>
            </div>
            <!--Holdings table -->
            <div id="statutoryTable" hidden?="{{showAll}}">
                <core-pages valueattr="page" selected="{{page}}">
                    <template repeat="{{pageItem, i in allPages}}">
                        <section page="{{i}}">
                            <div class="table-body no-padding-bottom">
                                <template repeat="{{val in pageItem}}">
                                    <div layout horizontal class="collapse-category" on-tap="{{toggle}}" toggleId="{{val.id+i}}">
                                        <div class="col-padding table-item category-title" flex seven>
                                            <core-icon id="icon{{val.id+i}}" class="category-icon" icon="arrow-drop-down"></core-icon>
                                            {{val.category}}
                                        </div>
                                        <div class="col-padding table-item" flex three hidden?="{{phoneScreen}}">{{val.costPrice}}</div>
                                        <div class="col-padding table-item" flex four hidden?="{{phoneScreen}}">{{val.totalBookValue}}</div>
                                        <div class="col-padding table-item" flex four hidden?="{{phoneScreen}}">{{val.averageMarketPrice}}</div>
                                        <div class="col-padding table-item" flex four hidden?="{{phoneScreen}}">{{val.totalMarketValue}}</div>
                                        <div class="col-padding table-item" flex two hidden?="{{phoneScreen}}">{{val.totalPercentageMV}}</div>
                                        <div class="col-padding table-item" flex five hidden?="{{phoneScreen}}">{{val.totalExposureValue}}</div>
                                    </div>
                                    <core-collapse id="collapse{{val.id+i}}" class="collapse" opened>
                                        <core-selector selected="0" valueattr="number" class="collapse-content">
                                            <template repeat="{{item, i in val.categoryItems | orderBy(oderVal)}}">
                                                <div layout vertical?="{{phoneScreen}}" number="{{i}}" >
                                                    <h1 hidden?="{{!phoneScreen}}" class="table-header-in-collapse">{{item.name}}</h1>
                                                    <div layout horizontal?="{{phoneScreen}}" class="mobile-col-content">
                                                        <!--Holdings table-headers for mobile view-->
                                                        <div class="col-content labels" hidden?="{{!phoneScreen}}">
                                                            <div class="col-padding table-item table-label">Nominal</div>
                                                            <div class="col-padding table-item table-label">Cost Price</div>
                                                            <div class="col-padding table-item table-label">Book Value (R)</div>
                                                            <div class="col-padding table-item table-label">Market Price</div>
                                                            <div class="col-padding table-item table-label">Market Value</div>
                                                            <div class="col-padding table-item table-label">%MV</div>
                                                            <div class="col-padding table-item table-label">Exposure Value (R)</div>
                                                        </div>
                                                        <div class="col-content values" layout?="{{!phoneScreen}}" horizontal?="{{!phoneScreen}}">
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">{{item.name}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" three?="{{!phoneScreen}}">{{item.nominal}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" three?="{{!phoneScreen}}">{{item.costPrice}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.bookValue}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.marketPrice}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.marketValue}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" two?="{{!phoneScreen}}">{{item.MV}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" five?="{{!phoneScreen}}">{{item.exposureValue}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </core-selector>
                                    </core-collapse>
                                </template>
                            </div>
                        </section>
                    </template>
                </core-pages>
            </div>
            <!--Holdings table search results-->
            <div class="table-body" hidden?="{{!showAll}}">
                <core-selector selected="0" valueattr="number">
                    <template repeat="{{item, i in allItems | orderBy(oderVal)}}">
                        <div layout vertical?="{{phoneScreen}}" number="{{i}}">
                            <h1 hidden?="{{!phoneScreen}}" class="table-header table-header-list">{{item.name}}</h1>
                            <div layout horizontal?="{{phoneScreen}}" class="mobile-col-content">
                                <!--Holdings table-headers for mobile view-->
                                <div class="col-content labels" hidden?="{{!phoneScreen}}">
                                    <div class="col-padding table-item table-label">Nominal</div>
                                    <div class="col-padding table-item table-label">Cost Price</div>
                                    <div class="col-padding table-item table-label">Book Value (R)</div>
                                    <div class="col-padding table-item table-label">Market Price</div>
                                    <div class="col-padding table-item table-label">Market Value</div>
                                    <div class="col-padding table-item table-label">%MV</div>
                                    <div class="col-padding table-item table-label">Exposure Value (R)</div>
                                </div>
                                <div class="col-content values" layout?="{{!phoneScreen}}" horizontal?="{{!phoneScreen}}">
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">{{item.name}}</div>
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" three?="{{!phoneScreen}}">{{item.nominal}}</div>
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" three?="{{!phoneScreen}}">{{item.costPrice}}</div>
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.bookValue}}</div>
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.marketPrice}}</div>
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.marketValue}}</div>
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" two?="{{!phoneScreen}}">{{item.MV}}</div>
                                    <div class="col-padding table-item" flex?="{{!phoneScreen}}" five?="{{!phoneScreen}}">{{item.exposureValue}}</div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <!--No matches message-->
                    <div layout vertical?="{{phoneScreen}}">
                        <template if="{{showNoMatches}}">
                            <span class="no-matches">No matches for your request. Try again!</span>
                        </template>
                    </div>
                </core-selector>
            </div>
        </div>
        <core-ajax auto
                   id="classificationItems"
                   on-core-response="{{contentResponse}}" url="{{request}}"></core-ajax>
    </template>
    <script>
        Polymer('holdings-table',{
            ready: function(){
                this.page = 0;
                this.portfolioItemsNoCategory = [];
            },

            contentResponse: function(e, data){
                var me = this;
                if(data.response.success) {
                    me.classificationContent = data.response.item;
                    me.portfolioHoldings = me.classificationContent.holdings;
                    me.allItems = [];
                    me.allPages = [{}];
                    me.sizes = [50,100,200];
                    me.rowSize = me.sizes[0];
                    me.allPages = me.makePages(me.portfolioHoldings, me.rowSize);
                    //Content without categories generation
                    for (var i=0; i < me.portfolioHoldings.length; i++) {
                        me.allItems = me.allItems.concat(me.portfolioHoldings[i].categoryItems);
                    }
                    //Copy content to "filter by name" function
                    me.portfolioItemsNoCategory = me.allItems;
                }
                else {
                    me.allItems = new Array(10);
                    me.portfolioHoldings = {
                        categoryItems:new Array(10)
                    };
                    me.allPages = [[{}]];

                    me.sizes = [50,100,200];
                    me.rowSize = me.sizes[0];
                }

            },

            //When data response make pages with rows size == size selected
            makePages: function(classification, size){
                var pages = [];
                var page = [];
                var rows = [];
                var pagesSettings = [];
                var savedData = [];
                savedData = classification;
                rows = this.getAllItems(savedData);
                pagesSettings = this.getPageSettings(rows,size);

                pages = this.getPages(classification, pagesSettings);

                return pages;
            },

            getPages: function(data, settings){
                var pages = [];
                for (var i = 0; i< settings.length; i++){
                    var page = [];
                    var k = settings[i].categoryStartWith;
                    for (k; k <= settings[i].categoryFinish; k++) {
                        var category = data[k];
                        if (k == settings[i].categoryStartWith){
                            var firstCategory = {};
                            firstCategory.categoryItems = this.cutFirstCategory(category, settings[i].firstCategoryStartIndex);
                            firstCategory.id = category.id;
                            firstCategory.category = category.category;
                            firstCategory.totalBookValue = category.totalBookValue;
                            firstCategory.averageMarketPrice = category.averageMarketPrice;
                            firstCategory.totalMarketValue = category.totalMarketValue;
                            firstCategory.totalPercentageMV = category.totalPercentageMV;
                            firstCategory.totalExposureValue = category.totalExposureValue;
                            page.push(firstCategory);
                        }
                        if (k == settings[i].categoryFinish) {
                            var lastCategory = {};
                            lastCategory.categoryItems = this.cutLastCategory(category, settings[i].lastCategoryFinishIndex);
                            lastCategory.id = category.id;
                            lastCategory.category = category.category;
                            lastCategory.totalBookValue = category.totalBookValue;
                            lastCategory.averageMarketPrice = category.averageMarketPrice;
                            lastCategory.totalMarketValue = category.totalMarketValue;
                            lastCategory.totalPercentageMV = category.totalPercentageMV;
                            lastCategory.totalExposureValue = category.totalExposureValue;
                            page.push(lastCategory);
                        }
                        if ((k!=settings[i].categoryFinish) && (k != settings[i].categoryStartWith)){
                            page.push(category);
                        }
                    }
                    pages.push(page);
                }
                return pages;
            },

            cutFirstCategory: function(category, index){
                var items = [];
                var k = index;
                for (k; k < category.categoryItems.length; k++) {
                    items.push(category.categoryItems[k]);
                }
                return items;
            },

            cutLastCategory:function(category, index){
                var items = [];
                var k = 0;
                for (k; k <= index; k++) {
                    items.push(category.categoryItems[k]);
                }
                return items;
            },

            //add category index to item and index of row
            addCategory: function(category, index){
                var k = 0;
                for (k; k < category.categoryItems.length; k++) {
                    category.categoryItems[k].categoryIndex = index;
                    category.categoryItems[k].itemIndex = k;
                }
            },

            //sum of all rows
            getAllItems: function(data){
                var i = 0;
                var items=[];
                //Content without categories generation
                for (i; i < data.length; i++) {
                    this.addCategory(data[i],i);
                    items = items.concat(data[i].categoryItems);
                }
                return items;
            },

            //Define start category, finish category and rows limit there
            getPageSettings: function(items,size){
                var settings = [];
                var firstItem = 0;
                var lastItem = size-1;
                var pageSettings = {
                    categoryStartWith:0,
                    categoryFinish:0,
                    firstCategoryStartIndex:0,
                    lastCategoryFinishIndex:0
                };

                var pagesLength = Math.ceil(items.length/size);

                for(var i=0; i < pagesLength; i++) {
                    if (i == (pagesLength-1)) {
                        lastItem = items.length-1;
                    }
                    pageSettings = {
                        categoryStartWith:items[firstItem].categoryIndex,
                        categoryFinish:items[lastItem].categoryIndex,
                        firstCategoryStartIndex:items[firstItem].itemIndex,
                        lastCategoryFinishIndex:items[lastItem].itemIndex
                    };
                    settings.push(pageSettings);
                    lastItem = lastItem+size;
                    firstItem = (lastItem-size)+1;
                }

                return settings;
            },

            //Toggle collapses(categories) in the table
            toggle: function(e) {
                var me = this;
                var id = e.currentTarget.attributes.toggleId.value;
                var collapse = me.$.statutoryTable.querySelector('#collapse'+id);
                var icon = me.$.statutoryTable.querySelector('#icon'+id);
                collapse.toggle();
                me.rotateIcon(icon);
            },

            toggleAllCategories: function(e){
                var me = this;
                var icon = e.currentTarget;
                var page = me.$.statutoryTable.querySelector('section[page="'+me.page+'"]');
                var collapses = page.querySelectorAll('.collapse');

                for(var i=0; i<collapses.length; i++){
                    var collapse = me.$.statutoryTable.querySelector('#'+collapses[i].id);
                    collapse.toggle();
                    //var open  = collapse.attributes.opened.value;
                    //collapse.attributes.opened.value = false;
                }

                me.rotateIcon(icon);
            },

            //Rotate arrow icon function
            rotateIcon: function (icon){
                var n = icon.attributes.icon.value;

                if (n == 'arrow-drop-down'){
                    icon.attributes.icon.value = 'arrow-drop-up';
                }
                else {
                    icon.attributes.icon.value = 'arrow-drop-down';
                }
            },

            //"Order by" action
            oderVal:'name',
            order: function (e){
                var criteria = e.currentTarget.attributes.orderval.value;
                this.oderVal = criteria;
            },

            rowSizeChanged: function(){
                var me = this;
                me.allPages = this.makePages(me.portfolioHoldings, parseInt(me.rowSize));
                me.page = 0;
            }
        });
    </script>
</polymer-element>