<link rel="import" href="page-selector.html">
<polymer-element name="holdings-table" attributes="showNoMatches allItems portfolioItemsNoCategory request portfolio searchValue reverse">
    <template>
        <link rel="stylesheet" href="../../../css/portfolio-page.css">
        <link rel="stylesheet" href="../../../css/portfolio-item.css">
        <page-selector pages="{{allPages}}" selectedPage="{{page}}" sizes="{{sizes}}" size="{{rowSize}}" oderVal="{{oderVal}}"></page-selector>
        <!--Holdings table-->
        <div class="table-wrapper">
            <core-media-query query="max-width: 768px"
                              queryMatches="{{phoneScreen}}"></core-media-query>
            <div class="table-header-list" hidden?="{{phoneScreen}}">
                <core-selector id="tableHeader" selected="{{orderVal}}" valueattr="orderval" layout horizontal?="{{!phoneScreen}}">
                    <template repeat="{{header in headers}}">
                        <div class="col-padding table-header link" id="{{header.orderval}}" flex three?="{{header.flex == 'three'}}" four?="{{header.flex == 'four'}}" five?="{{header.flex == 'five'}}" two?="{{header.flex == 'two'}}"  orderval="{{header.orderval}}" textvalue?="{{header.name == 'name'}}">
                            <core-selector class="headers-filters-item" selected="{{selectedDirection}}" valueattr="to"  horizontal layout reverse?="{{header.orderval!='name'}}">
                                <div to="up" class="table-header-label">
                                    <span class="header-name">{{header.name}}</span>
                                    <core-icon icon="arrow-drop-up" class="filter-icon"></core-icon>
                                </div>
                                <div to="down" class="table-header-label">
                                    <span class="header-name">{{header.name}}</span>
                                    <core-icon icon="arrow-drop-down" class="filter-icon"></core-icon>
                                </div>
                            </core-selector>
                        </div>
                    </template>
                </core-selector>
            </div>
            <!--Holdings table -->
            <div id="statutoryTable">
                <core-pages valueattr="page" selected="{{page}}">
                    <template repeat="{{pageItem, i in allPages}}">
                        <section page="{{i}}">
                            <!--Totals values-->
                            <div layout horizontal center-center class="category-totals" hidden?="{{phoneScreen}}" id="totalsBlock" on-tap="{{toggleAllCategories}}">
                                <div class="col-padding table-item portfolio-total-label text-value" flex seven hidden?="{{phoneScreen}}">
                                    <core-icon id="{{'toggleAllIcon'+i}}" class="category-icon total-icon" icon="arrow-drop-down" ></core-icon>
                                    {{portfolio}} TOTAL
                                </div>
                                <div class="col-padding table-item" flex three></div>
                                <div class="col-padding table-item" flex four>{{classificationContent.totalBookValueFormated}}</div>
                                <div class="col-padding table-item" flex four></div>
                                <div class="col-padding table-item" flex four>{{classificationContent.totalMarketValueFormated}}</div>
                                <div class="col-padding table-item" flex two>{{classificationContent.totalPercentageMVFormated}}</div>
                                <div class="col-padding table-item" flex five>{{classificationContent.totalExposureValueFormated}}</div>
                            </div>
                            <div class="table-body no-padding-bottom">
                                <template repeat="{{val in pageItem}}">
                                    <div layout horizontal class="collapse-category" on-tap="{{toggle}}" toggleId="{{val.id+i}}">
                                        <div class="col-padding table-item category-title text-value" flex ten>
                                            <core-icon id="icon{{val.id+i}}" class="category-icon" icon="arrow-drop-down"></core-icon>
                                            {{val.category}}
                                        </div>
                                        <div class="col-padding table-item" flex four hidden?="{{phoneScreen}}">{{val.totalBookValueFormated}}</div>
                                        <div class="col-padding table-item" flex four hidden?="{{phoneScreen}}">{{val.averageMarketPriceFormated}}</div>
                                        <div class="col-padding table-item" flex four hidden?="{{phoneScreen}}">{{val.totalMarketValueFormated}}</div>
                                        <div class="col-padding table-item" flex two hidden?="{{phoneScreen}}">{{val.totalPercentageMVFormated}}</div>
                                        <div class="col-padding table-item" flex five hidden?="{{phoneScreen}}">{{val.totalExposureValueFormated}}</div>
                                    </div>
                                    <core-collapse id="collapse{{val.id+i}}" class="collapse" opened>
                                        <!-- All category items -->
                                        <core-selector selected="0" valueattr="number" class="collapse-content">
                                            <template repeat="{{item, i in val.categoryItems | orderBy(orderVal, reverse) | filterByName(searchValue)}}">
                                                <div layout vertical?="{{phoneScreen}}" number="{{i}}">
                                                    <h1 hidden?="{{!phoneScreen}}" class="table-header-in-collapse">{{item.name}}</h1>
                                                    <div layout horizontal?="{{phoneScreen}}" class="mobile-col-content">
                                                        <!--Holdings table-headers for mobile view-->
                                                        <div class="col-content labels" hidden?="{{!phoneScreen}}">
                                                            <template repeat="{{header in headers}}">
                                                                <div class="col-padding table-item table-label text-value" hidden?="{{header.name == 'Name'}}">{{header.name}}</div>
                                                            </template>
                                                        </div>
                                                        <div class="col-content values" layout?="{{!phoneScreen}}" horizontal?="{{!phoneScreen}}">
                                                            <div class="col-padding table-item text-value" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">{{item.name}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" three?="{{!phoneScreen}}">{{item.nominal}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" three?="{{!phoneScreen}}">{{item.costPriceFormated}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.bookValueFormated}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.marketPriceFormated}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{item.marketValueFormated}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" two?="{{!phoneScreen}}">{{item.percentageMVFormated}}</div>
                                                            <div class="col-padding table-item" flex?="{{!phoneScreen}}" five?="{{!phoneScreen}}">{{item.exposureValueFormated}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </core-selector>
                                    </core-collapse>
                                </template>

                            </div>
                        </section>
                    </template>
                </core-pages>
            </div>
        </div>
        <!--No matches message-->
        <div layout vertical?="{{phoneScreen}}" class="no-matches" id="noMatches"> No matches for your request. Try again!</div>
        <core-ajax auto
                   id="classificationItems"
                   on-core-response="{{contentResponse}}" url="{{request}}"></core-ajax>
    </template>
    <script>
        Polymer('holdings-table',{
            ready: function(){
                this.page = 0;
                this.portfolioItemsNoCategory = [];
            },

            headers:[{
                name:'Name',
                flex: 'four',
                orderval: 'name'
            },
            {
                name:'Nominal',
                flex: 'three',
                orderval: 'nominal'
            },
            {
                name:'Cost Price',
                flex:'three',
                orderval:'costPrice'
            },
            {
                name:'Book Value (R)',
                flex:'four',
                orderval:'bookValue'
            },
            {
                name:'Market Price',
                flex:'four',
                orderval:'marketPrice'
            },
            {
                name:'Market Value',
                flex:'four',
                orderval:'marketValue'
            },
            {
                name: '%MV',
                flex:'two',
                orderval:'MV'
            },
            {
                name:'Exposure Value (R)',
                flex:'five',
                orderval:'exposureValue'
            }],

            contentResponse: function(e, data){
                var me = this;
                if(data.response.success) {
                    me.classificationContent = data.response.item;
                    me.classificationContent = this.formatTotals(me.classificationContent);
                    me.portfolioHoldings = data.response.item.holdings;
                    me.allItems = [];
                    me.sizes = [50,100,200];
                    me.rowSize = me.sizes[0];
                    me.allPages = me.makePages(me.portfolioHoldings, me.rowSize);
                    //Content without categories generation
                    for (var i=0; i < me.portfolioHoldings.length; i++) {
                        me.allItems = me.allItems.concat(me.portfolioHoldings[i].categoryItems);
                    }
                    //Copy content to "filter by name" function
                    me.portfolioItemsNoCategory = me.allItems;
                }
                else {
                    me.allItems = new Array(10);
                    me.portfolioHoldings = {
                        categoryItems:new Array(10)
                    };
                    me.allPages = [[{}]];

                    me.sizes = [50,100,200];
                    me.rowSize = me.sizes[0];
                }

            },

            hideCollapse: function(){
                var me = this;
                var collapses = me.$.statutoryTable.querySelectorAll('.collapse-category');

                for (var i=0; i < collapses.length; i++) {
                    var collapse = collapses[i].nextElementSibling.id;
                    var collapseFull = me.$.statutoryTable.querySelector('#'+collapse);
                    if (collapseFull.offsetHeight != 0) {
                        collapses[i].style.display = 'flex';
                    } else {
                        collapses[i].style.display = 'none';
                    }
                }
            },

            pageChanged: function(){
                this.searchValue = '';
            },

            //Search "Filter by name" function
            filterByName: function(items, value){
                var filtered = [];
                var letterMatch = new RegExp(value, 'i');
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    if (letterMatch.test(item.name)) {
                        filtered.push(item);
                    }
                }
                this.hideCollapse();
                return filtered;
            },

            //When data response make pages with rows size == size selected
            makePages: function(classification, size){
                var pages = [];
                var page = [];
                var rows = [];
                var pagesSettings = [];
                var savedData = [];
                savedData = classification;
                rows = this.getAllItems(savedData);
                pagesSettings = this.getPageSettings(rows,size);

                pages = this.getPages(classification, pagesSettings);

                return pages;
            },

            getPages: function(data, settings){
                var pages = [];
                for (var i = 0; i< settings.length; i++){
                    var page = [];
                    var k = settings[i].categoryStartWith;
                    for (k; k <= settings[i].categoryFinish; k++) {
                        var category = data[k];
                        if (k == settings[i].categoryStartWith){
                            var firstCategory = {};
                            firstCategory.categoryItems = this.cutFirstCategory(category, settings[i].firstCategoryStartIndex);
                            firstCategory.id = category.id;
                            firstCategory.category = category.category;
                            firstCategory.totalBookValue = category.totalBookValue;
                            firstCategory.averageMarketPrice = category.averageMarketPrice;
                            firstCategory.totalMarketValue = category.totalMarketValue;
                            firstCategory.totalPercentageMV = category.totalPercentageMV;
                            firstCategory.totalExposureValue = category.totalExposureValue;
                            firstCategory.averageMarketPriceFormated = category.averageMarketPriceFormated;
                            firstCategory.totalBookValueFormated = category.totalBookValueFormated;
                            firstCategory.totalExposureValueFormated = category.totalExposureValueFormated;
                            firstCategory.totalMarketValueFormated = category.totalMarketValueFormated;
                            firstCategory.totalPercentageMVFormated = category.totalPercentageMVFormated;
                            page.push(firstCategory);
                        }
                        if (k == settings[i].categoryFinish) {
                            var lastCategory = {};
                            lastCategory.categoryItems = this.cutLastCategory(category, settings[i].lastCategoryFinishIndex);
                            lastCategory.id = category.id;
                            lastCategory.category = category.category;
                            lastCategory.totalBookValue = category.totalBookValue;
                            lastCategory.averageMarketPrice = category.averageMarketPrice;
                            lastCategory.totalMarketValue = category.totalMarketValue;
                            lastCategory.totalPercentageMV = category.totalPercentageMV;
                            lastCategory.totalExposureValue = category.totalExposureValue;
                            lastCategory.averageMarketPriceFormated = category.averageMarketPriceFormated;
                            lastCategory.totalBookValueFormated = category.totalBookValueFormated;
                            lastCategory.totalExposureValueFormated = category.totalExposureValueFormated;
                            lastCategory.totalMarketValueFormated = category.totalMarketValueFormated;
                            lastCategory.totalPercentageMVFormated = category.totalPercentageMVFormated;
                            page.push(lastCategory);
                        }
                        if ((k!=settings[i].categoryFinish) && (k != settings[i].categoryStartWith)){
                            page.push(category);
                        }
                    }
                    pages.push(page);
                }
                return pages;
            },

            cutFirstCategory: function(category, index){
                var items = [];
                var k = index;
                for (k; k < category.categoryItems.length; k++) {
                    items.push(category.categoryItems[k]);
                }
                return items;
            },

            cutLastCategory:function(category, index){
                var items = [];
                var k = 0;
                for (k; k <= index; k++) {
                    items.push(category.categoryItems[k]);
                }
                return items;
            },

            //add category index to item and index of row
            addCategory: function(category, index){
                var k = 0;
                category.averageMarketPriceFormated = this.formating(category.averageMarketPrice);
                category.totalBookValueFormated = this.formating(category.totalBookValue);
                category.totalExposureValueFormated = this.formating(category.totalExposureValue);
                category.totalMarketValueFormated = this.formating(category.totalMarketValue);
                category.totalPercentageMVFormated = this.formating(category.totalPercentageMV);

                for (k; k < category.categoryItems.length; k++) {
                    category.categoryItems[k].categoryIndex = index;
                    category.categoryItems[k].itemIndex = k;
                    category.categoryItems = this.formatData(category.categoryItems);
                }
            },

            formatData:function(items){
                var i = 0;
                for (i; i<items.length; i++){
                    items[i].bookValueFormated = this.formating(items[i].bookValue);
                    items[i].costPriceFormated = this.formating(items[i].costPrice);
                    items[i].exposureValueFormated = this.formating(items[i].exposureValue);
                    items[i].marketPriceFormated = this.formating(items[i].marketPrice);
                    items[i].marketValueFormated = this.formating(items[i].marketValue);
                    items[i].percentageMVFormated = this.formating(items[i].percentageMV);
                }
                return items;
            },

            formating: function(value){
                value = this.roundDecimal(value);
                value = this.addCommas(value);
                return value;
            },

            addCommas: function(value){
                value = value.toString();
                value = value.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1,');
                return value;
            },

            roundDecimal: function(value){
                value = Math.round(value * 100) / 100;
                return value;
            },

            //sum of all rows
            getAllItems: function(data){
                var i = 0;
                var items=[];
                //Content without categories generation
                for (i; i < data.length; i++) {
                    this.addCategory(data[i],i);
                    items = items.concat(data[i].categoryItems);
                }
                return items;
            },

            //Define start category, finish category and rows limit there
            getPageSettings: function(items,size){
                var settings = [];
                var firstItem = 0;
                var lastItem = size-1;
                var pageSettings = {
                    categoryStartWith:0,
                    categoryFinish:0,
                    firstCategoryStartIndex:0,
                    lastCategoryFinishIndex:0
                };

                var pagesLength = Math.ceil(items.length/size);

                for(var i=0; i < pagesLength; i++) {
                    if (i == (pagesLength-1)) {
                        lastItem = items.length-1;
                    }
                    pageSettings = {
                        categoryStartWith:items[firstItem].categoryIndex,
                        categoryFinish:items[lastItem].categoryIndex,
                        firstCategoryStartIndex:items[firstItem].itemIndex,
                        lastCategoryFinishIndex:items[lastItem].itemIndex
                    };
                    settings.push(pageSettings);
                    lastItem = lastItem+size;
                    firstItem = (lastItem-size)+1;
                }

                return settings;
            },

            formatTotals: function(items){
                for(var item in items) {
                    items[item+'Formated'] = this.formating(items[item]);
                }
                return items;
            },

            //Toggle collapses(categories) in the table
            toggle: function(e) {
                var me = this;
                var id = e.currentTarget.attributes.toggleId.value;
                var collapse = me.$.statutoryTable.querySelector('#collapse'+id);
                var icon = me.$.statutoryTable.querySelector('#icon'+id);
                collapse.toggle();
                me.rotateIcon(icon);
            },

            toggleAllCategories: function(e){
                var me = this;
                var icon = me.$.statutoryTable.querySelector('#toggleAllIcon'+me.page);
                var page = me.$.statutoryTable.querySelector('section[page="'+me.page+'"]');
                var collapses = page.querySelectorAll('.collapse');

                if(me.rotateIcon(icon) == 'arrow-drop-down'){
                    this.toggleAll(collapses, false);
                }
                else {
                    this.toggleAll(collapses, true);
                }
            },

            toggleAll: function(array, value){
                var me = this;
                var collapses = array;
                for(var i=0; i<collapses.length; i++){
                    var collapse = me.$.statutoryTable.querySelector('#'+collapses[i].id);
                    var icon = me.$.statutoryTable.querySelector('#icon'+collapses[i].id.substring(8));
                    if (value){
                        icon.attributes.icon.value = 'arrow-drop-down'
                    }
                    else {
                        icon.attributes.icon.value = 'arrow-drop-up'
                    }
                    collapse.attributes.opened.value = value;
                }
            },

            //Rotate arrow icon function
            rotateIcon: function (icon){
                var n = icon.attributes.icon.value;

                if (n == 'arrow-drop-down'){
                    icon.attributes.icon.value = 'arrow-drop-up';
                }
                else {
                    icon.attributes.icon.value = 'arrow-drop-down';
                }
                return n;
            },

            //"Order by" action
            orderVal:'name',
            selectedDirection: 'up',
            orderValChanged: function(){
                this.selectedDirection = 'up';
            },

            selectedDirectionChanged: function(e, detail){
                if(this.selectedDirection == 'up'){
                    this.reverse = false;
                }else {
                    this.reverse = true;
                }
            },

            rowSizeChanged: function(){
                var me = this;
                me.allPages = this.makePages(me.portfolioHoldings, parseInt(me.rowSize));
                me.page = 0;
            }
        });
    </script>
</polymer-element>