<polymer-element name="page-selector" attributes="pages selectedPage size sizes oderVal">
    <template>
        <link rel="stylesheet" href="../../../css/portfolio-item.css">
        <div class="holding-table-navigation-wrapper" id="pagesSelector">
            <core-media-query query="max-width: 768px"
                              queryMatches="{{phoneScreen}}"></core-media-query>
            <div layout vertical?="{{phoneScreen}}"
                 horizontal?="{{!phoneScreen}}" start?="{{!phoneScreen}}" class="holding-table-navigation">
                <core-selector layout horizontal start>
                    <div><button class="holding-nav-button" on-tap="{{first}}">First</button></div>
                    <div><button class="holding-nav-button" on-tap="{{prev}}">&#60;&#60;<span class="hide-nav">Prev</span></button></div>
                    <core-selector id="pages" valueattr="name" selected="{{selectedPage}}" layout horizontal start>
                        <template repeat="{{page,i in pages}}">
                            <div name="{{i}}" class="table-page-item">{{i+1}}</div>
                        </template>
                    </core-selector>
                    <div><button class="holding-nav-button" on-tap="{{next}}"><span class="hide-nav">Next</span>&#62;&#62;</button></div>
                    <div><button class="holding-nav-button" on-tap="{{last}}">Last</button></div>
                </core-selector>
                <div class="size-menu-wrapper" horizontal?="{{phoneScreen}}" layout="{{phoneScreen}}">
                    <div>
                        <span class="size-label">Size</span>
                        <paper-dropdown-menu>
                            <paper-dropdown class="dropdown">
                                <core-selector class="menu" valueattr="val" selected="{{size}}">
                                    <template repeat="{{v in sizes}}">
                                        <paper-item val="{{v}}">{{v}}</paper-item>
                                    </template>
                                </core-selector>
                            </paper-dropdown>
                        </paper-dropdown-menu>
                    </div>
                    <div hidden?="{{!phoneScreen}}">
                        <span class="size-label">ORDER BY</span>
                        <paper-dropdown-menu>
                            <paper-dropdown class="dropdown">
                                <core-selector class="menu" valueattr="orderval" selected="name" on-core-select="{{order}}">
                                    <paper-item class="item" orderval="name">NAME</paper-item>
                                    <paper-item class="item" orderval="nominal">NOMINAL</paper-item>
                                    <paper-item class="item" orderval="costPrice">COST PRICE</paper-item>
                                    <paper-item class="item" orderval="bookValue">BOOK VALUE</paper-item>
                                    <paper-item class="item" orderval="marketPrice">MARKET PRICE</paper-item>
                                    <paper-item class="item" orderval="marketValue">MARKET VALUE</paper-item>
                                    <paper-item class="item" orderval="MV">%MV</paper-item>
                                    <paper-item class="item" orderval="exposureValue">EXPOSURE VALUE</paper-item>
                                </core-selector>
                            </paper-dropdown>
                        </paper-dropdown-menu>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer('page-selector',{
            ready: function(){},
            prev: function () {
                this.$.pages.selectPrevious();
            },
            next: function () {
                this.$.pages.selectNext();
            },
            first: function(){
                this.$.pages.selected = 0;
            },
            last: function(){
                var last = this.pages.length - 1;
                this.$.pages.selected = last;
            },
            order: function (event, detail, sendler){
                this.oderVal = sendler.selected;
            }
        });
    </script>
</polymer-element>