<link rel="import" href="../dashboard/chart-board.html">
<link rel="import" href="calendar-dialog.html">
<polymer-element name="portfolio-item">
    <template>
        <link rel="stylesheet" href="../../../css/portfolio-item.css">
        <side-menu class="{{page.class}}" pageUrl="{{page.url}}" pageTitle="{{page.title}}" pageTabs="{{page.tabs}}" tabsArray="{{tabs}}" pagePanel="{{page.panel}}">
            <div subheader class="indent subheader" layout horizontal start>
                <div class="calendar-block">
                    <paper-button class="calendar-button" on-tap="{{openCalendar}}" relative>
                        <core-icon icon="event" class="open-calendar-icon"></core-icon>
                        7 Dec 2014
                        <core-icon icon="arrow-drop-down" class="open-calendar-icon"></core-icon>
                    </paper-button>
                    <paper-dropdown opened="{{calendarStatus}}" id="calendarDialogWrapper">
                        <calendar-dialog></calendar-dialog>
                        <div class="actions">
                            <paper-button role="button" class="closeCalendar" on-tap="{{closeCalendarDialog}}">Cancel</paper-button>
                            <paper-button role="button" class="setDate" on-tap="{{closeCalendarDialog}}">OK</paper-button>
                        </div>
                    </paper-dropdown>
                </div>
                <div class="holding-view">
                    <paper-button class="holding-table-view-button" on-tap="{{tableView}}">
                        <core-icon icon="description" class="open-calendar-icon"></core-icon>
                        ICB
                        <core-icon icon="arrow-drop-down" class="open-calendar-icon"></core-icon>
                    </paper-button>
                    <paper-dropdown opened="{{viewStatus}}" class="holding-view-dropdown">
                        <div class="holding-view-list menu">
                            <paper-item class="item">
                                <div class="label active-view">ICB</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item">
                                <div class="label">Statutory</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                        </div>
                    </paper-dropdown>
                </div>
                <template is="auto-binding">
                    <core-media-query query="max-width: 640px"
                                      queryMatches="{{phoneScreen}}"></core-media-query>
                    <div class="search-block" layout horizontal center-center hidden?="{{phoneScreen}}">
                        <core-field class="search-field">
                            <input placeholder="Filter by name" flex>
                            <core-icon icon="search"></core-icon>
                        </core-field>
                    </div>
                </template>
            </div>
            <div tab0 class="dashboard-view tab-page-content" fit>
                <div class="dashboard-dropdown">
                    <paper-fab class="open" icon="add" on-tap="{{openMenu}}" relative></paper-fab>
                    <paper-dropdown opened="{{menuStatus}}" class="dashboard-menu-dropdown" halign="right" valign="{{menuPosition}}">
                        <div class="menu-list menu">
                            <paper-item class="item">
                                <div class="label">Holding Charts</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item">
                                <div class="label" >Corporate Events</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item">
                                <div class="label">Calendar Events</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                        </div>
                    </paper-dropdown>
                </div>
                <template repeat="{{val in portfolioCharts}}">
                    <chart-board name="{{val.name}}" type="{{val.type}}" values="{{val.data}}"></chart-board>
                </template>
            </div>
            <div tab1 class="holdings-view tab-page-content" fit id="holdings">
                <template is="auto-binding">
                    <core-media-query query="max-width: 640px"
                                      queryMatches="{{phoneScreen}}"></core-media-query>
                    <div layout vertical?="{{phoneScreen}}"
                         horizontal?="{{!phoneScreen}}" start?="{{!phoneScreen}}" class="holding-table-navigation">
                        <div class="holding-table-page" layout horisontal start>
                            <button class="holding-nav-button">First</button>
                            <button class="holding-nav-button">&#60;&#60;<span class="hide-nav">Prev</span></button>
                            <core-selector valueattr="name" selected="1" layout horizontal start>
                                <div name="1" class="table-page-item">1</div>
                                <div name="2" class="table-page-item">2</div>
                                <div name="3" class="table-page-item">3</div>
                                <div name="4" class="table-page-item">4</div>
                            </core-selector>
                            <button class="holding-nav-button"><span class="hide-nav">Next</span>&#62;&#62;</button>
                            <button class="holding-nav-button">Last</button>
                        </div>
                        <div class="size-menu-wrapper">
                            <span class="size-label">Size</span>
                            <paper-dropdown-menu label="50">
                                <paper-dropdown class="dropdown">
                                    <core-menu class="menu">
                                        <paper-item class="current">50</paper-item>
                                        <paper-item>100</paper-item>
                                        <paper-item>200</paper-item>
                                    </core-menu>
                                </paper-dropdown>
                            </paper-dropdown-menu>
                        </div>
                    </div>
                </template>
                <div class="table-wrapper">
                    <div class="portfolio-table">
                        <ul class="table-header-list">
                            <li class="col-padding table-header col-5">Name</li>
                            <li class="col-padding table-header col-4">Nominal</li>
                            <li class="col-padding table-header col-4">Cost Price</li>
                            <li class="col-padding table-header col-5">Book value (R)</li>
                            <li class="col-padding table-header col-5">Market Price</li>
                            <li class="col-padding table-header col-5">Market Value</li>
                            <li class="col-padding table-header col-3">%MV</li>
                            <li class="col-padding table-header col-6">Exposure Value (R)</li>
                        </ul>
                        <template repeat="{{val in portfolioHoldings}}">
                            <div class="table-body">
                                <ul class="portfolio-link collapse-category" on-tap="{{toggle}}" toggleId="{{val.id}}">
                                    <li class="col-padding table-item col-13">
                                        <core-icon icon="arrow-drop-down" class="open-calendar-icon"></core-icon>
                                        {{val.category}}
                                    </li>
                                    <li class="col-padding table-item col-5">{{val.averageBookVal}}</li>
                                    <li class="col-padding table-item col-5">{{val.averageMarcPrice}}</li>
                                    <li class="col-padding table-item col-5">{{val.averageMacVal}}</li>
                                    <li class="col-padding table-item col-3">{{val.averageMV}}</li>
                                    <li class="col-padding table-item col-6">{{val.averageExpVal}}</li>
                                </ul>
                                <core-collapse id="collapse{{val.id}}">
                                    <template repeat="{{item in val.categoryItems}}">
                                        <ul class="col-content portfolio-link">
                                            <li class="col-padding table-item col-5">{{item.name}}</li>
                                            <li class="col-padding table-item col-4">{{item.nominal}}</li>
                                            <li class="col-padding table-item col-4">{{item.costPrice}}</li>
                                            <li class="col-padding table-item col-5">{{item.bookValue}}</li>
                                            <li class="col-padding table-item col-5">{{item.marketPrice}}</li>
                                            <li class="col-padding table-item col-5">{{item.marketValue}}</li>
                                            <li class="col-padding table-item col-3">{{item.MV}}</li>
                                            <li class="col-padding table-item col-6">{{item.exposureValue}}</li>
                                        </ul>
                                    </template>
                                </core-collapse>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </side-menu>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="portfolioItem"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('portfolio-item',{
            ready: function(){
                this.$.portfolioItem.url = this.$.globals.url+'resources/json/portfolio-item.json';
                if (this.selected == 1) {
                    console.log(this.selected);
                }
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    me.portfolioItemContent = data.response.item;
                    me.portfolioCharts =  data.response.item.charts;
                    me.page.title = "Portfolio > "+ me.portfolioItemContent.title;
                    me.portfolioHoldings = data.response.item.holdings;
                }
            },
            holdingTab: false,
            openCalendar: function(e) {
                var me = this;
                me.calendarStatus = true;
            },
            calendarStatus: false,
            closeCalendarDialog: function(e) {
                var me = this;
                me.calendarStatus = false;
            },
            openMenu: function(e){
                var me = this;
                var width = window.innerWidth;
                if (width <= '640') {
                    me.menuPosition = 'bottom';
                }
                me.menuStatus = true;
            },
            menuStatus: false,
            menuPosition: 'top',
            page: {
                class: 'portfolio-item',
                url: 'portfolio/item/1',
                title: 'Portfolio > ...',
                tabs: true,
                panel: true
            },
            tabs: [{name: 'dashboard', label: 'Dashboard'}, {name:'holdings', label: 'Holdings'}],
            toggle: function(e) {
                var id = e.currentTarget.attributes.toggleId.value;
                this.$.holdings.querySelectorAll('#collapse'+id)[0].toggle();
            },
            openSizeMenu: function(e){
                var me = this;
                me.sizeMenuStatus = true;
            },
            sizeMenuStatus:false,
            tableView:function(e){
                var me = this;
                me.viewStatus = true;
            },
            viewStatus:false
        })
    </script>
</polymer-element>