<link rel="import" href="date-selector.html">
<link rel="import" href="table-filter.html">
<link rel="import" href="holdings-table.html">
<link rel="import" href="../dashboard/dashboard-charts.html">
<polymer-element name="portfolio-item" attributes="itemId selectedTab route">
    <template>
        <link rel="stylesheet" href="../../../css/portfolio-item.css">
        <!-- Main content -->
        <div layout vertical fit>
            <!--Subheader-->
            <paper-shadow z="1" class="subheader-shadow">
                <core-toolbar id="subheader" class="subheader" layout horizontal relative center>
                    <!--Calendar-->
                    <date-selector curDate="{{date}}"></date-selector>
                    <!--Holdings subheader-->
                        <!--Holdings table view dropdown menu-->
                        <div class="holding-view" layout horizontal center hidden?="{{selectedTab != 'holdings'}}">
                            <core-icon icon="description" class="open-calendar-icon"></core-icon>
                            <paper-dropdown-menu>
                                <paper-dropdown class="dropdown">
                                    <core-selector class="menu" valueattr="view" selected="{{selectedView}}" id="views">
                                        <template repeat="{{class in classifications}}">
                                            <paper-item view="{{'classification'+class.id}}">{{class.name}}</paper-item>
                                        </template>
                                    </core-selector>
                                </paper-dropdown>
                            </paper-dropdown-menu>
                        </div>
                        <!--"Filter by name" search-->
                        <table-filter hidden?="{{selectedTab != 'holdings'}}" id="filter" flex showNoMatches="{{showNoMatches}}" allItems="{{allItems}}" portfolioItemsNoCategory="{{portfolioItemsNoCategory}}" showAll="{{showAll}}"></table-filter>
                </core-toolbar>
            </paper-shadow>
            <core-pages valueattr="name" selected="{{selectedTab}}" flex>
                <section name="dashboard" class="content" fit>
                    <dashboard-charts class="content" fit dashboardContent="{{portfolioCharts}}" id="charts"></dashboard-charts>
                </section>
                <section name="holdings">
                    <core-pages valueattr="view" selected="{{selectedView}}"  fit>
                        <template repeat="{{class in classifications}}">
                            <section view="{{'classification'+class.id}}" class="content">
                                <holdings-table request="{{request+selectedView+'.json'}}" showNoMatches="{{showNoMatches}}" allItems="{{allItems}}" portfolioItemsNoCategory="{{portfolioItemsNoCategory}}" showAll="{{showAll}}" portfolio="{{portfolioItemContent.title}}"></holdings-table>
                            </section>
                        </template>
                    </core-pages>
                </section>
            </core-pages>
        </div>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="portfolioItem"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('portfolio-item',{
            ready: function(){
                this.$.portfolioItem.url = this.$.globals.url+'resources/json/portfolio-item'+this.itemId+'.json';
                this.request = this.$.globals.url+'resources/json/portfolio-item'+this.itemId;
                this.selectedTab = 'dashboard';
                this.selectedView = 'classification1';
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success) {
                    me.portfolioItemContent = data.response.item;
                    me.portfolioCharts = data.response.item.charts;
                    me.classifications = data.response.item.classifications;
                }
                me.$.charts.updateDragAndDropsArray();
            }
        })
    </script>
</polymer-element>