<polymer-element name="table-filter" attributes="searchValue">
    <template>
        <link rel="stylesheet" href="../../../css/portfolio-item.css">
        <core-media-query query="max-width: 768px"
                          queryMatches="{{phoneScreen}}"></core-media-query>
        <div layout horizontal center flex?="{{!phoneScreen}}" fit?="{{phoneScreen}}" class="hide-search" id="field">
            <core-field class="search-field"  fit?="{{phoneScreen}}">
                <!--<input id="searchField" is="core-input" name="input" placeholder="Filter by name" flex on-keyup="{{filterByName}}">-->
                <input id="searchField" is="core-input" name="input" placeholder="Filter by name" flex value="{{searchValue}}">
                <core-icon id="filterIcon" icon="{{icon}}" on-tap="{{clearSearchValue}}"></core-icon>
            </core-field>
        </div>
        <core-icon-button icon="search" on-tap="{{openFilter}}" hidden?="{{!phoneScreen}}"></core-icon-button>
    </template>
    <script>
        Polymer('table-filter',{
            //Search "Filter by name" function
            filterByName: function (e) {
                var me = this;
                var filtered = [];
                var searchValue = '';

                searchValue = me.$.searchField.value;

                //var items =  me.portfolioItemsNoCategory;
                var items =  me.portfolioItemsNoCategory;
                var letterMatch = new RegExp(searchValue, 'i');

                me.showNoMatches = false;

                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    if (letterMatch.test(item.name)) {
                        filtered.push(item);
                    }
                }

                if (filtered.length <=0) {
                    me.showNoMatches = true;
                }

                me.showAll = true;

                if (searchValue == '') {
                    me.showAll = false;
                    this.icon = 'search';
                } else {
                    this.icon = 'clear';
                }

                return me.allItems = filtered;
            },

            //Toggle filtering dropdown(mobile view)
            openFilter: function(){
                var search = this.$.field;
                search.classList.remove('hide-search');
                this.icon = 'clear';
            },

            icon: 'search',

            clearSearchValue: function(){
                var phoneScreen = this.phoneScreen;
                var search = this.$.field;
                if (phoneScreen) {
                    search.classList.add('hide-search');
                }
                this.searchValue = '';
                //this.filterByName();
            },

            searchValueChanged: function(){
                if (this.searchValue > ''){
                    this.icon = 'clear';
                } else {
                    this.icon = 'search';
                }
            }
        });
    </script>
</polymer-element>