dom-module#charts-list
    template
        link(rel="stylesheet" href="../../../css/charts-list.css")
        chart-bar#chartBar.holding-chart(data="{{data}}")
    script(src="charts-list.js", rel="text/javascript")


