<polymer-element name="newpass-page" attributes="logo">
    <template>
        <link rel="stylesheet" href="../../../css/reset-page.css">
        <div vertical layout fit class="reset-password">
            <div class="header" flex>
                <div class="logo-wrapper">
                    <logo-main url="{{logo}}"></logo-main>
                </div>
            </div>
            <div flex six relative>
                <div class="content" fit>
                    <paper-shadow z="1">
                        <span class="reset-message">Please create your new password.</span>
                        <form layout vertical>
                            <div self-center layout vertical start>
                                <paper-input-decorator id="newPass" label="New Password"
                                                        floatingLabel
                                                        error="Please enter New Password">
                                    <input required
                                           value="123456"
                                           type="password">
                                </paper-input-decorator>
                                <paper-input-decorator id="confirmPass" label="Confirm Password"
                                                       floatingLabel
                                                       error="Passwords are not same">
                                    <input required
                                           value="123456"
                                           type="password">
                                </paper-input-decorator>
                            </div>
                            <div class="login-button">
                                <paper-button class="submit"
                                              on-tap="{{newPassSubmit}}"
                                              raised>Submit</paper-button>
                            </div>
                        </form>
                    </paper-shadow>
                </div>
            </div>
            <!--Footer-->
            <footer-page flex></footer-page>
        </div>
        <paper-action-dialog id="loginDialog"
                             backdrop
                             transition="core-transition-center"
                             style="width: 300px;"
                             layered="false">
            <p>{{dialogText}}</p>
            <paper-button affirmative autofocus class="action-button" on-tap="{{loginGo}}">Ok</paper-button>
        </paper-action-dialog>
    </template>
    <script>
        Polymer('newpass-page',{
            newPassSubmit:function(){
                var newPass = this.$.newPass;
                var confirmPass = this.$.confirmPass;
                if (newPass.validate() && this.passConfirmed()){
                    //Submit here
                    console.log('valid');
                    this.resetMassage();
                }
            },
            passConfirmed: function(){
                var newPass = this.$.newPass.input.value;
                var confirmPass = this.$.confirmPass.input.value;
                var confirmed = false;
                if(newPass == confirmPass){
                    confirmed = true;
                    this.$.confirmPass.setAttribute('isInvalid',false);
                }
                else {
                    this.$.confirmPass.setAttribute('isInvalid',true);
                }
                return confirmed;
            },
            resetMassage: function(){
                this.dialogText = 'Your password is update';
                this.$.loginDialog.toggle();
            },
            loginGo: function(){
                setTimeout(function(){
                    document.querySelector('flatiron-director').route = 'login';
                },2000);
            }
        });
    </script>
</polymer-element>