<polymer-element name="profile-page" attributes="userId">
    <template>
        <link rel="stylesheet" href="../../../css/profile-page.css">
        <div class="header">
            <h2 class="profile-name title-item">Profile: {{user.name}}</h2>
        </div>
        <core-media-query query="max-width: 768px"
                          queryMatches="{{phoneScreen}}"></core-media-query>
        <div class="profile-form-wrapper" layout vertical?="{{phoneScreen}}"
             horizontal?="{{!phoneScreen}}" start?="{{!phoneScreen}}" >
            <div flex?="{{!phoneScreen}}" class="profile-form">
                <form class="user-data" id="userForm">
                    <paper-input-decorator id="firstName"
                                           label="First Name"
                                           floatingLabel
                                           error="Please enter First Name">
                        <input type="text" value="{{user.firstName}}" required  readonly?="{{!editOpen}}">
                    </paper-input-decorator>
                    <paper-input-decorator id="lastName"
                                           label="Last Name"
                                           floatingLabel
                                           error="Please enter Last Name">
                        <input type="text" value="{{user.lastName}}" required  readonly?="{{!editOpen}}">
                    </paper-input-decorator>
                    <paper-input-decorator id="email"
                                           label="E-mail"
                                           floatingLabel
                                           error="Please enter correct Email">
                        <input type="email" value="{{user.email}}" required  readonly?="{{!editOpen}}">
                    </paper-input-decorator>
                    <paper-input-decorator id="cellPhone"
                                           label="Cellphone"
                                           floatingLabel>
                        <input type="tel" value="{{user.cellPhone}}"  readonly?="{{!editOpen}}">
                    </paper-input-decorator>
                    <paper-input-decorator id="idNumber"
                                           label="ID Number"
                                           floatingLabel>
                        <input type="text" value="{{user.idNumber}}" readonly?="{{!editOpen}}">
                    </paper-input-decorator>
                </form>
            </div>
            <div flex?="{{!phoneScreen}}" class="profile-image">
                <core-image id="photo" relative class="profile-photo" src="{{user.photo}}" sizing="cover" style="width: 200px; height: 200px">
                    <div fit class="image-upload-preview" vertical layout center-center hidden?="{{!editOpen}}">
                        <img class="camera" src="../../../img/camera.png">
                        <span class="profile-photo-msg">Change your <br> Profile Photo</span>
                        <span class="profile-photo-size">200px x 200px</span>
                        <input type="file" id="photoUpload" class="open-uploader" fit on-change="{{uploadPhoto}}">
                    </div>
                </core-image>
            </div>
        </div>
        <div class="profile-controls">
            <div layout horizontal start>
                <paper-button class="control-button" on-tap="{{openEdit}}" hidden?="{{editOpen}}">Edit Profile</paper-button>
            </div>
            <div layout horizontal start-justified hidden?="{{!editOpen}}">
                <paper-button class="control-button" on-tap="{{saveProfile}}">Save Changes</paper-button>
                <paper-button class="control-button" on-tap="{{closeEdit}}">Cancel</paper-button>
            </div>
        </div>
        <paper-action-dialog id="errorDialog"
                             heading="Error"
                             backdrop
                             transition="core-transition-center">
            <p>{{dialogText}}</p>
            <paper-button affirmative autofocus class="action-button">Ok</paper-button>
        </paper-action-dialog>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="profileContent"
                   handleAs="json"
                   on-core-response="{{contentResponse}}"></core-ajax>
        <core-ajax auto
                   id="profileContentSave"
                   method="POST"
                   handleAs="json"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('profile-page',{
            user: {
                name: '',
                firstName: ' ',
                lastName: ' ',
                email: 'example@com',
                cellphone: ' ',
                idNumber: 0,
                photo: 'img/icon-profile.png'
            },            
            userIdChanged: function (){
 //               this.$.profileContent.url = this.$.globals.urlws+'resources/json/user.json/'+ localStorage.getItem('userId');
                this.$.profileContent.url = this.$.globals.urlws+'resources/json/user.json/'+ this.userId;
            },
            contentResponse: function(e, data){
                var me = this;
                var userFormFields = {
                    userFirstNameField: me.$.firstName,
                    userLastNameField: me.$.lastName,
                    userEmailField: me.$.email,
                    userCellphoneField: me.$.cellphone,
                    userIdNumberField: me.$.idNumber
                };

                //Data came
                if(data.response.success){
                    me.userData = data.response.user;
                    me.user = me.userData;
                    if((me.user.photo == '') || (!me.user.photo)){
                        me.user.photo = 'img/icon-profile.png';
                    }
                    me.user.name = '"'+me.userData.firstName + ' ' + me.userData.lastName+'"';

                }
                else {
                    //Data lost or empty form
                    me.user.name = '';

                    for (var field in userFormFields) {
                        updateUserFormLabels(userFormFields[field]);
                    }

                    function updateUserFormLabels(e){
                        e.input.value = '';
                        e.updateLabelVisibility();
                    }
                }
            },
            openEdit: function(){
                this.editOpen = true;
            },
            saveProfile: function(){
                var firstName = this.$.firstName;
                var lastName = this.$.lastName;
                var email = this.$.email;
                var idnumber = this.$.idNumber;
                var cellphone = this.$.cellPhone;
                var photourl = this.$.photo.src;
                if(firstName.validate()&& lastName.validate() && email.validate()) {
                    
                    this.$.profileContentSave.url = this.$.globals.urlws+'resources/json/editprofile.json';
                    this.$.profileContentSave.body = "{'userId': '" + localStorage.getItem('userId') + "','firstName': '" + firstName.input.value + "','lastName': '" + lastName.input.value + "','email': '" + email.input.value + "','cellPhone': '" + cellphone.input.value + "','idNumber': '" + idnumber.input.value + "','photo': '" + photourl + "'}" ;

                    this.editOpen = false;
                }
            },
            closeEdit: function(){
                this.editOpen = false;
            },
            errorMessage: function(text){
                this.dialogText = text;
                this.$.errorDialog.toggle();
            },

            //upload New Photo functional
            uploadPhoto: function(event, detail, sendler){
                var dialog = this.$.errorDialog;
                var dialogText = this.dialogText;
                var url = this.$.photo;

                this.handleFileSelect(event, function(e){
                    var image = new Image();
                    image.src = e.target.result;
                    if (image.width == 200 && image.height == 200) {
                        url.src = e.target.result;
                    }
                    else {
                        dialog.querySelector('p').innerHTML = 'Image must be 200px X 200px!';
                        dialog.toggle();
                    }
                });
            },

            handleFileSelect: function(evt, callback){
                var file = evt.target.files[0]; // FileList object
                var error = this.errorMessage;
                // Only process image files.
                if (file.type.match('image.*')) {
                    var reader = new FileReader();
                    // Closure to capture the file information.
                    reader.onload = callback;
                    // Read in the image file as a data URL.
                    reader.readAsDataURL(file);
                }
                else {
                    this.errorMessage('Please choose an image!');
                }
            }
        });
    </script>
</polymer-element>