.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

d-calendar.portfolio-item-calendar {
  display: block;
  background: #FFFFFF;
}
d-calendar.portfolio-item-calendar /deep/ #wrapper {
  display: inline-block;
}
d-calendar.portfolio-item-calendar /deep/ #wrapper #calendar-selection {
  float: left;
  display: inline-block;
}
d-calendar.portfolio-item-calendar /deep/ #wrapper #calendar {
  float: left;
  display: inline-block;
}
d-calendar.portfolio-item-calendar /deep/ #selectedWeekdayHeader {
  background: #DD1F29;
  position: relative;
}
d-calendar.portfolio-item-calendar /deep/ #selectedWeekdayHeader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
}
d-calendar.portfolio-item-calendar /deep/ #selectedDateHeader {
  background: #DD1F29;
  height: 264px;
}
d-calendar.portfolio-item-calendar /deep/ .day[selected]:after, d-calendar.portfolio-item-calendar /deep/ .day:after {
  background: #DD1F29;
}
d-calendar.portfolio-item-calendar /deep/ .viewingMonthYear, d-calendar.portfolio-item-calendar /deep/ .weekday-name, d-calendar.portfolio-item-calendar /deep/ .day, d-calendar.portfolio-item-calendar /deep/ paper-icon-button {
  color: #000000;
}
d-calendar.portfolio-item-calendar /deep/ #dateView {
  background: #FFFFFF;
}
d-calendar.portfolio-item-calendar /deep/ .day.currentday, d-calendar.portfolio-item-calendar /deep/ #header paper-icon-button:active {
  color: #DD1F29;
}
d-calendar.portfolio-item-calendar /deep/ #selectedDateHeader > div {
  margin: 10px 0;
}
d-calendar.portfolio-item-calendar /deep/ #years paper-button /deep/ .button-content {
  color: #000000;
}
d-calendar.portfolio-item-calendar /deep/ paper-button::shadow #ripple {
  color: #DD1F29;
}
@media screen and (max-width: 768px) {
  d-calendar.portfolio-item-calendar /deep/ #wrapper {
    width: 276px;
  }
  d-calendar.portfolio-item-calendar /deep/ #wrapper #calendar-selection {
    display: none;
  }
  d-calendar.portfolio-item-calendar /deep/ #years paper-button /deep/ .button-content {
    font-size: 14px;
  }
}
