.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

:host /deep/ .chart-dropdown {
  font-weight: normal;
}
:host /deep/ .drop-chart-here {
  height: 100%;
  display: block;
  text-align: center;
  color: #979797;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid #979797;
  background: #EDEDED;
}
@media screen and (max-width: 768px) {
  :host /deep/ .dashboard-dropdown {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
  }
  :host /deep/ .dashboard-dropdown #addChart {
    margin-bottom: 0;
  }
}

.chart-board {
  width: 48%;
  float: left;
}
.chart-board paper-shadow {
  border-radius: 2px;
  background-color: #FFFFFF;
  margin: 8px auto 16px;
  padding: 8px 0 16px 0;
}
.chart-board paper-shadow .chart-title {
  padding: 0 8px 0 16px;
  font-weight: bold;
  font-size: 20px;
}
.chart-board paper-shadow .chart {
  margin: 0 16px;
}
@media screen and (max-width: 768px) {
  .chart-board {
    width: 100%;
  }
  .chart-board paper-shadow .chart-title {
    font-size: 16px;
  }
}

chart-board:nth-child(even) /deep/ .chart-board {
  padding-right: 4%;
}
chart-board:nth-child(even) .chart-board:nth-child(even) {
  padding-right: 0;
}

drop-chart:nth-child(odd) /deep/ .chart-board {
  padding-right: 4%;
}
drop-chart:nth-child(odd) .chart-board:nth-child(even) {
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  chart-board:nth-child(even) /deep/ .chart-board {
    padding-right: 0;
    margin-left: 0;
  }
}
