.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

/*Dialogs styles*/
html /deep/ paper-action-dialog paper-button.action-button,
html /deep/ paper-action-dialog paper-button.action-button {
  color: #DD1F29;
}
html /deep/ paper-action-dialog form {
  color: #4A4A4A;
}
html /deep/ paper-action-dialog .or {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
html /deep/ paper-action-dialog .browse-field {
  margin-bottom: 10px;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
  border-right: 0;
}
html /deep/ paper-action-dialog .browse-button {
  margin: 0;
  background: #D8D8D8;
  color: #4A4A4A;
  border-left: 1px solid #4A4A4A;
  border-right: 1px solid #4A4A4A;
}
html /deep/ paper-action-dialog .browse-input {
  line-height: 33px;
}
html /deep/ paper-action-dialog .upload-label {
  display: block;
  margin-bottom: 10px;
}
html /deep/ paper-action-dialog .browse-hidden {
  opacity: 0;
}
html /deep/ paper-action-dialog .upload-drag-drop-zone {
  border: 1px solid #4A4A4A;
  display: block;
  border-radius: 5px;
}
html /deep/ paper-action-dialog .drag-drop-label {
  display: block;
  text-align: center;
  padding: 10%;
  color: #4A4A4A;
}
html /deep/ paper-dialog paper-button {
  color: #DD1F29;
}
html /deep/ paper-dialog paper-input-decorator /deep/ .label-text {
  color: #DD1F29;
}
html /deep/ paper-dialog paper-input-decorator /deep/ ::-webkit-input-placeholder {
  color: #979797;
}
html /deep/ paper-dialog paper-input-decorator /deep/ ::-moz-placeholder {
  color: #979797;
}
html /deep/ paper-dialog paper-input-decorator /deep/ :-ms-input-placeholder {
  color: #979797;
}
html /deep/ paper-dialog paper-input-decorator /deep/ .unfocused-underline {
  background-color: #979797;
}
html /deep/ paper-dialog paper-input-decorator /deep/ .focused-underline {
  background-color: #DD1F29;
}
html /deep/ paper-dialog paper-input-decorator /deep/ .floated-label #floatedLabelText {
  color: #DD1F29;
}
html /deep/ paper-dialog paper-input-decorator /deep/ input {
  color: #000000;
}
html /deep/ paper-dialog paper-input-decorator[focused] /deep/ .floating-label .error {
  color: salmon;
}
html /deep/ paper-dialog paper-input-decorator.invalid /deep/ .floating-label .label-text {
  color: salmon;
}
html /deep/ paper-dialog paper-input-decorator.invalid /deep/ .focused-underline {
  background-color: salmon;
}
