.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

.login-page {
  background-color: #979797;
}
.login-page .content {
  overflow-y: auto;
}
.login-page .header .logo-wrapper {
  width: 224px;
  margin: 15px;
}
.login-page .header .logo-wrapper img {
  width: 100%;
}
.login-page .content {
  font-size: 16px;
}
.login-page .content > paper-shadow {
  background-color: #D8D8D8;
  border-radius: 4px;
  padding: 30px;
}
.login-page .content > paper-shadow form paper-input-decorator {
  /* Firefox 19+ */
  /* Firefox 18- */
}
.login-page .content > paper-shadow form paper-input-decorator ::-webkit-input-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator ::-moz-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator :-moz-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator :-ms-input-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator /deep/ .label-text {
  font-size: 16px;
  color: #DD1F29;
}
.login-page .content > paper-shadow form paper-input-decorator /deep/ .unfocused-underline {
  background-color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator /deep/ .focused-underline {
  background-color: #DD1F29;
}
.login-page .content > paper-shadow form paper-input-decorator /deep/ .floated-label .label-text {
  font-size: 14px;
}
.login-page .content > paper-shadow form .login-button {
  margin: 20px auto 20px;
}
.login-page .content > paper-shadow form .login-button .submit {
  margin: 0;
  background-color: #DD1F29;
  color: #FFFFFF;
}
.login-page .content > paper-shadow form .login-button core-label {
  background-color: #979797;
  cursor: pointer;
  color: #FFFFFF;
  padding: 1px 15px;
  height: 30px;
  font-size: 12px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.login-page .content > paper-shadow form .login-button core-label .remember {
  margin-right: 10px;
}
.login-page .content > paper-shadow form .login-button core-label paper-checkbox /deep/ #checkbox {
  border-color: #4A4A4A;
}
.login-page .content > paper-shadow form .login-button core-label paper-checkbox /deep/ #checkbox.checked {
  background-color: #DD1F29;
  border-color: #DD1F29;
}
.login-page .content > paper-shadow > div {
  padding: 10px 0;
  text-align: center;
}
.login-page .content > paper-shadow > div a {
  color: #fff;
  font-size: 14px;
}
.login-page .content .create {
  margin: 30px 0 0;
  text-align: center;
  color: #FFFFFF;
}
.login-page .content .create paper-button {
  background-color: #DD1F29;
  margin: 15px 0 0;
}
.login-page .content .create paper-button a {
  color: #FFFFFF;
  text-decoration: none;
}
.login-page footer-page /deep/ .footer {
  color: #FFFFFF;
  font-weight: lighter;
  background-color: transparent;
}
@media screen and (max-height: 670px) {
  .login-page footer-page /deep/ .footer {
    position: initial;
  }
}
@media screen and (min-width: 480px) {
  .login-page .header .logo-wrapper {
    margin: 20px 0 60px 0;
  }
  .login-page .content {
    font-size: 20px;
  }
  .login-page .content > paper-shadow {
    padding: 30px;
  }
  .login-page .content > paper-shadow form {
    width: 320px;
    margin: auto;
  }
  .login-page .content > paper-shadow > div a {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .login-page .header {
    width: 768px;
    margin: auto;
  }
  .login-page .content {
    width: 708px;
    margin: 0 auto;
  }
  .login-page .content > paper-shadow form paper-input-decorator /deep/ .label-text {
    font-size: 20px;
  }
  .login-page .content > paper-shadow form paper-input-decorator /deep/ .floated-label .label-text {
    font-size: 16px;
  }
  .login-page .content > paper-shadow form input {
    font-size: 20px;
  }
}
@media screen and (min-width: 960px) {
  .login-page .header {
    width: 960px;
    margin: auto;
  }
}
