.chart-board {
  width: 48%;
  float: left;
}
.chart-board paper-shadow {
  border-radius: 2px;
  background-color: #FFFFFF;
  margin: 8px auto 16px;
  padding: 8px 0 16px 0;
}
.chart-board paper-shadow .chart-title {
  padding: 0 8px 0 16px;
  font-weight: bold;
  font-size: 20px;
}
.chart-board paper-shadow .chart {
  margin: 0 16px;
}
@media screen and (max-width: 768px) {
  .chart-board {
    width: 100%;
  }
  .chart-board paper-shadow .chart-title {
    font-size: 16px;
  }
}

chart-board:nth-child(even) /deep/ .chart-board {
  padding-right: 4%;
}
chart-board:nth-child(even) .chart-board:nth-child(even) {
  padding-right: 0;
}

drop-chart:nth-child(odd) /deep/ .chart-board {
  padding-right: 4%;
}
drop-chart:nth-child(odd) .chart-board:nth-child(even) {
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  chart-board:nth-child(even) /deep/ .chart-board {
    padding-right: 0;
    margin-left: 0;
  }
}
.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

.tab-page-content {
  overflow-y: auto;
  padding: 26px 26px 0 60px;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.spinner {
  background: #EDEDED;
  z-index: 2;
}
.spinner paper-spinner::shadow .circle {
  border-color: #DD1F29;
}

.tabs-panel /deep/ core-toolbar.tabs-toolbar {
  background-color: #979797;
}

.title-item {
  margin: 5px 0;
  padding: 3px 0;
  font-size: 18px;
  border-bottom: 1px solid #D8D8D8;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  .tab-page-content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

:host .logo {
  height: 32px;
  vertical-align: middle;
  margin: 0 16px;
  font-size: 0;
}
:host .logo img {
  width: 100%;
  position: relative;
}
:host .logo .logo-color {
  width: 15%;
  height: 100%;
  background-color: #DD1F29;
}
