.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

.table-body {
  font-size: 0;
  background: #FFFFFF;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 0 16px 40px 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.col-padding {
  padding: 16px;
}

.col-content {
  border-bottom: 1px solid #EDEDED;
}

.table-header {
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-item {
  font-size: 14px;
  vertical-align: top;
}

.table-header-list {
  background: #4A4A4A;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.table-header-list {
  padding: 0 16px;
}

.link {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .table-body {
    padding: 0;
  }

  .table-header-list {
    display: inline-block;
    padding: 16px;
    margin: 0;
  }

  .table-header {
    font-size: 16px;
  }

  .labels {
    border-right: 1px solid #D8D8D8;
    width: 48%;
    vertical-align: top;
  }
  .labels .col-padding {
    padding: 16px 6px 16px 16px;
  }
  .labels .table-item {
    border-bottom: 1px solid transparent;
  }
  .labels .table-item:last-child {
    border-bottom: 0;
  }

  .table-label {
    text-transform: uppercase;
    font-weight: bold;
  }

  .values {
    width: 51%;
    vertical-align: top;
  }
  .values .table-item {
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 1px solid #D8D8D8;
  }
  .values .table-item:last-child {
    border-bottom: 0;
  }

  .mobile-col-content[layout][horizontal] {
    display: none;
  }

  .core-selected .mobile-col-content[layout][horizontal] {
    display: inherit;
  }
}
