.chart-board {
  width: 48%;
  float: left;
}
.chart-board paper-shadow {
  border-radius: 2px;
  background-color: #FFFFFF;
  margin: 8px auto 16px;
  padding: 8px 0 16px 0;
}
.chart-board paper-shadow .chart-title {
  padding: 0 8px 0 16px;
  font-weight: bold;
  font-size: 20px;
}
.chart-board paper-shadow .chart {
  margin: 0 16px;
}
@media screen and (max-width: 768px) {
  .chart-board {
    width: 100%;
  }
  .chart-board paper-shadow .chart-title {
    font-size: 16px;
  }
}

chart-board:nth-child(even) /deep/ .chart-board {
  padding-right: 4%;
}
chart-board:nth-child(even) .chart-board:nth-child(even) {
  padding-right: 0;
}

drop-chart:nth-child(odd) /deep/ .chart-board {
  padding-right: 4%;
}
drop-chart:nth-child(odd) .chart-board:nth-child(even) {
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  chart-board:nth-child(even) /deep/ .chart-board {
    padding-right: 0;
    margin-left: 0;
  }
}
.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

.tab-page-content {
  overflow-y: auto;
  padding: 26px 26px 0 60px;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.spinner {
  background: #EDEDED;
  z-index: 2;
}
.spinner paper-spinner::shadow .circle {
  border-color: #DD1F29;
}

.tabs-panel /deep/ core-toolbar.tabs-toolbar {
  background-color: #979797;
}

.title-item {
  margin: 5px 0;
  padding: 3px 0;
  font-size: 18px;
  border-bottom: 1px solid #D8D8D8;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  .tab-page-content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

.table-body {
  font-size: 0;
  background: #FFFFFF;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 0 16px 40px 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.col-padding {
  padding: 16px;
}

.col-content {
  border-bottom: 1px solid #EDEDED;
}

.table-header {
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-item {
  font-size: 14px;
  vertical-align: top;
}

.table-header-list {
  background: #4A4A4A;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.table-header-list {
  padding: 0 16px;
}

.link {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .table-body {
    padding: 0;
  }

  .table-header-list {
    display: inline-block;
    padding: 16px;
    margin: 0;
  }

  .table-header {
    font-size: 16px;
  }

  .labels {
    border-right: 1px solid #D8D8D8;
    width: 48%;
    vertical-align: top;
  }
  .labels .col-padding {
    padding: 16px 6px 16px 16px;
  }
  .labels .table-item {
    border-bottom: 1px solid transparent;
  }
  .labels .table-item:last-child {
    border-bottom: 0;
  }

  .table-label {
    text-transform: uppercase;
    font-weight: bold;
  }

  .values {
    width: 51%;
    vertical-align: top;
  }
  .values .table-item {
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 1px solid #D8D8D8;
  }
  .values .table-item:last-child {
    border-bottom: 0;
  }

  .mobile-col-content[layout][horizontal] {
    display: none;
  }

  .core-selected .mobile-col-content[layout][horizontal] {
    display: inherit;
  }
}
:host /deep/ .dashboard-dropdown {
  position: fixed;
  top: 98px;
  right: 45px;
  z-index: 1;
}
:host /deep/ paper-tabs {
  background-color: #DD1F29;
  color: #FFFFFF;
  text-transform: uppercase;
}
:host /deep/ paper-tabs paper-tab {
  max-width: 150px;
}
:host /deep/ paper-tabs /deep/ #ink {
  color: #FFFFFF;
}
:host /deep/ paper-tabs /deep/ #selectionBar {
  background-color: #FFFFFF;
}
:host /deep/ .subheader {
  padding: 0 52px;
  background-color: #979797;
}
:host /deep/ .holding-view /deep/ #label {
  padding: 0 5px;
}
@media screen and (max-width: 768px) {
  :host /deep/ .subheader {
    padding: 0 0 0 26px;
  }
  :host /deep/ .dashboard-dropdown {
    position: fixed;
    right: 16px;
    bottom: 16px;
    top: auto;
  }
  :host /deep/ .calendar-button /deep/ .button-content {
    font-size: 16px;
  }
  :host /deep/ #label {
    font-size: 14px;
  }
  :host /deep/ .holding-view /deep/ #label {
    font-size: 16px;
  }
  :host /deep/ .nav-style, :host /deep/ .table-page-item, :host /deep/ .holding-nav-button, :host /deep/ .table-page-item, :host /deep/ .holding-nav-button {
    font-size: 12px;
  }
  :host /deep/ .size-menu-wrapper {
    margin: 10px 0 0 0;
  }
}
@media screen and (max-width: 320px) {
  :host /deep/ .hide-nav {
    display: none;
  }
  :host /deep/ .dialog-wrapper {
    bottom: 75px;
  }
}
:host /deep/ .subheader {
  position: relative;
}
:host /deep/ core-toolbar.portfolio-item-panel {
  background: #979797;
}
:host /deep/ core-toolbar /deep/ ::content > .holding-view {
  margin-right: 8px;
  min-width: 160px;
}
:host /deep/ .search-block {
  padding: 0.25em 0.57em;
}
:host /deep/ .search-field {
  background: #FFFFFF;
  padding: 8px 8px 8px 0;
}
:host /deep/ #searchField {
  padding: 0 15px;
  width: 50%;
  line-height: 17px;
}
:host /deep/ core-selector.menu .core-selected {
  background-color: #FFFFFF;
  border-left: 0;
}
:host /deep/ core-selector.menu .core-selected /deep/ .button-content {
  padding-left: 14px;
}

.calendar-button /deep/ .button-content {
  padding: 0.5em 0 0.25em;
}
.calendar-button /deep/ .selected-date {
  text-transform: none;
  padding: 0 5px;
}

.holding-view paper-dropdown-menu {
  border-bottom: 0;
}
.holding-view paper-dropdown-menu /deep/ #label, .holding-view paper-dropdown-menu /deep/ #arrow {
  color: #FFFFFF;
  text-transform: uppercase;
}
.holding-view /deep/ paper-item {
  color: #000000;
  text-transform: uppercase;
}
.holding-view /deep/ .core-selected {
  color: #DD1F29;
}

#calendarDialogWrapper {
  top: 13px;
}

.actions {
  float: right;
  display: inline-block;
  margin-bottom: 10px;
}
.actions paper-button.closeCalendar /deep/ .button-content {
  color: #DD1F29;
}
.actions paper-button.setDate /deep/ .button-content {
  color: #DD1F29;
}

.holding-table-navigation {
  margin-bottom: 10px;
}

.nav-style, .table-page-item, .holding-nav-button {
  margin-left: 1px;
  font-size: 14px;
  border: 1px solid #979797;
  line-height: 19px;
}

.table-page-item {
  width: 19px;
  height: 19px;
  text-align: center;
  background: #979797;
}

.table-page-item.core-selected {
  background: #DD1F29;
  color: #FFFFFF;
}

.nav-button, .holding-nav-button {
  padding: 0 6px;
  text-transform: uppercase;
}

.holding-nav-button {
  background: #D8D8D8;
  outline-color: #979797;
}

.size-menu-wrapper {
  margin-left: 10px;
}
.size-menu-wrapper .size-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
.size-menu-wrapper paper-dropdown-menu {
  margin: 0;
  padding: 0;
  line-height: 21px;
  height: 21px;
  border-bottom: 0;
}
.size-menu-wrapper paper-dropdown-menu /deep/ #label, .size-menu-wrapper paper-dropdown-menu /deep/ #arrow {
  color: #000000;
}
.size-menu-wrapper paper-item {
  font-size: 14px;
  margin: 0 auto;
}
.size-menu-wrapper paper-item.core-selected {
  color: #DD1F29;
}

.collapse-category {
  background: #D8D8D8;
  padding: 0;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.collapse-category .table-item {
  line-height: 24px;
}
.collapse-category .category-icon {
  color: #FFFFFF;
}
.collapse-category .col-padding.category-title {
  padding-right: 2px;
}

.collapse-category:last-child {
  border-bottom: 0;
}

.rotate {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.table-body {
  border-top: 0;
  padding: 0 0 30px 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.table-header {
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.table-header-list {
  padding: 0;
}

.filter-icon {
  display: none;
  position: absolute;
  top: 16px;
  right: 0;
}

.core-selected .filter-icon {
  display: inline-block;
}

.col-content {
  margin: 0 16px;
}
.col-content .col-padding:last-child {
  padding: 16px 0 16px 6px;
}
.col-content .col-padding:first-child {
  padding: 16px 6px 16px 0;
}

.col-padding {
  padding: 16px 6px;
}

.col-padding:last-child {
  padding: 16px 16px 16px 6px;
}

.col-padding:first-child {
  padding: 16px 6px 16px 16px;
}

.no-matches {
  display: block;
  padding: 30px 6px 0 6px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #979797;
}

@media screen and (max-width: 1024px) {
  .cost-price-icon {
    right: -8px;
  }

  .book-value-icon {
    right: -7px;
  }

  .market-price-icon {
    right: -4px;
  }

  .market-value-icon {
    right: -5px;
  }
}
.mobile-filters {
  top: 13px;
}

.filters-menu .label {
  color: #000000;
}

@media screen and (max-width: 768px) {
  :host /deep/ .labels {
    margin: 0;
  }
  :host /deep/ .labels .col-padding:last-child {
    padding: 16px 6px 16px 16px;
  }
  :host /deep/ .labels .col-padding:first-child {
    padding: 16px 6px 16px 16px;
  }
  :host /deep/ .values .col-padding:last-child {
    padding: 16px 0;
  }
  :host /deep/ .filters-menu .label {
    font-size: 14px;
  }
  :host /deep/ .search-field {
    padding: 0;
  }
  :host /deep/ .search-field input {
    line-height: 24px;
  }
  :host /deep/ .table-header {
    font-size: 14px;
    line-height: 14px;
    padding: 16px;
  }
  :host /deep/ .table-item {
    font-size: 13px;
  }
  :host /deep/ .collapse-category {
    background: #4A4A4A;
    border-top: 0;
    border-bottom: 1px solid #979797;
    font-size: 14px;
  }
  :host /deep/ .collapse-category .category-title {
    color: #FFFFFF;
    text-transform: uppercase;
  }
  :host /deep/ .collapse-category:last-child {
    border-bottom: 0;
  }
  :host /deep/ .table-header-in-collapse {
    background: #D8D8D8;
    padding: 16px;
    border-top: 0;
    border-bottom: 1px solid #EDEDED;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    color: #000000;
    margin: 0;
    font-weight: normal;
  }
  :host /deep/ .no-matches {
    padding: 16px;
    font-size: 14px;
  }
}
