.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 16px;
  }
}
paper-fab {
  background: #D8D8D8;
  color: #4A4A4A;
  margin-bottom: 16px;
}

:host /deep/ core-pages {
  display: none;
}
:host /deep/ .header {
  margin-bottom: 55px;
}
:host /deep/ .title-item {
  margin: 5px 0;
  padding: 3px 0;
  font-size: 18px;
  border-bottom: 1px solid #D8D8D8;
}
:host /deep/ .profile-photo {
  margin: 0 0 0 20%;
}
:host /deep/ .user-data {
  width: 100%;
  margin-bottom: 150px;
  margin-right: 5%;
}
:host /deep/ .user-data paper-input-decorator /deep/ .label-text {
  color: #DD1F29;
  font-size: 18px;
  font-weight: bold;
}
:host /deep/ .user-data paper-input-decorator /deep/ ::-webkit-input-placeholder {
  color: #979797;
  font-size: 18px;
  font-weight: bold;
}
:host /deep/ .user-data paper-input-decorator /deep/ ::-moz-placeholder {
  color: #979797;
  font-size: 18px;
  font-weight: bold;
}
:host /deep/ .user-data paper-input-decorator /deep/ :-ms-input-placeholder {
  color: #979797;
  font-size: 18px;
  font-weight: bold;
}
:host /deep/ .user-data paper-input-decorator /deep/ .unfocused-underline {
  background-color: #979797;
}
:host /deep/ .user-data paper-input-decorator /deep/ .focused-underline {
  background-color: #DD1F29;
}
:host /deep/ .user-data paper-input-decorator /deep/ .floated-label .label-text {
  font-size: 16px;
  color: #DD1F29;
}
:host /deep/ .user-data paper-input-decorator /deep/ input {
  font-size: 18px;
  color: #000000;
}
:host /deep/ .user-data paper-input-decorator[focused] /deep/ .floating-label .error {
  color: salmon;
}
:host /deep/ .user-data paper-input-decorator.invalid /deep/ .floating-label .label-text {
  color: salmon;
}
:host /deep/ .user-data paper-input-decorator.invalid /deep/ .focused-underline {
  background-color: salmon;
}
@media screen and (max-width: 480px) {
  :host /deep/ .header {
    margin-bottom: 40px;
  }
  :host /deep/ .profile-form-wrapper[layout][vertical] {
    display: table;
    width: 100%;
  }
  :host /deep/ .profile-image {
    display: table-header-group;
  }
  :host /deep/ .profile-photo {
    margin: 0;
  }
  :host /deep/ .profile-form {
    display: table-footer-group;
  }
  :host /deep/ .user-data paper-input-decorator /deep/ .label-text {
    font-size: 16px;
  }
  :host /deep/ .user-data paper-input-decorator /deep/ .error {
    font-size: 14px;
  }
  :host /deep/ .user-data paper-input-decorator /deep/ ::-webkit-input-placeholder {
    font-size: 16px;
  }
  :host /deep/ .user-data paper-input-decorator /deep/ ::-moz-placeholder {
    font-size: 16px;
  }
  :host /deep/ .user-data paper-input-decorator /deep/ :-ms-input-placeholder {
    font-size: 16px;
  }
  :host /deep/ .user-data paper-input-decorator /deep/ .floated-label .label-text {
    font-size: 14px;
  }
  :host /deep/ .user-data paper-input-decorator input {
    font-size: 16px;
  }
}
