.core-toolbar, .profile-page /deep/ core-toolbar {
  background-color: #DD1F29;
  color: #FFFFFF;
}
.core-toolbar .logo, .profile-page /deep/ core-toolbar .logo {
  height: 100%;
  line-height: 64px;
}
.core-toolbar .logo img, .profile-page /deep/ core-toolbar .logo img {
  width: 100%;
  vertical-align: middle;
}

core-selector.menu core-icon {
  margin-right: 0.5em;
}
core-selector.menu .child {
  padding-left: 38px;
}
core-selector.menu .core-selected {
  background-color: #D8D8D8;
  border-left: 7px solid #DD1F29;
}
core-selector.menu .core-selected /deep/ .button-content {
  padding-left: 9px;
}
core-selector.menu .core-selected.child {
  border-left: 30px solid #DD1F29;
  padding-left: 15px;
}
core-selector.menu h3 {
  padding: 0 1em;
  font-weight: normal;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.tabs {
  background-color: #DD1F29;
  color: #FFFFFF;
  text-transform: uppercase;
}
.tabs /deep/ #ink {
  color: #FFFFFF;
}
.tabs /deep/ #selectionBar {
  background-color: #FFFFFF;
}

.tabs-panel /deep/ core-toolbar.tabs-toolbar {
  background-color: #979797;
}

.profile-page /deep/ .header h2 {
  margin: 5px 0 60px 0;
  padding: 3px 0;
  font-size: 18px;
  border-bottom: 1px solid #b3b3b3;
}
.profile-page /deep/ core-image {
  margin: 0.75em 0;
}
.profile-page /deep/ .content {
  padding: 26px;
  padding-left: 52px;
  position: relative;
}
.profile-page /deep/ form {
  width: 60%;
  margin-right: 10%;
}
.profile-page /deep/ form paper-input-decorator /deep/ .label-text {
  font-size: 18px;
  color: #DD1F29;
}
.profile-page /deep/ form paper-input-decorator /deep/ .unfocused-underline {
  background-color: #8e8e9a;
}
.profile-page /deep/ form paper-input-decorator /deep/ :host([focused]) .floated-label .label-text {
  color: #DD1F29;
}
.profile-page /deep/ form paper-input-decorator /deep/ .focused-underline {
  background-color: #DD1F29;
  color: #DD1F29;
}
.profile-page /deep/ form paper-input-decorator /deep/ #floatedLabelText {
  color: #DD1F29;
}
.profile-page /deep/ form paper-input-decorator /deep/ input {
  font-size: 18px;
  color: #000000;
}
.profile-page /deep/ form paper-input-decorator /deep/ input::-webkit-input-placeholder {
  color: #8e8e9a;
}
.profile-page /deep/ form paper-input-decorator /deep/ input::-moz-placeholder {
  color: #8e8e9a;
}
.profile-page /deep/ form paper-input-decorator /deep/ input:-moz-placeholder {
  color: #8e8e9a;
}
.profile-page /deep/ form paper-input-decorator /deep/ input:-ms-input-placeholder {
  color: #8e8e9a;
}
.profile-page /deep/ .footer {
  width: 92%;
  position: fixed;
  bottom: 15px;
  font-size: 12px;
  color: #b3b3b3;
}
.profile-page /deep/ .footer hr {
  color: #b3b3b3;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .profile-page /deep/ .content {
    padding-left: 30px;
  }
  .profile-page /deep/ .footer {
    width: 85%;
  }
}
