.core-toolbar {
  background-color: #DD1F29;
  color: #FFFFFF;
}
.core-toolbar .logo {
  height: 100%;
  line-height: 64px;
}
.core-toolbar .logo img {
  width: 100%;
  vertical-align: middle;
}

core-selector core-icon {
  margin-right: 0.5em;
}
core-selector .child {
  padding-left: 38px;
}
core-selector .core-selected {
  background-color: #D8D8D8;
  border-left: 7px solid #DD1F29;
}
core-selector .core-selected /deep/ .button-content {
  padding-left: 9px;
}
core-selector .core-selected.child {
  border-left: 30px solid #DD1F29;
  padding-left: 15px;
}
core-selector h3 {
  padding: 0 1em;
  font-weight: normal;
}

.login-page .header .logo, .signup-page .header .logo {
  width: 200px;
  margin: 15px;
}
.login-page .header .logo img, .signup-page .header .logo img {
  width: 100%;
}
.login-page .content, .signup-page .content {
  margin: 15px;
  font-size: 16px;
}
.login-page .content > paper-shadow, .signup-page .content > paper-shadow {
  background-color: #D8D8D8;
  border-radius: 4px;
  padding: 30px;
}
.login-page .content > paper-shadow form paper-input-decorator, .signup-page .content > paper-shadow form paper-input-decorator {
  /* Firefox 19+ */
  /* Firefox 18- */
}
.login-page .content > paper-shadow form paper-input-decorator ::-webkit-input-placeholder, .signup-page .content > paper-shadow form paper-input-decorator ::-webkit-input-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator ::-moz-placeholder, .signup-page .content > paper-shadow form paper-input-decorator ::-moz-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator :-moz-placeholder, .signup-page .content > paper-shadow form paper-input-decorator :-moz-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator :-ms-input-placeholder, .signup-page .content > paper-shadow form paper-input-decorator :-ms-input-placeholder {
  color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator /deep/ .label-text, .signup-page .content > paper-shadow form paper-input-decorator /deep/ .label-text {
  font-size: 16px;
  color: #DD1F29;
}
.login-page .content > paper-shadow form paper-input-decorator /deep/ .unfocused-underline, .signup-page .content > paper-shadow form paper-input-decorator /deep/ .unfocused-underline {
  background-color: #000000;
}
.login-page .content > paper-shadow form paper-input-decorator /deep/ .focused-underline, .signup-page .content > paper-shadow form paper-input-decorator /deep/ .focused-underline {
  background-color: #DD1F29;
}
.login-page .content > paper-shadow form .login-button, .signup-page .content > paper-shadow form .login-button {
  margin: 20px auto 20px;
}
.login-page .content > paper-shadow form .login-button .submit, .signup-page .content > paper-shadow form .login-button .submit {
  margin: 0;
  background-color: #DD1F29;
  color: #FFFFFF;
}
.login-page .content > paper-shadow form .login-button core-label, .signup-page .content > paper-shadow form .login-button core-label {
  background-color: #979797;
  cursor: pointer;
  color: #FFFFFF;
  padding: 1px 15px;
  height: 30px;
  font-size: 12px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.login-page .content > paper-shadow form .login-button core-label .remember, .signup-page .content > paper-shadow form .login-button core-label .remember {
  margin-right: 10px;
}
.login-page .content > paper-shadow form .login-button core-label paper-checkbox /deep/ #checkbox, .signup-page .content > paper-shadow form .login-button core-label paper-checkbox /deep/ #checkbox {
  border-color: #4A4A4A;
}
.login-page .content > paper-shadow form .login-button core-label paper-checkbox /deep/ #checkbox.checked, .signup-page .content > paper-shadow form .login-button core-label paper-checkbox /deep/ #checkbox.checked {
  background-color: #DD1F29;
  border-color: #DD1F29;
}
.login-page .content > paper-shadow > div, .signup-page .content > paper-shadow > div {
  padding: 10px 0;
  text-align: center;
}
.login-page .content > paper-shadow > div a, .signup-page .content > paper-shadow > div a {
  color: #fff;
  font-size: 14px;
}
.login-page .content .create, .signup-page .content .create {
  margin: 30px 0 0;
  text-align: center;
  color: #FFFFFF;
}
.login-page .content .create paper-button, .signup-page .content .create paper-button {
  background-color: #DD1F29;
  margin: 15px 0 0;
}
.login-page .content .create paper-button a, .signup-page .content .create paper-button a {
  color: #FFFFFF;
  text-decoration: none;
}
.login-page .footer, .signup-page .footer {
  margin: 15px 15px 35px;
  color: #FFFFFF;
  font-weight: lighter;
}
@media screen and (min-width: 480px) {
  .login-page .header .logo, .signup-page .header .logo {
    margin: 30px;
  }
  .login-page .content, .signup-page .content {
    margin: 0 30px;
    font-size: 20px;
  }
  .login-page .content > paper-shadow, .signup-page .content > paper-shadow {
    padding: 30px;
  }
  .login-page .content > paper-shadow form, .signup-page .content > paper-shadow form {
    width: 320px;
    margin: auto;
  }
  .login-page .content > paper-shadow > div a, .signup-page .content > paper-shadow > div a {
    font-size: 16px;
  }
  .login-page .footer, .signup-page .footer {
    margin: 30px 30px 35px;
  }
}
@media screen and (min-width: 768px) {
  .login-page .header, .signup-page .header {
    width: 960px;
    margin: auto;
  }
  .login-page .content, .signup-page .content {
    width: 708px;
    margin: 0 auto;
  }
  .login-page .footer, .signup-page .footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }
}
