side-menu /deep/ core-toolbar {
  background-color: #DD1F29;
  color: #FFFFFF;
}
side-menu /deep/ core-toolbar .logo {
  height: 100%;
  line-height: 64px;
}
side-menu /deep/ core-toolbar .logo img {
  width: 100%;
  vertical-align: middle;
}
side-menu /deep/ div[tool] {
  margin-left: 0;
}
side-menu /deep/ chart-board:nth-child(even) /deep/ .chart-board {
  padding-right: 4%;
}
side-menu /deep/ chart-board:nth-child(even) .chart-board:nth-child(even) {
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  side-menu /deep/ chart-board:nth-child(even) /deep/ .chart-board {
    padding-right: 0;
    margin-left: 0;
  }
}

core-selector.menu core-icon {
  margin-right: 0.5em;
}
core-selector.menu .child {
  padding-left: 38px;
}
core-selector.menu .core-selected {
  background-color: #D8D8D8;
  border-left: 7px solid #DD1F29;
}
core-selector.menu .core-selected /deep/ .button-content {
  padding-left: 9px;
}
core-selector.menu .core-selected.child {
  border-left: 30px solid #DD1F29;
  padding-left: 15px;
}
core-selector.menu h3 {
  padding: 0 1em;
  font-weight: normal;
}

.chart-board {
  width: 48%;
  float: left;
}
.chart-board paper-shadow {
  border-radius: 2px;
  background-color: #FFFFFF;
  margin: 8px auto 16px;
  padding: 8px 0 16px 0;
}
.chart-board paper-shadow .title {
  padding: 0 8px 0 16px;
  font-weight: bold;
  font-size: 20px;
}
.chart-board paper-shadow .chart {
  margin: 0 16px;
}
@media screen and (max-width: 768px) {
  .chart-board {
    width: 100%;
  }
  .chart-board paper-shadow .title {
    font-size: 16px;
  }
}

.content {
  padding: 26px 26px 0 60px;
  overflow-y: scroll;
  margin-bottom: 52px;
}

.tab-page-content {
  overflow-y: auto;
  padding: 26px 26px 0 60px;
  margin-bottom: 52px;
}

.ul-reset, .table-header-list, .col-content {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

paper-tabs {
  background-color: #DD1F29;
  color: #FFFFFF;
  text-transform: uppercase;
}
paper-tabs paper-tab {
  max-width: 150px;
}
paper-tabs /deep/ #ink {
  color: #FFFFFF;
}
paper-tabs /deep/ #selectionBar {
  background-color: #FFFFFF;
}

.tabs-panel /deep/ core-toolbar.tabs-toolbar {
  background-color: #979797;
}

.title-item {
  margin: 5px 0;
  padding: 3px 0;
  font-size: 18px;
  border-bottom: 1px solid #b3b3b3;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 26px 10px 60px;
  color: #b3b3b3;
}
.footer hr {
  color: #b3b3b3;
  margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
  .content {
    padding: 26px 26px 0 26px;
    margin-bottom: 62px;
  }

  .footer {
    font-size: 12px;
    padding: 10px 26px;
  }

  .tab-page-content {
    padding: 26px 26px 0 26px;
    margin-bottom: 62px;
  }

  core-toolbar /deep/ .bottom.fit.indent {
    margin-left: 26px;
  }
}
.ul-reset, .table-header-list, .col-content {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.table-body {
  font-size: 0;
  background: #FFFFFF;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  padding: 0 16px 44px 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.col-padding {
  padding: 16px;
}

.col-content {
  border-bottom: 1px solid #EDEDED;
}

.table-header {
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.table-item {
  font-size: 14px;
  vertical-align: top;
}

.portfolio-table {
  width: 100%;
  font-size: 0;
  margin: 0;
}

.table-header-list {
  background: #4A4A4A;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.table-header-list {
  padding: 0 16px;
}

@media screen and (max-width: 640px) {
  .test-table /deep/ .table-body {
    padding: 0;
  }
  .test-table /deep/ .table-header-list {
    display: inline-block;
    padding: 16px;
  }
  .test-table /deep/ .col-content {
    display: inline-block;
  }
  .test-table /deep/ .headers {
    background: #D8D8D8;
    border-right: 1px solid #979797;
  }
}
