#loginPage.login-page.fit.layout.vertical
    .login-page-content.layout.vertical.fit
        .login-logo-wrapper
            img.fundamental-logo(src="assets/images/logo-light.png")
        .login-form-wrapper.flex
            form#loginForm.login-form(is="iron-form")
                paper-input.red-color(name="loginEmail", type="text", validator="", label="Email")
                paper-input.red-color(name="loginPass", type="password", validator="", label="Password")
        footer-element
