<polymer-element name="index-page">
    <template>
        <link rel="stylesheet" href="../../../css/index-page.css">
        <div vertical layout class="login-page">
            <div class="header">
                <div class="logo"><img src="../../../img/logo-light.png"></div>
            </div>
            <div class="content">
                <paper-shadow z="1">
                    <form vertical layout>
                        <paper-input-decorator label="Email"
                                               floatingLabel
                                               error="Please enter valid Email">
                            <input id="email" required type="email">
                        </paper-input-decorator>
                        <paper-input-decorator label="Password"
                                               floatingLabel
                                               error="Please enter Password">
                            <input is="core-input" required type="password">
                        </paper-input-decorator>
                        <div class="login-button" horizontal layout center>
                            <paper-button class="submit" raised>Submit</paper-button>
                            <core-label horizontal layout center>
                                <div class="remember">Remember Me</div>
                                <paper-checkbox for checked></paper-checkbox>
                            </core-label>
                        </div>
                    </form>
                    <div>
                        <a href="#!/forgot">Help! I forgot my password</a>
                    </div>
                </paper-shadow>
                <div class="create">
                    <div>Don't have an account?</div>
                    <paper-button raised>
                        <a href="#!/signup">Sign Up Here</a>
                    </paper-button>
                </div>
            </div>
            <div class="footer">
                <hr>
                2015 Fundamental Software Pty Ltd. All Rights Reserved | Privacy | Terms of Use
            </div>
        </div>
    </template>
    <script>
        Polymer('index-page', {
            ready: function(){
//                this.$.login.toggle();
            }
        });
    </script>
</polymer-element>