dom-module#holdings-table
    template
        div(class$="layout [[toggleClass(tabWidthScreen, 'vertical', 'horizontal start center')]]")
            .pagination-wrapper.layout.horizontal.start.center
                button.pagination-item First
                button.pagination-item
                    span &lsaquo;&lsaquo;
                    span(hidden="[[mobileWidthScreen]]") Prev
                .data-table-pagination
                    iron-selector(selected="{{pageSelected}}", attr-for-selected="data-page")
                        button.pagination-item.page-button(data-page='1') 1
                        button.pagination-item.page-button(data-page='2') 2
                        button.pagination-item.page-button(data-page='3') 3
                        button.pagination-item.page-button(data-page='4') 4
                button.pagination-item
                    span(hidden="[[mobileWidthScreen]]") Next
                    span &rsaquo;&rsaquo;
                button.pagination-item Last
            .filters-wrapper.layout.horizontal.start.center(hidden="[[!tabWidthScreen]]")
                span.size-label Filter by
                paper-menu-button.dropdown-menu.data-table-size(open-animation-config='[[openAnimationConfig]]', vertical-offset="4", horizontal-offset="2")
                    paper-button.size-btn.dropdown-trigger
                        span.size-label [[filter]]
                        iron-icon(icon="arrow-drop-down")
                    paper-menu.dropdown-content(selected="{{filter}}" attr-for-selected="data-filter")
                        paper-item(data-filter="name") Name
                        paper-item(data-filter="nominal") Nominal
                        paper-item(data-filter="cost price") Cost price
                        paper-item(data-filter="book value") Book value (R)
                        paper-item(data-filter="market value") Market price
                        paper-item(data-filter="market value") Market value
                        paper-item(data-filter="percentage MV") MV%
                        paper-item(data-filter="exposure value") Exposure value (R)
            .size-wrapper.layout.horizontal.start.center
                span.size-label Size
                paper-menu-button.dropdown-menu.data-table-size(open-animation-config='[[openAnimationConfig]]', vertical-offset="4", horizontal-offset="2")
                    paper-button.size-btn.dropdown-trigger
                        span.size-label [[tableSize]]
                        iron-icon(icon="arrow-drop-down")
                    paper-menu.dropdown-content(selected="{{tableSize}}" attr-for-selected="data-size")
                        paper-item(data-size="50") 50
                        paper-item(data-size="100") 100
                        paper-item(data-size="200") 200
        .data-table-wrapper
            table.data-table.secondary-table
                thead.data-thead(hidden="[[tabWidthScreen]]")
                    tr.data-thead-tr
                        th.data-thead-th.row-start
                            span.th-content Name
                        th.data-thead-th
                            span.th-content Nominal
                        th.data-thead-th
                            span.th-content Cost price
                        th.data-thead-th
                            span.th-content Book value (R)
                        th.data-thead-th
                            span.th-content Market price
                        th.data-thead-th
                            span.th-content Market value
                        th.data-thead-th.row-pre-end
                            span.th-content MV%
                        th.data-thead-th.row-end
                            span.th-content Exposure value (R)
                    tr.data-thead-tr.totals
                        th.data-thead-th.row-start(colspan="3")
                            span.th-content Total
                        th.data-thead-th
                            span.th-content [[currentClassificationsData.totalBookValue]]
                        th.data-thead-th
                            span.th-content [[currentClassificationsData.averageMarketPrice]]
                        th.data-thead-th
                            span.th-content [[currentClassificationsData.totalMarketValue]]
                        th.data-thead-th.row-pre-end
                            span.th-content [[currentClassificationsData.totalPercentageMV]]
                        th.data-thead-th.row-end
                            span.th-content [[currentClassificationsData.totalExposureValue]]
                tbody(class$="data-tbody [[addClass(tabWidthScreen, 'mobile-data-tbody')]]")
                    tr.empty-space-row
                        td.empty-space(colspan="8")
                    template(is="dom-repeat", items="[[holdings]]", as="holding")
                        tr.mobile-data-thead(hidden="[[!tabWidthScreen]]", data-index="[[index]]")
                            td
                                span.td-content [[holding.category]]
                        tr.data-tbody-tr.category-row(hidden="[[tabWidthScreen]]")
                            td.data-tbody-td.row-start(colspan="3")
                                span.td-content [[holding.category]]
                            td.data-tbody-td(colspan="2")
                                span.td-content [[holding.totalBookValue]]
                            td.data-tbody-td
                                span.td-content [[holding.totalMarketValue]]
                            td.data-tbody-td.row-pre-end
                                span.td-content [[holding.totalPercentageMV]]
                            td.data-tbody-td.row-end
                                span.td-content [[holding.totalExposureValue]]
                        template(is="dom-repeat", items="[[holding.categoryItems]]")
                            tr.mobile-data-row-thead(hidden="[[!tabWidthScreen]]", data-index="[[index]]", on-tap="openTableRow")
                                td
                                    span.td-content [[item.name]]
                            tr.data-tbody-tr.mobile-data-td
                                td.data-tbody-td.row-start(hidden="[[tabWidthScreen]]")
                                    span.td-content [[item.name]]
                                td.data-tbody-td
                                    span.td-label(hidden="[[!tabWidthScreen]]") Nominal
                                    span.td-content [[item.nominal]]
                                td.data-tbody-td
                                    span.td-label(hidden="[[!tabWidthScreen]]") Cost price
                                    span.td-content [[item.costPrice]]
                                td.data-tbody-td
                                    span.td-label(hidden="[[!tabWidthScreen]]") Book value (R)
                                    span.td-content [[item.bookValue]]
                                td.data-tbody-td
                                    span.td-label(hidden="[[!tabWidthScreen]]") Market price
                                    span.td-content [[item.marketPrice]]
                                td.data-tbody-td
                                    span.td-label(hidden="[[!tabWidthScreen]]") Market value
                                    span.td-content [[item.marketValue]]
                                td.data-tbody-td.row-pre-end
                                    span.td-label(hidden="[[!tabWidthScreen]]") MV%
                                    span.td-content [[item.percentageMV]]
                                td.data-tbody-td.row-end
                                    span.td-label(hidden="[[!tabWidthScreen]]") Exposure value (R)
                                    span.td-content [[item.exposureValue]]
    script(src="holdings-table.js", rel="text/javascript")
