$color-red: #DD1F29;
$color-dark-red: #90141a;
$color-grey-dark: #4A4A4A;
$color-gray-dark-light: #8e8e9a;
$color-grey-medium: #979797;
$color-grey-medium-pre: #b3b3b3;
$color-grey-medium-light: #D8D8D8;
$color-grey-light: #EDEDED;
$color-white: #FFFFFF;
$color-black: #000000;

$size-mobile: 640px;
$size-tablet: 768px;

$font-size-mobile: 16px;
$font-size-mobile-small: 14px;
$font-size-mobile-footer: 12px;
$font-size-desktop: 20px;
$font-size-desktop-small: 18px;

@mixin placeholder($color) {
  ::-webkit-input-placeholder {color: $color}
  ::-moz-placeholder          {color: $color}// Firefox 19+
  :-moz-placeholder           {color: $color}// Firefox 18-
  :-ms-input-placeholder      {color: $color}
}

//----------Side menu changes

side-menu {
  /deep/ {
    core-toolbar{
      background-color: $color-red;
      color: $color-white;
      .logo{
        height: 100%;
        line-height: 64px;
        img{
          width: 100%;
          vertical-align: middle;
        }
      }
    }
    div[tool] {
      margin-left: 0;
    }
    chart-board{
      &:nth-child(even){
        /deep/ .chart-board{
          padding-right: 4%;
        }
        .chart-board:nth-child(even){
          padding-right: 0;
        }
      }
    }

    @media screen and (max-width: $size-tablet) {
      chart-board {
        &:nth-child(even) {
          /deep/ .chart-board {
            padding-right: 0;
            margin-left: 0;
          }
        }
      }
    }
  }
}

core-selector.menu{
  core-icon {
    margin-right: 0.5em;
  }
  .child{
    padding-left: 38px;
  }
  .core-selected{
    background-color: $color-grey-medium-light;
    border-left: 7px solid $color-red;
    /deep/ .button-content{
      padding-left: 9px;
    }
    &.child{
      border-left: 30px solid $color-red;
      padding-left: 15px;
    }
  }
  h3{
    padding: 0 1em;
    font-weight: normal;
  }
}

//----------Chart boards

.chart-board{
  width: 48%;
  float: left;

  paper-shadow{
    border-radius: 2px;
    background-color: $color-white;
    margin: 8px auto 16px;
    padding: 8px 0 16px 0;
    .title{
      padding: 0 8px 0 16px;
      font-weight: bold;
      font-size: $font-size-desktop;
    }
    .chart{
      margin: 0 16px;
    }
  }


  @media screen and (max-width: $size-tablet) {
    width: 100%;
    paper-shadow{
      .title{
        font-size: $font-size-mobile;
      }
    }
  }
}

.content {
  padding: 26px 26px 0 60px;
  overflow-y: scroll;
  margin-bottom: 52px;
}

.tab-page-content {
  overflow-y: auto;
  padding: 26px 26px 0 60px;
  margin-bottom: 52px;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

//----------Tabs styles

paper-tabs{
  background-color: $color-red;
  color: $color-white;
  text-transform: uppercase;
  paper-tab{
    max-width: 150px;
  }
  /deep/ {
    #ink {
      color: $color-white;
    }

    #selectionBar {
      background-color: $color-white;
    }
  }
}

//----------Panel under tabs

.tabs-panel {
  /deep/ {
    core-toolbar.tabs-toolbar {
      background-color: $color-grey-medium;
    }
  }
}

//----------Page subtitle (profile name, settings item)

.title-item {
  margin: 5px 0;
  padding: 3px 0;
  font-size: $font-size-desktop-small;
  border-bottom: 1px solid $color-grey-medium-pre;
}

//----------Copyright footer

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 26px 10px 60px;
  color:$color-grey-medium-pre;
  hr {
    color:$color-grey-medium-pre;
    margin-bottom: 10px;
  }
}

//----------Mobile size styles

@media  screen and (max-width: $size-mobile) {
  .content {
    padding: 26px 26px 0 26px;
    margin-bottom: 62px;
  }

  .footer {
    font-size: $font-size-mobile-footer;
    padding: 10px 26px;
  }

  .tab-page-content {
    padding: 26px 26px 0 26px;
    margin-bottom: 62px;
  }

  core-toolbar {
    /deep/ {
      .bottom.fit.indent {
        margin-left: 26px;
      }
    }
  }
}
