$color-main: #DD1F29;
$color-grey-dark: #4A4A4A;
$color-gray-dark-light: #8e8e9a;
$color-grey-medium: #979797;
$color-grey-medium-light: #D8D8D8;
$color-grey-light: #EDEDED;
$color-white: #FFFFFF;
$color-black: #000000;

$size-mobile-mini: 320px;
$size-mobile: 480px;
$size-tablet: 768px;
$size-tablet-max: 1024px;
$size-desktop: 1280px;

$font-size-desktop: 20px;
$font-size-desktop-small: 18px;
$font-size-mobile: 16px;
$font-size-mobile-small: 14px;
$font-size-footer: 12px;

@mixin placeholder($color) {
  ::-webkit-input-placeholder {color: $color}
  ::-moz-placeholder          {color: $color}// Firefox 19+
  :-moz-placeholder           {color: $color}// Firefox 18-
  :-ms-input-placeholder      {color: $color}
}

//----------Pages and tabs contents

.content {
  padding: 26px 26px 0 60px;
  overflow-y: auto;
}

//----------Mobile size styles

@media  screen and (max-width: $size-tablet) {
  .content {
    padding: 26px 26px 0 26px;
  }

  core-toolbar {
    /deep/ {
      .bottom.fit.indent {
        margin-left: 16px;
      }
    }
  }
}

//----------Paper fab global style

paper-fab {
  background: $color-grey-medium-light;
  color: $color-grey-dark;
  margin-bottom: 16px;
}


@mixin transition($option, $time, $function, $sec){
  -webkit-transition: $option $time $function $sec;
  -moz-transition: $option $time $function $sec;
  -o-transition: $option $time $function $sec;
  transition: $option $time $function $sec;
}