$color-red: #DD1F29;
$color-dark-red: #90141a;
$color-grey-dark: #4A4A4A;
$color-gray-dark-light: #8e8e9a;
$color-grey-medium: #979797;
$color-grey-medium-pre: #b3b3b3;
$color-grey-medium-light: #D8D8D8;
$color-grey-light: #EDEDED;
$color-white: #FFFFFF;
$color-black: #000000;

$size-mobile: 480px;
$size-tablet: 768px;

$font-size-mobile: 16px;
$font-size-mobile-small: 14px;
$font-size-mobile-footer: 12px;
$font-size-desktop: 20px;
$font-size-desktop-small: 18px;

@mixin placeholder($color) {
  ::-webkit-input-placeholder {color: $color}
  ::-moz-placeholder          {color: $color}// Firefox 19+
  :-moz-placeholder           {color: $color}// Firefox 18-
  :-ms-input-placeholder      {color: $color}
}

//Main toolbar
.core-toolbar{
  background-color: $color-red;
  color: $color-white;
  .logo{
    height: 100%;
    line-height: 64px;
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
}
//side menu
core-selector.menu{
  core-icon {
    margin-right: 0.5em;
  }
  .child{
    padding-left: 38px;
  }
  .core-selected{
    background-color: $color-grey-medium-light;
    border-left: 7px solid $color-red;
    /deep/ .button-content{
      padding-left: 9px;
    }
    &.child{
      border-left: 30px solid $color-red;
      padding-left: 15px;
    }
  }
  h3{
    padding: 0 1em;
    font-weight: normal;
  }
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
//Tabs styles
paper-tabs{
  background-color: $color-red;
  color: $color-white;
  text-transform: uppercase;
  paper-tab{
    max-width: 150px;
  }
  /deep/ {
    #ink {
      color: $color-white;
    }

    #selectionBar {
      background-color: $color-white;
    }
  }
}
//panel under tubs
.tabs-panel {
  /deep/ {
    core-toolbar.tabs-toolbar {
      background-color: $color-grey-medium;
    }
  }
}

//item like title of page(profile name, settings item)
.title-item {
  margin: 5px 0;
  padding: 3px 0;
  font-size: $font-size-desktop-small;
  border-bottom: 1px solid $color-grey-medium-pre;
}

//copyright footer
.footer {
  width: 100%;
  color:$color-grey-medium-pre;
  hr {
    color:$color-grey-medium-pre;
    margin-bottom: 10px;
  }
}

@media  screen and (max-width: $size-mobile){
  .footer {
    font-size: $font-size-mobile-footer;
  }
}

.footer-with-margin {
  margin-bottom: 26px;
}
