@import "_variables";

// Calendar

d-calendar.portfolio-item-calendar {
  display: block;
  background: $color-white;
  /deep/ {
    #wrapper {
      display: inline-block;
      #calendar-selection {
        float: left;
        display: inline-block;
      }
      #calendar {
        float: left;
        display: inline-block;
      }
    }

    #selectedWeekdayHeader {
      background: $color-dark-red;
    }

    #selectedDateHeader {
      background: $color-red;
      height: 264px;
    }

    .day[selected]:after, .day:after {
      background: $color-red;
    }

    .viewingMonthYear, .weekday-name, .day, paper-icon-button {
      color: $color-black;
    }

    #dateView {
      background: $color-white;
    }

    .day.currentday, #header paper-icon-button:active {
      color: $color-red;
    }

    #selectedDateHeader > div {
      margin: 10px 0;
    }

    #years {
      paper-button {
        /deep/ {
          .button-content {
            color: $color-black;
          }
        }
      }
    }

    paper-button::shadow #ripple {
      color: $color-red;
    }

    @media screen and (max-width: $size-tablet) {
      #wrapper {
        width: 276px;
        #calendar-selection {
          display: none;
        }
      }

      #years {
        paper-button {
          /deep/ {
            .button-content {
              font-size: $font-size-mobile-small
            }
          }
        }
      }
    }
  }
}