@import "_variables";

:host {
  /deep/{

    .chart-dropdown {
      font-weight: normal;
    }

    .drop-chart-here {
      height: 100%;
      display: block;
      text-align: center;
      color: $color-grey-medium;
      font-size: $font-size-desktop-small;
      border-radius: 2px;
      border: 1px solid $color-grey-medium;
      background: $color-grey-light;
    }

    @media screen and (max-width: $size-tablet) {
      .dashboard-dropdown {
        position: fixed;
        bottom: 16px;
        right: 16px;
        z-index: 1;

        #addChart {
          margin-bottom: 0;
        }
      }
    }
  }
}

//----------Chart boards

.chart-board{
  width: 48%;
  float: left;
  overflow: hidden;

  paper-shadow{
    border-radius: 2px;
    background-color: $color-white;
    margin: 8px auto 16px;
    padding: 8px 0 16px 0;
    .chart-title {
      padding: 0 8px 0 16px;
      font-weight: bold;
      font-size: $font-size-desktop;
    }
    .chart{
      margin: 0 16px;
      overflow: hidden;
    }
  }

  @media screen and (max-width: $size-tablet) {
    width: 100%;
    paper-shadow{
      .chart-title {
        font-size: $font-size-mobile;
      }
    }
  }
}

chart-board {
  &:nth-child(even){
    /deep/ .chart-board{
      padding-right: 4%;
    }
    .chart-board:nth-child(even){
      padding-right: 0;
    }
  }
}

drop-chart {
  &:nth-child(odd){
    /deep/ .chart-board{
      padding-right: 4%;
    }
    .chart-board:nth-child(even){
      padding-right: 0;
    }
  }
}

@media screen and (max-width: $size-tablet) {
  chart-board {
    &:nth-child(even) {
      /deep/ .chart-board {
        padding-right: 0;
        margin-left: 0;
      }
    }
  }
}

