@import "_variables";

.dashboard-page{
  /deep/{
    paper-fab{
      position: fixed;
      right: 26px;
      top: 35px;
      z-index: 2;
    }

    @media screen and (max-width: $size-tablet) {
      chart-board{
        &:nth-child(even){
          /deep/ .chart-board{
            padding-right: 0;
            margin-left: 0;
          }
        }
      }
      paper-fab{
        top: auto;
        right: 13px;
        bottom: 13px;
      }
    }
    @media screen and (max-width: $size-mobile) {

    }
  }
}