@import "_variables";

.dashboard-page{
  /deep/{
    .dashboard-dropdown {
      position: fixed;
      right: 26px;
      top: 35px;
      z-index: 2;
    }

    paper-dropdown.dashboard-menu-dropdown {
      top: 63px;
    }

    .chart-dropdown {
      font-weight: normal;
    }

    @media screen and (max-width: $size-tablet) {
      chart-board{
        &:nth-child(even){
          /deep/ .chart-board{
            padding-right: 0;
            margin-left: 0;
          }
        }
      }

      .dashboard-dropdown {
        top: auto;
        right: 13px;
        bottom: 13px;
      }

      paper-dropdown.dashboard-menu-dropdown {
        top: auto;
      }
    }
  }
}