@import "_variables";

//----------Copyright footer

.footer {
  padding: 0 26px 0 60px;
  color:$color-grey-medium;
  font-size: $font-size-footer;
  background: $color-grey-light;

  hr {
    margin-bottom: 10px;
  }
}

@media  screen and (max-width: $size-tablet) {
  .footer {
    padding: 0 26px;
  }
}

@media  screen and (max-width: $size-mobile) {
  .footer {
    hr {
      margin-bottom: 6px;
    }
  }
}