@import "_variables";

.portfolio-item {
  /deep/{
    core-toolbar{
      @extend .core-toolbar
    }

    .content {
      padding: 26px;
    }

    paper-fab{
      position: fixed;
      right: 26px;
      top: 162px;
      z-index: 2;
    }

    chart-board{
      position: relative;
      &:nth-child(even){
        /deep/ .chart-board{
          padding-right: 26px;
          margin-left: -26px;
        }
      }
    }

    .chart-boards-wrapper {
      padding-left: 26px;
    }

    @media screen and (max-width: $size-tablet) {
      chart-board{
        &:nth-child(even){
          /deep/ .chart-board{
            padding-right: 0;
            margin-left: 0;
          }
        }
      }

      .content{
        padding-left: 26px;
      }

      paper-fab{
        top: auto;
        right: 13px;
        bottom: 13px;
      }

      .chart-boards-wrapper {
        padding-left: 0;
      }
    }

    .subheader {
      position: relative;
    }

    core-toolbar.portfolio-item-panel {
      background: $color-grey-medium;
      /deep/ {
        .fit {
          top: 0;
        }
      }
    }
    .search-field {
      background: $color-white;
    }
  }
}

//Calendar position
#calendarDialogWrapper {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
}

#calendarDialogWrapper.show {
  display: block;
}
