@import "_variables";


.table-body {
  font-size: 0;
  background: $color-white;
  border-top: 1px solid $color-grey-medium-pre;
  border-bottom: 1px solid $color-grey-medium-pre;
  padding: 0 16px 40px 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.col-padding {
  padding: 16px;
}

.col-content {
  border-bottom: 1px solid $color-grey-light;
}

.table-header {
  font-size: $font-size-desktop-small;
  color: $color-white;
  text-transform: uppercase;
}

.table-item {
  font-size: $font-size-mobile-small;
  vertical-align: top;
}

.table-header-list {
  background: $color-grey-dark;
  border-top: 1px solid $color-grey-medium;
  border-bottom: 1px solid $color-grey-medium;
}

.table-header-list {
  padding: 0 16px;
}

@media  screen and (max-width: $size-mobile) {
  .portfolio-page, .settings-page, .portfolio-item {
    /deep/ {
      .table-body {
        padding: 0;
      }

      .table-header-list {
        display: inline-block;
        padding: 16px;
        margin: 0;
      }

      .table-header {
        font-size: $font-size-mobile;
      }

      .labels {
        border-right: 1px solid $color-grey-medium-light;
        width: 48%;
        vertical-align: top;
        .col-padding {
          padding: 16px 6px 16px 16px;
        }
        .table-item {
          border-bottom: 1px solid transparent;
        }
        .table-item:last-child {
          border-bottom: 0;
        }
      }

      .table-label {
        text-transform: uppercase;
        font-weight: bold;
      }

      .values {
        width: 51%;
        vertical-align: top;
        .table-item {
          padding: 16px 0;
          margin: 0 16px;
          border-bottom: 1px solid $color-grey-medium-light;
        }
        .table-item:last-child {
          border-bottom: 0;
        }
      }

      .mobile-col-content[layout][horizontal] {
        display: none;
      }

      .core-selected {
        .mobile-col-content[layout][horizontal]  {
          display: inherit;
        }
      }
    }
  }
}