@import "_variables";
@import "portfolio-page";

.portfolio-item {
  /deep/{
    .content {
      display: none;
    }

    .dashboard-dropdown {
      position: fixed;
      right: 26px;
      top: 162px;
      z-index: 2;
    }

    paper-dropdown.dashboard-menu-dropdown {
      top: 63px;
    }

    .chart-dropdown {
      font-weight: normal;
    }

    chart-board{
      /deep/ .chart-board {
        padding-right: 4%;
      }
      &:nth-child(even){
        /deep/ .chart-board{
          padding-right: 0;
        }
      }
    }

    .indent.subheader  {
      margin-left: 52px;
    }

    @media screen and (max-width: $size-tablet) {
      chart-board{
        &:nth-child(even){
          /deep/ .chart-board{
            padding-right: 0;
            margin-left: 0;
          }
        }
      }

      .indent.subheader {
        margin-left: 18px;
        margin-right: 0;
      }

      .dashboard-dropdown {
        top: auto;
        right: 13px;
        bottom: 13px;
      }

      paper-dropdown.dashboard-menu-dropdown {
        top: auto;
      }

      .button-content {
        font-size: $font-size-mobile;
      }

      //Holding table navigation
      .nav-style, .table-page-item, .holding-nav-button {
        font-size: $font-size-mobile-footer;
      }

      .size-menu-wrapper {
        margin: 10px 0 0 0;
      }
    }

    @media screen and (max-width: 320px) {
      .hide-nav {
        display: none;
      }

      .dialog-wrapper {
        bottom: 75px;
      }
    }

    .subheader {
      position: relative;
    }

    core-toolbar.portfolio-item-panel {
      background: $color-grey-medium;
    }

    .search-block {
      padding: 0.25em 0.57em;
    }

    .search-field {
      background: $color-white;
    }
  }
}

.holding-view-list {
  .label {
    color: $color-black;
  }
  .active-view {
    color: $color-red;
  }
}

//----------Calendar

.actions {
  float: right;
  display: inline-block;
  margin-bottom: 10px;

  paper-button.closeCalendar {
    /deep/ {
      .button-content {
        color: $color-red;
      }
    }
  }

  paper-button.setDate {
    /deep/ {
      .button-content {
        color: $color-red;
      }
    }
  }
}

//----------Holdings navigation

.holding-table-navigation {
  margin-bottom: 10px;
}

.holding-table-page-list {
  @extend .ul-reset;
}

.nav-style {
  margin-left: 1px;
  font-size: $font-size-mobile-small;
  border: 1px solid $color-grey-medium;
  line-height: 19px;
}

.holding-item-button {
  display: inline-block;
  float: left;
}

.table-page-item {
  width: 19px;
  height: 19px;
  text-align: center;
  background: $color-grey-medium;
  @extend .nav-style;
}

.table-page-item.core-selected {
  background: $color-red;
  color: $color-white;
}

.nav-button {
  padding: 0 6px;
  text-transform: uppercase;
}

.holding-nav-button {
  background: $color-grey-medium-light;
  outline-color: $color-grey-medium;
  @extend .nav-button;
  @extend .nav-style;
}

.size-menu-wrapper {
  margin-left: 10px;

  .size-label {
    font-size: $font-size-mobile-small;
    text-transform: uppercase;
    color: $color-black;
  }

  paper-dropdown-menu {
    margin: 0;
    padding: 0;
    line-height: 21px;
    height: 21px;
    border-bottom: 0;
    /deep/ {
      #label, #arrow {
        color: $color-black;
      }
    }
  }

  paper-item {
    font-size: $font-size-mobile-small;
    margin: 0 auto;
  }

  .current {
    color: $color-red;
  }
}

//----------Table styles

.collapse-category {
  background: $color-grey-medium-light;
  padding: 0;
  border-bottom: 1px solid $color-grey-light;
  @extend .ul-reset;
  .table-item {
    line-height: 24px;
  }
}

.table-wrapper {
  width: 100%;
  margin-bottom: 25px;
}

.table-header-list {
  padding: 0;
}

.portfolio-table {
  width: 903px;
}

.table-body {
  border-top: 0;
  padding: 0;
  //border-bottom: 1px solid $color-grey-light;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.table-body:last-child {
  border-bottom: 1px solid $color-grey-medium-pre;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table-header {
  font-size: $font-size-mobile-small;
}

.col-content {
  margin: 0 15px;

  .col-padding:last-child {
    padding: 15px 0 15px 7px;
  }
  .col-padding:first-child {
    padding: 15px 7px 15px 0;
  }
}

.col-padding {
  padding: 15px 7px;
}

.col-padding:last-child {
  padding: 15px 15px 15px 7px;
}

.col-padding:first-child {
  padding: 15px 7px 15px 15px;
}

.col-3 {
  min-width: 35px;
  max-width: 70px;
}

.col-4 {
  min-width: 80px;
  max-width: 80px;
}

.col-5 {
  min-width: 110px;
  max-width: 110px;
}

.col-6 {
  min-width: 140px;
  max-width: 140px;
}

.col-13 {
  min-width: 313px;
  max-width: 313px;
  vertical-align: baseline;
}

.col-padding:first-child.col-13 {
  padding: 15px 7px 15px 0;
  core-icon {
    color: $color-white;
  }
}

