@import "_variables";
@import "portfolio-page";

:host {
  /deep/ {
    .dashboard-dropdown{
      position: fixed;
      top: 35px;
      right: 45px;
      z-index: 3;
    }

    .subheader-shadow {
      z-index: 2;
    }

    .subheader {
      padding: 0 52px;
      background-color: #979797;
    }

    .holding-view {
      /deep/ {
        #label {
          padding: 0 5px;
        }
      }
    }

    @media screen and (max-width: $size-tablet) {
      #field {
        background-color: $color-grey-medium;
        z-index: 1;
      }

      #field.hide-search {
        display: none;
      }

      .search-field {
        margin: 8px 16px;
        #filterIcon {
          margin-right: 8px;
          z-index: 1;
        }
      }

      .subheader {
        padding: 0;
      }

      .dashboard-dropdown {
        position: fixed;
        right: 16px;
        bottom: 16px;
        top: auto;
        z-index: 1;
      }

      .calendar-button {
        /deep/ {
          .button-content {
            font-size: $font-size-mobile;
          }
        }
      }

      #label {
        font-size: $font-size-mobile-small;
      }

      .holding-view {
        /deep/ {
          #label {
            font-size: $font-size-mobile;
          }
        }
      }

      //Holding table navigation
      .nav-style, .table-page-item, .holding-nav-button {
        font-size: $font-size-footer;
      }

      .size-menu-wrapper {
        margin: 10px 0 0 0;
      }
    }

    @media screen and (max-width: $size-mobile-mini) {
      .hide-nav {
        display: none;
      }

      .dialog-wrapper {
        bottom: 75px;
      }

      .calendar-button {
        /deep/ {
          .selected-date {
            text-transform: none;
            padding: 0;
            width: 58px;
          }
        }
      }
    }

    .subheader {
      position: relative;
    }

    core-toolbar.portfolio-item-panel {
      background: $color-grey-medium;
    }

    #holdingView {
      margin-right: 8px;
      min-width: 160px;
    }

    .search-block {
      padding: 0.25em 0.57em;
    }

    .search-field {
      background: $color-white;
      padding: 8px 8px 8px 0;
    }

    #searchField {
      padding: 0 15px;
      width: 50%;
      line-height: 17px;
    }

    core-selector.menu .core-selected {
      background-color: $color-white;
      border-left: 0;
    }

    core-selector.menu .core-selected /deep/ .button-content {
      padding-left: 14px;
    }

    @media screen and (max-width: $size-mobile-mini) {
      #holdingView{
        margin-right: 0;
        min-width: 150px;
      }
    }
  }
}

.calendar-button {
  /deep/ {
    .button-content {
      padding: 0.5em 0 0.25em;
    }

    .selected-date {
      text-transform: none;
      padding: 0 5px;
    }

  }
}

.holding-view {
  paper-dropdown-menu {
    border-bottom: 0;
    /deep/ {
      #label, #arrow {
        color: $color-white;
        text-transform: uppercase;
      }
    }
  }
  /deep/{

    paper-item {
      color: $color-black;
      text-transform: uppercase;
    }

    .core-selected {
      color: $color-main;
    }
  }
}

//----------Calendar

#calendarDialogWrapper {
  top: 13px;
}

.actions {
  float: right;
  display: inline-block;
  margin-bottom: 10px;

  paper-button.closeCalendar {
    /deep/ {
      .button-content {
        color: $color-main;
      }
    }
  }

  paper-button.setDate {
    /deep/ {
      .button-content {
        color: $color-main;
      }
    }
  }
}

@media screen and (max-width: $size-mobile-mini) {
  #calendarDialogWrapper {
    top: 5px;
    .actions {
      margin-top: -16px;
    }
  }
}



//----------Holdings navigation

.holding-table-navigation {
  margin-bottom: 10px;
  > *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  > core-selector {
    cursor: pointer;
  }
}

.nav-style {
  margin-left: 1px;
  font-size: $font-size-mobile-small;
  border: 1px solid $color-grey-medium;
  line-height: 19px;
}

.table-page-item {
  width: 19px;
  height: 19px;
  text-align: center;
  background: $color-grey-medium;
  @extend .nav-style;
}

.table-page-item.core-selected {
  background: $color-main;
  color: $color-white;
}

.nav-button {
  padding: 0 6px;
  text-transform: uppercase;
}

.holding-nav-button {
  background: $color-grey-medium-light;
  outline-color: $color-grey-medium;
  @extend .nav-button;
  @extend .nav-style;
}

.size-menu-wrapper {
  margin-left: 10px;

  .size-label {
    font-size: $font-size-mobile-small;
    text-transform: uppercase;
    color: $color-black;
  }

  paper-dropdown-menu {
    margin: 0;
    padding: 0;
    line-height: 21px;
    height: 21px;
    border-bottom: 0;
    /deep/ {
      #label, #arrow {
        color: $color-black;
      }
    }
  }

  paper-item {
    font-size: $font-size-mobile-small;
    margin: 0 auto;
  }

  paper-item.core-selected {
    color: $color-main;
  }
}

//----------Table styles

.collapse-category {
  background: $color-grey-medium-light;
  padding: 0;
  border-bottom: 1px solid $color-grey-light;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .table-item {
    line-height: 24px;
    font-weight: 500;
  }
  .category-icon {
    color: $color-white;
  }
  .col-padding.category-title {
    padding-right: 1.5%;
  }
}

.category-totals {
  background: $color-grey-medium-light;
  margin-bottom: 10px;
  .col-padding:first-child {
    text-indent: 28px;
  }
  .table-item {
    font-size: $font-size-mobile;
    font-weight: bold;
  }
}

.col-padding:first-child.portfolio-total-label {
  padding-right: 1.5%;
  text-transform: uppercase;
}

.collapse-category:last-child {
  border-bottom: 0;
}

.rotate {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.table-body {
  border-top: 0;
  padding: 0 0 30px 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.table-header {
  font-size: $font-size-mobile-small;
  line-height: 24px;
  position: relative;
}

.table-header-list {
  padding: 0;
}

#tableHeader {
  .core-selected {
    span {
      border-bottom: 1px solid $color-white;
    }
  }
}
.filter-icon {
  opacity: 0;
}

.core-selected {
  .filter-icon {
    //display: inline-block;
    opacity: 1;
  }
}

.col-content {
  margin: 0 16px;
  .col-padding:last-child {
    padding: 16px 0 16px 6px;
  }
  .col-padding:first-child {
    padding: 16px 6px 16px 0;
  }
}

.col-padding {
  padding: 16px 6px;
}

.col-padding:last-child {
  padding: 16px 16px 16px 6px;
}

.col-padding:first-child {
  padding: 16px 6px 16px 16px;
}

//----------Filter by name no results

.no-matches {
  display: block;
  padding: 30px 6px 0 6px;
  font-size: $font-size-mobile;
  line-height: 24px;
  text-align: center;
  color: $color-grey-medium;
}

//----------Filters menu

.mobile-filters {
  top:13px;
}

.filters-menu {
  .label {
    color: $color-black;
  }
}

@media  screen and (max-width: $size-tablet) {
  :host {
    /deep/ {
      .labels {
        margin: 0;
        .col-padding:last-child {
          padding: 16px 6px 16px 16px;
        }
        .col-padding:first-child {
          padding: 16px 6px 16px 16px;
        }
      }

      .values .table-item {
        margin: 0;
      }

      .values .col-padding:last-child {
        padding: 16px 0;
      }

      .filters-menu {
        .label {
          font-size: $font-size-mobile-small;
        }
      }

      paper-button.closeCalendar,
      paper-button.setDate {
        font-size: $font-size-mobile;
      }

      .search-field {
        padding: 0;
        input {
          line-height: 24px;
        }
      }

      .table-header {
        font-size: $font-size-mobile-small;
        line-height: 14px;
        padding: 16px;
      }

      .table-body {
        padding: 0;
      }

      .table-item {
        font-size: 13px;
      }

      .collapse-category {
        background: $color-grey-dark;
        border-top: 0;
        border-bottom: 1px solid $color-grey-medium;
        font-size: $font-size-mobile-small;
        .category-title {
          color: $color-white;
          text-transform: uppercase;
        }
      }

      .collapse-category:last-child {
        border-bottom: 0;
      }

      .table-header-in-collapse {
        background: $color-grey-medium-light;
        padding: 16px;
        border-top: 0;
        border-bottom: 1px solid $color-grey-light;
        font-size: $font-size-mobile-small;
        line-height: 14px;
        text-transform: none;
        color: $color-black;
        margin: 0;
        font-weight: normal;
      }

      .no-matches {
        padding: 16px;
        font-size: $font-size-mobile-small;
      }

      .collapse-content {
        .mobile-col-content[layout][horizontal] {
          display: none;
        }
      }

      .collapse-content {
        .core-selected {
          .mobile-col-content[layout][horizontal]  {
            display: inherit;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $size-mobile-mini) {
  :host {
    /deep/ {
      .table-item {
        font-size: $font-size-footer;
      }
    }
  }
}

