@import "_variables";

:host {
  /deep/ {
    core-pages {
      display: none;
    }

    .header{
      margin-bottom: 55px;
    }

    .profile-photo {
      margin: 0 0 0 20%;
    }

    .user-data {
      width: 100%;
      margin-bottom: 150px;
      margin-right: 5%;
      paper-input-decorator {
        /deep/ {
          .label-text {
            color: $color-main;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          ::-webkit-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          ::-moz-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          :-ms-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          .unfocused-underline {
            background-color: $color-grey-medium;
          }
          .focused-underline {
            background-color: $color-main;
          }
          .floated-label {
            .label-text {
              font-size: $font-size-mobile;
              color: $color-main;
            }
          }
          input {
            font-size: $font-size-desktop-small;
          }
        }
      }

      paper-input-decorator[focused] {
        /deep/ {
          .floating-label {
            .error {
              color: salmon;
            }
          }
        }
      }

      paper-input-decorator.invalid {
        /deep/ {
          .floating-label .label-text {
            color: salmon;
          }
          .focused-underline {
            background-color: salmon;
          }
        }
      }
    }

    @media screen and (max-width: $size-mobile) {
      .header {
        margin-bottom: 40px;
      }

      .profile-form-wrapper[layout][vertical] {
        display: table;
        width: 100%;
      }

      .profile-image {
        display: table-header-group;
      }

      .profile-photo {
        margin: 0;
      }

      .profile-form {
        display: table-footer-group;
      }

      .user-data {
        paper-input-decorator {
          /deep/ {
            .label-text {
              font-size: $font-size-mobile;
            }
            .error {
              font-size: $font-size-mobile-small;
            }
            ::-webkit-input-placeholder {
              font-size: $font-size-mobile;
            }
            ::-moz-placeholder {
              font-size: $font-size-mobile;
            }
            :-ms-input-placeholder {
              font-size: $font-size-mobile;
            }
            .floated-label {
              .label-text {
                font-size: $font-size-mobile-small;
              }
            }
          }
          input {
            font-size: $font-size-mobile;
          }
        }
      }
    }
  }
}