@import "_variables";

.profile-page {
  /deep/ {
    core-pages {
      display: none;
    }

    .header{
      margin-bottom: 55px;
    }

    .profile-photo {
      margin: 0 0 0 20%;
    }

    .user-data {
      width: 100%;
      margin-bottom: 150px;
      margin-right: 5%;
      paper-input-decorator{
        /deep/ {
          .label-text {
            font-size: $font-size-desktop-small;
            color: $color-red;
          }
          .unfocused-underline {
            background-color: $color-gray-dark-light;
          }
          :host([focused]) .floated-label .label-text {
            color: $color-red;
          }
          .focused-underline {
            background-color:  $color-red;
            color: $color-red;
          }
          #floatedLabelText {
            color: $color-red;
          }
          input {
            font-size: $font-size-desktop-small;
            color: $color-black;
            @include placeholder($color-gray-dark-light)
          }
        }
      }
    }
    @media screen and (max-width: $size-mobile) {
      .header {
        margin-bottom: 40px;
      }

      .profile-form-wrapper[layout][vertical] {
        display: table;
        width: 100%;
      }

      .profile-image {
        display: table-header-group;
      }

      .profile-photo {
        margin: 0;
      }

      .profile-form {
        display: table-footer-group;
      }

      .user-data {
        paper-input-decorator{
          /deep/ {
            .label-text {
              font-size: $font-size-mobile;
            }

            input {
              font-size: $font-size-mobile;
            }
          }
        }
      }
    }
  }
}