@import "_variables";

.profile-page {
  /deep/ {
    .header{
      margin-bottom: 55px;
    }
    .profile-form-wrapper {
      //display: inline-block;
      //width: 100%;
    }
    .profile-photo {
      margin: 0 0 0 8%;
      //margin: 10px 65px;
      //float: right;
    }
    core-toolbar {
      @extend .core-toolbar
    }
    .content {
      padding: 26px 26px 26px 52px;
    }
    .user-data {
      width: 50%;
      margin-bottom: 150px;
      margin-right: 5%;
      paper-input-decorator{
        /deep/ {
          .label-text {
            font-size: $font-size-desktop-small;
            color: $color-red;
          }
          .unfocused-underline {
            background-color: $color-gray-dark-light;
          }

          :host([focused]) .floated-label .label-text {
            color: $color-red;
          }

          .focused-underline {
            background-color:  $color-red;
            color: $color-red;
          }

          #floatedLabelText {
            color: $color-red;
          }

          input {
            font-size: $font-size-desktop-small;
            color: $color-black;
            @include placeholder($color-gray-dark-light)
          }
        }
      }
    }
    /*
        @media screen and (max-width: $size-mobile) {
          .content {
            padding-left: 30px;
          }

          .header {
            .profile-name {
              margin: 5px 0 35px 0;
            }
          }

          .user-data {
            width: 100%;
            clear: both;
            margin-right: 10%;
          }

          .profile-photo {
            float: left;
            display: inline-block;
            margin: 10px 0;
          }

          .profile-form-wrapper {
            width: 100%;
          }
        }*/
  }
}