@import "_variables";
@import "portfolio-page";

:host {
  /deep/ {
    .user-actions {
      position: fixed;
      //top: 34px;
      top: 6px;
      right: 45px;
    }

    .title-item {
      margin: 5px 0;
      padding: 3px 0;
      font-size: $font-size-desktop-small;
      border-bottom: 1px solid $color-grey-medium-light;
    }

    //----------Contents

    .design-settings-list {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: $font-size-desktop-small;
      color: $color-grey-medium;
    }

    .settings-label {
      font-weight: bold;
      display: block;
      margin: 0.5em 0 0.25em;
    }

    .theme-color {
      color: $color-main;
      /deep/ .focused-underline {
        background-color: $color-main;
      }
    }

    .color-picker {
      top: 0;
      width: 300px;
    }

    .selected-color {
      font-size: $font-size-mobile-small;
      margin-bottom: 10px;
      width: 130px;
      #mainColor {
        text-align: center;
        color: $color-grey-medium;
      }
    }

    .color-preview {
      width: 100px;
      height: 50px;
      border: 1px solid $color-grey-medium;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: block;
      margin-bottom: 10px;
    }

    paper-button.set-color,
    paper-button.close-color-picker{
      /deep/ {
        .button-content {
          color: $color-main;
        }
      }
    }

    .upload-logo-button {
      color: $color-main;
      text-transform: none;
      margin: 0 0 5px 0;
      width: 100%;
      overflow: hidden;
      input {
        opacity: 0;
      }
    }

    .upload-logo-button-icon {
      color: $color-grey-medium;
    }

    .settings-panel {
      .col-5 {
        width: 185px;
        max-width: 185px;
        min-width: 185px;
        padding: 0.75em 0;
        margin-right: 20px;
      }

      .col-7 {
        width: 157px;
        max-width: 157px;
        min-width: 157px;
      }
    }

    .logo-size {
      display: block;
    }

    .theme-radio-group {
      padding: 0.75em 0;
      /deep/ {
        paper-radio-button {
          margin: 0.5em 0.5em 0.25em 0;
          padding: 0;
        }
        paper-radio-button::shadow #onRadio {
          background-color: $color-main;
        }
        paper-radio-button[checked]::shadow #offRadio {
          border-color: $color-main;
        }
        paper-radio-button::shadow #ink[checked] {
          color: $color-main;
        }
        paper-radio-button::shadow #offRadio {
          border-color: $color-grey-medium;
        }
      }
    }

    .settings-panel {
      margin-bottom: 20px;
    }

    .settings-list-form {
      width: 520px;
      paper-input-decorator {
        /deep/ {
          .label-text {
            color: $color-main;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          ::-webkit-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          ::-moz-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          :-ms-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          .unfocused-underline {
            background-color: $color-grey-medium;
          }
          .focused-underline {
            background-color: $color-main;
          }
          .floated-label {
            .label-text {
              font-size: $font-size-mobile;
              color: $color-main;
            }
          }
          input {
            font-size: $font-size-desktop-small;
            color: $color-black;
          }
        }
      }

      paper-input-decorator[focused] {
        /deep/ {
          .floating-label {
            .error {
              color: salmon;
            }
          }
        }
      }

      paper-input-decorator.invalid {
        /deep/ {
          .floating-label .label-text {
            color: salmon;
          }
          .focused-underline {
            background-color: salmon;
          }
        }
      }
    }

    .optional-label {
      color: $color-grey-medium;
      font-size: $font-size-desktop-small;
      display: block;
      padding-top: 29px;
    }

    .configuration-checkbox {
      padding: 0.75em 0;
      paper-checkbox {
        margin: 0.5em 0 0.25em;
      }
      paper-checkbox::shadow #ink[checked] {
        color: $color-main;
      }
      paper-checkbox::shadow #checkbox.checked {
        background-color: $color-main;
        border-color: $color-main;
      }
      paper-checkbox::shadow #checkbox {
        border-color: $color-grey-medium;
      }
    }

    .domain-aut {
      padding: 0.75em 0 0 0;
    }

    .bulk-link {
      text-decoration: none;
      color: inherit;
    }

    //----------Table styles

    .table-wrapper {
      margin-top: 8px;
    }

    .table-header {
      font-size: $font-size-mobile-small;
    }

    .table-body {
      padding: 0 16px 30px 16px;
    }

    .table-item {
      line-height: 24px;
      padding: 11px 16px;
      min-height: 24px;
    }

    @media  screen and (max-width: $size-tablet){
      .color-picker {
        width: 200px;
      }

      paper-button.set-color,
      paper-button.close-color-picker{
          font-size: $font-size-mobile;
      }

      canvas {
        width: 200px;
        height: 200px;
      }

      .user-actions {
        right: 16px;
        bottom: 16px;
        top: auto;

        #usersAction {
          margin-bottom: 0;
        }
      }


      .table-wrapper {
        margin-top: 0;
      }

      .table-body {
        padding: 0;
      }

      .title-item {
        font-size: $font-size-mobile;
      }

      .settings-label {
        font-size: $font-size-mobile;
      }

      .table-header {
        font-size: $font-size-mobile-small;
        text-transform: none;
        min-height: 14px;
      }

      .labels {
        width: 40%;
      }

      .values {
        width: 59%;
      }
    }

    @media screen and (max-width: $size-mobile) {
      .theme-radio-group {
        /deep/ {
          paper-radio-button {
            font-size: $font-size-mobile;
          }
        }
      }

      .settings-panel {
        .col-5 {
          width: 40%;
          margin-right: 0;
          min-width: 40%;
          max-width: 40%;
        }

        .col-7 {
          width: 150px;
          min-width: 150px;
          max-width: 150px;
        }
      }

      .theme-color {
        font-size: $font-size-mobile;
      }

      .upload-logo-button {
        font-size: $font-size-mobile;
        /deep/ [layout][center-center] {
            -ms-flex-pack: initial;
            -webkit-justify-content: initial;
            justify-content: initial;
        }
      }

      .logo-size {
        font-size: $font-size-mobile;
      }

      .settings-list-form {
        width: 100%;
        paper-input-decorator {
          /deep/ {
            .label-text {
              font-size: $font-size-mobile;
            }
            .error {
              font-size: $font-size-mobile-small;
            }
            ::-webkit-input-placeholder {
              font-size: $font-size-mobile;
            }
            ::-moz-placeholder {
              font-size: $font-size-mobile;
            }
            :-ms-input-placeholder {
              font-size: $font-size-mobile;
            }
            .floated-label {
              .label-text {
                font-size: $font-size-mobile-small;
              }
            }
          }
          input {
            font-size: $font-size-mobile;
          }
        }
      }

      .optional-label {
        font-size: $font-size-mobile;
      }

      .configuration-checkbox {
        padding-left: 15px;
      }

      .users-settings-dropdown {
        top: auto;
        right: 13px;
        bottom: 13px;
        paper-dropdown {
          top: auto;
        }
      }

      .table-item {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: $size-mobile-mini) {
  :host /deep/ {
    .color-picker {
      width: 170px;
    }

    canvas {
      width: 170px;
      height: 170px;
    }

    paper-tabs paper-tab{
      font-size: 13px;
    }

    paper-button.set-color,
    paper-button.close-color-picker {
      font-size: $font-size-mobile-small;
    }
  }
}