@import "_variables";

.settings-page {
  /deep/ {
    core-toolbar {
      @extend .core-toolbar
    }

    .content {
      padding: 26px 26px 26px 52px;
    }

    .design-settings-list {
      @extend .ul-reset;
      font-size: $font-size-desktop-small;
      color: $color-grey-medium;
    }

    .settings-label {
      font-weight: bold;
      display: block;
      margin: 0.5em 0 0.25em;
    }

    .theme-color {
      color: $color-red;
    }

    paper-input-decorator {
      /deep/ {
        .focused-underline {
          background-color: $color-red;
        }
      }
    }

    .upload-logo-button {
      color: $color-red;
      text-transform: none;
      margin: 0 0 5px 0;
      width: 100%;
    }

    .upload-logo-button-icon {
      color: $color-grey-medium;
    }

    .col-5 {
      width: 185px;
      padding: 0.75em 0;
      margin-right: 20px;
    }

    .col-7 {
      width: 157px;
    }

    .logo-size {
      display: block;
    }
    .theme-radio-group {
      padding: 0.75em 0;
      /deep/ {
        paper-radio-button {
          margin: 0.5em 0.5em 0.25em 0;
        }
        paper-radio-button::shadow #onRadio {
          background-color: $color-red;
        }

        paper-radio-button[checked]::shadow #offRadio {
          border-color: $color-red;
        }

        paper-radio-button::shadow #ink[checked] {
          color: $color-red;
        }

        paper-radio-button::shadow #offRadio {
          border-color: $color-grey-medium;
        }
      }
    }
    .settings-panel {
      margin-bottom: 20px;
    }
    .settings-list-form {
      width: 520px;
      paper-input-decorator {
        /deep/ {
          .label-text,.error {
            color: $color-red;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }

          ::-webkit-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }

          ::-moz-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }

          :-ms-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }

          .unfocused-underline {
            background-color: $color-grey-medium;
          }

          .focused-underline {
            background-color: $color-red;
          }
        }
      }
    }

    .optional-label {
      color: $color-grey-medium;
      font-size: $font-size-desktop-small;
      display: block;
      padding-top: 29px;
    }

    .configuration-checkbox {
      padding: 0.75em 0;
      paper-checkbox {
        margin: 0.5em 0 0.25em;
      }
      paper-checkbox::shadow #ink[checked] {
        color: $color-red;
      }

      paper-checkbox::shadow #checkbox.checked {
        background-color: $color-red;
        border-color: $color-red;
      }

      paper-checkbox::shadow #checkbox {
        border-color: $color-grey-medium;
      }
    }

    .domain-aut {
      padding: 0.75em 0 0 0;
    }

    @media screen and (max-width: $size-mobile) {
      .content {
        padding: 26px;
      }
    }

  }
}

@media  screen and (max-width: $size-mobile){
  .tab-content {
    font-size: $font-size-mobile-footer;
  }
}
