@import "_variables";
@import "portfolio-page";

.settings-page {
  /deep/ {
    .content {
      display: none;
    }

    .design-settings-list {
      @extend .ul-reset;
      font-size: $font-size-desktop-small;
      color: $color-grey-medium;
    }

    .settings-label {
      font-weight: bold;
      display: block;
      margin: 0.5em 0 0.25em;
    }

    .theme-color {
      color: $color-red;
    }

    paper-input-decorator {
      /deep/ {
        .focused-underline {
          background-color: $color-red;
        }
      }
    }

    .upload-logo-button {
      color: $color-red;
      text-transform: none;
      margin: 0 0 5px 0;
      width: 100%;
    }

    .upload-logo-button-icon {
      color: $color-grey-medium;
    }

    .settings-panel {
      .col-5 {
        width: 185px;
        max-width: 185px;
        min-width: 185px;
        padding: 0.75em 0;
        margin-right: 20px;
      }

      .col-7 {
        width: 157px;
        max-width: 157px;
        min-width: 157px;
      }
    }

    .logo-size {
      display: block;
    }

    .theme-radio-group {
      padding: 0.75em 0;
      /deep/ {
        paper-radio-button {
          margin: 0.5em 0.5em 0.25em 0;
        }
        paper-radio-button::shadow #onRadio {
          background-color: $color-red;
        }
        paper-radio-button[checked]::shadow #offRadio {
          border-color: $color-red;
        }
        paper-radio-button::shadow #ink[checked] {
          color: $color-red;
        }
        paper-radio-button::shadow #offRadio {
          border-color: $color-grey-medium;
        }
      }
    }

    .settings-panel {
      margin-bottom: 20px;
    }

    .settings-list-form {
      width: 520px;
      paper-input-decorator {
        /deep/ {
          .label-text,.error {
            color: $color-red;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          ::-webkit-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          ::-moz-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          :-ms-input-placeholder {
            color: $color-grey-medium;
            font-size: $font-size-desktop-small;
            font-weight: bold;
          }
          .unfocused-underline {
            background-color: $color-grey-medium;
          }
          .focused-underline {
            background-color: $color-red;
          }
        }
      }
    }

    .optional-label {
      color: $color-grey-medium;
      font-size: $font-size-desktop-small;
      display: block;
      padding-top: 29px;
    }

    .configuration-checkbox {
      padding: 0.75em 0;
      paper-checkbox {
        margin: 0.5em 0 0.25em;
      }
      paper-checkbox::shadow #ink[checked] {
        color: $color-red;
      }
      paper-checkbox::shadow #checkbox.checked {
        background-color: $color-red;
        border-color: $color-red;
      }
      paper-checkbox::shadow #checkbox {
        border-color: $color-grey-medium;
      }
    }

    .domain-aut {
      padding: 0.75em 0 0 0;
    }

    .users-settings-dropdown {
      margin-bottom: 10px;
      position: fixed;
      right: 26px;
      top: 98px;
      z-index: 2;
      paper-dropdown {
        top: 63px;
      }
    }

    @media screen and (max-width: $size-mobile) {
      .theme-radio-group {
        /deep/ {
          paper-radio-button {
            font-size: $font-size-mobile;
          }
        }
      }

      .settings-panel {
        .col-5 {
          width: 40%;
          margin-right: 0;
          min-width: 40%;
          max-width: 40%;
        }

        .col-7 {
          width: 60%;
          min-width: 60%;
          max-width: 60%;
        }
      }

      .theme-color {
        font-size: $font-size-mobile;
      }

      .upload-logo-button {
        font-size: $font-size-mobile;
        /deep/ [layout][center-center] {
            -ms-flex-pack: initial;
            -webkit-justify-content: initial;
            justify-content: initial;
        }
      }

      .logo-size {
        font-size: $font-size-mobile;
      }

      .settings-list-form {
        width: 100%;
        /deep/ {
          paper-input-decorator {
            /deep/ {
              .label-text, .error {
                font-size: $font-size-mobile;
              }
              ::-webkit-input-placeholder {
                font-size: $font-size-mobile;
              }
              ::-moz-placeholder {
                font-size: $font-size-mobile;
              }
              :-ms-input-placeholder {
                font-size: $font-size-mobile;
              }
            }
          }
        }
      }

      .optional-label {
        font-size: $font-size-mobile;
      }

      .configuration-checkbox {
        padding-left: 15px;
      }

      .users-settings-dropdown {
        top: auto;
        right: 13px;
        bottom: 13px;
        paper-dropdown {
          top: auto;
        }
      }
    }
  }
}

@media  screen and (max-width: $size-mobile){
  .title-item {
    font-size: $font-size-mobile;
  }

  .settings-label {
    font-size: $font-size-mobile;
  }

  .settings-page {
    /deep/ {
      .table-header {
        font-size: $font-size-mobile-small;
        text-transform: none;
      }

      .labels {
        width: 40%;
      }

      .values {
        width: 59%;
      }
    }
  }
}

@media  screen and (max-width: $size-mobile){
  .settings-page {
    /deep/ {
      .table-item {
        font-size: 13px;
      }
    }
  }
}

//----------Table styles

.table-header {
  font-size: $font-size-mobile-small;
}

