@import "compass/reset";
@import "compass/css3";
@import "animation";

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  font-weight: normal;
  background-color: rgba(151,151,151, 1);
}