<polymer-element name="side-menu" attributes="pageClass pageUrl pageTitle pageTabs tabsArray selected pagePanel">
    <template>
        <link rel="stylesheet" href="../../css/dashboard-page.css">
        <core-scaffold responsiveWidth="1280px"
                       mode="waterfall">
            <core-header-panel navigation flex>
                <!--Side menu-->
                <core-toolbar>
                    <div class="logo"><img src="../../img/logo-light.png"></div>
                </core-toolbar>
                <core-selector valueattr="label"
                               class="menu"
                               excludedLocalNames="h3"
                               selected="{{pageUrl}}">
                    <paper-item label="dashboard"
                                on-tap="{{menuGo}}">
                        <core-icon icon="dashboard"></core-icon>
                        Dashboard
                    </paper-item>
                    <paper-item label="portfolio"
                                on-tap="{{menuGo}}">
                        <core-icon icon="perm-media"></core-icon>
                        Portfolio
                    </paper-item>
                    <!--<h3><core-icon icon="perm-media"></core-icon>Portfolio</h3>-->
                    <template repeat="{{val in menuContent}}">
                        <paper-item class="child"
                                    label="portfolio/item/{{val.id}}"
                                    on-tap="{{menuGo}}">{{val.title}}</paper-item>
                    </template>
                    <paper-item label="profile"
                                on-tap="{{menuGo}}">
                        <core-icon icon="dashboard"></core-icon>
                        Profile
                    </paper-item>
                    <paper-item label="settings"
                                on-tap="{{menuGo}}">
                        <core-icon icon="dashboard"></core-icon>
                        Settings
                    </paper-item>
                </core-selector>
            </core-header-panel>
            <!--Page title-->
            <div tool>{{pageTitle}}</div>
            <!--Page tabs-->
            <template if="{{pageTabs}}">
                <core-toolbar>
                    <div class="bottom fit indent" horizontal layout>
                        <paper-tabs flex selected="{{tabSelected}}">
                            <template repeat="{{val in tabsArray}}">
                                <paper-tab>{{val.label}}</paper-tab>
                            </template>
                        </paper-tabs>
                    </div>
                </core-toolbar>
            </template>
            <!--Subheader panel will be here-->
            <core-toolbar class="portfolio-item-panel" hidden?="{{!pagePanel}}">
                <content select="[subheader]"></content>
            </core-toolbar>
            <!--Tabs content will be here -->
            <core-pages selected="{{tabSelected}}">
                <div class="content">
                    <content select="[tab0]"></content>
                    <footer-page hidden?="{{!pageTabs}}" margin="{{true}}"></footer-page>
                </div>
                <div class="content">
                    <content select="[tab1]"></content>
                    <footer-page hidden?="{{!pageTabs}}" margin="{{true}}"></footer-page>
                </div>
                <div class="content">
                    <content select="[tab2]"></content>
                    <footer-page hidden?="{{!pageTabs}}" margin="{{true}}"></footer-page>
                </div>
                <div class="content">
                    <content select="[tab3]"></content>
                    <footer-page hidden?="{{!pageTabs}}" margin="{{true}}"></footer-page>
                </div>
                <div class="content">
                    <content select="[tab4]"></content>
                    <footer-page hidden?="{{!pageTabs}}" margin="{{true}}"></footer-page>
                </div>
            </core-pages>
            <!--Page content wil be here-->
            <div class="content">
                <content></content>
                <footer-page hidden?="{{pageTabs}}"></footer-page>
            </div>
        </core-scaffold>

        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="portfolioItems"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('side-menu', {
            ready: function(){
                this.$.portfolioItems.url = this.$.globals.url+'resources/json/sidemenu.json';
            },
            menuContent: [],
            tabSelected: 0,
            menuGo: function(e){
                var link = e.currentTarget.attributes.label.value;
                if(this.url != link){
                    document.querySelector('app-router').go('/'+link, {replace: false});
                }
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    this.menuContent = data.response.content;
                }
            },
            pageTabs: false
        });
    </script>
</polymer-element>