<polymer-element name="side-menu" attributes="pageClass pageUrl pageTitle pageTabs tabsArray selected pagePanel tabHoldings">
    <template>
        <link rel="stylesheet" href="../../css/dashboard-page.css">
        <core-scaffold responsiveWidth="1280px"
                       mode="standart">
            <!--Side menu-->
            <core-header-panel navigation flex>
                <core-toolbar>
                    <div class="logo"><img src="../../img/logo-light.png"></div>
                </core-toolbar>
                <core-selector valueattr="label"
                               class="menu"
                               excludedLocalNames="h3"
                               selected="{{selectedPage}}">
                    <paper-item label="dashboard"
                                name="dashboard"
                                on-tap="{{menuGo}}">
                        <core-icon icon="dashboard"></core-icon>
                        Dashboard
                    </paper-item>
                    <paper-item label="portfolio"
                                name="portfolio"
                                on-tap="{{menuGo}}">
                        <core-icon icon="perm-media"></core-icon>
                        Portfolio
                    </paper-item>
                    <template repeat="{{val in menuContent}}">
                        <paper-item class="child"
                                    name="{{val.title}}"
                                    label="portfolio/item/{{val.id}}"
                                    on-tap="{{menuGo}}">{{val.title}}
                        </paper-item>
                    </template>
                    <paper-item label="profile"
                                name="profile"
                                on-tap="{{menuGo}}">
                        <core-icon icon="account-circle"></core-icon>
                        Profile
                    </paper-item>
                    <paper-item label="settings"
                                name="settings"
                                on-tap="{{menuGo}}">
                        <core-icon icon="settings"></core-icon>
                        Settings
                    </paper-item>
                </core-selector>
            </core-header-panel>
            <!--Page title-->
            <div tool class="curr-page-title">{{pageTitle}}</div>
            <!--Page tabs-->
            <template if="{{pageTabs}}">
                <core-toolbar>
                    <div class="bottom fit indent" horizontal layout>
                        <paper-tabs flex selected="{{tabSelected}}">
                            <template repeat="{{val in tabsArray}}">
                                <paper-tab id="{{val.name}}" on-tap="{{checkSubheaderContent}}">{{val.label}}</paper-tab>
                            </template>
                        </paper-tabs>
                    </div>
                </core-toolbar>
            </template>
            <!--Subheader panel-->
            <core-toolbar class="portfolio-item-panel" hidden?="{{!pagePanel}}">
                <content select="[subheader]"></content>
            </core-toolbar>
            <!--Tabs content-->
            <core-pages selected="{{tabSelected}}" id="tab-views" fit>
                <div>
                    <content select="[tab0]"></content>
                </div>
                <div>
                    <content select="[tab1]"></content>
                </div>
                <div>
                    <content select="[tab2]"></content>
                </div>
            </core-pages>
            <!--Page content-->
            <div class="content" fit>
                <content></content>
            </div>
            <!--Footer-->
            <footer-page></footer-page>
        </core-scaffold>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="portfolioItems"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('side-menu', {
            ready: function(){
                this.$.portfolioItems.url = this.$.globals.url+'resources/json/sidemenu.json';
                this.selectedPage = this.pageUrl;
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    me.menuContent = data.response.content;
                }
            },
            menuContent: [],
            tabSelected: 0,
            pageTabs: false,

            //Pages routing
            menuGo: function(e){
                var link = e.currentTarget.attributes.label.value;
                if(this.url != link){
                    document.querySelector('app-router').go('/'+link, {replace: false});
                }
            },

            //Show holdings subheader content
            checkSubheaderContent: function (e){
                var holdingTab = e.currentTarget.id;
                if (holdingTab == 'holdings'){
                    this.tabHoldings = true;
                }
                else {
                    this.tabHoldings = false;
                }
            }
        });
    </script>
</polymer-element>