doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        title Fundamental Polymer App
        script(src='bower_components/webcomponentsjs/webcomponents-lite.js')
        script(src="bower_components/page/page.js")
        link(rel="stylesheet" href="css/styles.css")
        include templates/imports
    body.relative(unresolved="")
        template(is="dom-bind", id="app")
            include templates/custom-style
            include templates/query-matches
            div(hidden="{{route.main}}")
                include templates/login-page/login-page
            div(hidden="{{!route.main}}")
                include templates/main-page/main-page
            iron-ajax(auto, url="{{url}}", body='{{body}}', method="{{method}}", handle-as="json", on-response="handleResponse", debounce-duration="300")
        script(src="app.js", rel="text/javascript")
        script(src="templates/login-page/login-page.js", rel="text/javascript")
