doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        title Fundamental Polymer App
        script(src='bower_components/webcomponentsjs/webcomponents-lite.js')
        script(src="bower_components/page/page.js")
        link(rel="stylesheet" href="css/styles.css")
        link(rel='shortcut icon', href='assets/images/favicon.ico', type='image/x-icon')
        include templates/imports
    body.relative(unresolved, fullbleed)
        span#browser-sync-binding
        template(is="dom-bind", id="app")
            include templates/custom-style
            include templates/query-matches
            //If user not signed in, open login page
            template(is="dom-if", if="{{!route.main}}")
                include templates/login-page/login-page
            //If user already signed in, open main page
            template(is="dom-if", if="{{route.main}}")
                include templates/main-page/main-page
            paper-dialog#alertDialog(entry-animation="scale-up-animation", exit-animation="fade-out-animation", with-backdrop)
                h2#alertHeader
                .dialog-content
                    p#alertText
                .dialog-actions.buttons
                    paper-button(dialog-dismiss) OK
            paper-dialog#confirmDialog(entry-animation="scale-up-animation", exit-animation="fade-out-animation", with-backdrop)
                h2#confirmHeader
                .dialog-content
                    p#confirmText
                .dialog-actions.buttons
                    paper-button#confirmButton(dialog-confirm) Ok
                    paper-button(dialog-dismiss) Cancel
        script(src="app.js", rel="text/javascript")
        script(src="templates/login-page/login-page.js", rel="text/javascript")
        script(src="templates/main-page/main-page.js", rel="text/javascript")
        script(src="templates/dashboard-page/dashboard-page.js", rel="text/javascript")
        script(src="templates/portfolio-page/portfolio-page.js", rel="text/javascript")
        script(src="templates/portfolio-item/portfolio-item.js", rel="text/javascript")
        script(src="templates/profile-page/profile-page.js", rel="text/javascript")
        script(src="templates/settings-page/settings-page.js", rel="text/javascript")
