doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        title Fundamental Polymer App
        script(src='bower_components/webcomponentsjs/webcomponents-lite.js')
        script(src="bower_components/page/page.js", rel="text/javascript")
        script(src="bower_components/Chart.js/Chart.min.js", rel="text/javascript")
        script(src='bower_components/js-xls/xls.js', rel="text/javascript")
        script(src='bower_components/js-xls/shim.js', rel="text/javascript")
        script(src='bower_components/js-xlsx/dist/jszip.js', rel="text/javascript")
        script(src='bower_components/js-xlsx/xlsx.js', rel="text/javascript")
        script(src='bower_components/js-xlsx/shim.js', rel="text/javascript")
        script(src='bower_components/lodash/lodash.js')
        link(rel='import', href='bower_components/polymer/polymer.html')
        link(rel='import', href='bower_components/font-roboto/roboto.html')
        link(rel="stylesheet" href="css/styles.css")
        link(rel='shortcut icon', href='assets/images/favicon.ico', type='image/x-icon')
        include templates/imports
    body.relative(unresolved, fullbleed)
        .loading-screen
            .loading-wrapper
                span.loading-text Loading
                    span.dot.one
                    span.dot.two
                    span.dot.three
                //img.loading-spinner(src="assets/images/FPM-loader.gif")
        span#browser-sync-binding
        template(is="dom-bind", id="app")
            include templates/custom-style
            include templates/query-matches
            //If user not signed in, open login page
            template(is="dom-if", if="{{!route.main}}")
                include templates/login-page/login-page
            //If user already signed in, open main page
            template(is="dom-if", if="{{route.main}}")
                include templates/main-page/main-page
            //Alert Dialog
            paper-dialog#alertDialog(entry-animation="scale-up-animation", exit-animation="fade-out-animation", with-backdrop)
                h2#alertHeader
                .dialog-content
                    p#alertText
                .dialog-actions.buttons
                    paper-button(dialog-dismiss) OK
            //Confirm Dialog
            paper-dialog#confirmDialog(entry-animation="scale-up-animation", exit-animation="fade-out-animation", with-backdrop)
                h2#confirmHeader
                .dialog-content
                    p#confirmText
                .dialog-actions.buttons
                    paper-button#confirmButton(dialog-confirm) Ok
                    paper-button(dialog-dismiss) Cancel
            //This is settings dialog for users file import
            paper-dialog#importDialog(entry-animation="scale-up-animation", exit-animation="fade-out-animation", with-backdrop, on-iron-overlay-opened="listenForFile", on-iron-overlay-closed="cleanFile")
                h2 Import
                .dialog-content.import-dialog-content
                    label.dialog-label Upload a file
                    .chose-file-place.layout.horizontal.start.center
                        input#output.file-label(type="text", readonly)
                        button.chose-file-btn Browse
                            input#fileInput.file-place(type="file", value="", accept=".xlsx, .xls")
                    div(hidden$="[[tabWidthScreen]]")
                        label.dialog-label.or-label Or
                        #dropZone.drag-and-drop-place.layout.horizontal.center-center
                            span.drag-and-drop-label Drag and drop file here
                .dialog-actions.buttons
                    paper-button(dialog-dismiss) Cancel
                    paper-button(on-tap="uploadUsers") Upload
            //This is settings dialog which add new user to table
            paper-dialog#addUserDialog(entry-animation="scale-up-animation", exit-animation="fade-out-animation", with-backdrop, on-iron-overlay-closed="cleanDialog")
                h2 Add user
                .dialog-content.add-user-form
                    paper-input#newEmail(label="Email", type="email", error-message="Please enter user Email", required)
                    paper-input#newFirstName(label="First Name", type="text", error-message="Please enter user First Name", required)
                    paper-input#newLastName(label="Last Name", type="text", error-message="Please enter user Last Name", required)
                .dialog-actions.buttons
                    paper-button(dialog-dismiss) Cancel
                    paper-button(on-tap="addConfirmed") Add
        //'template id="app"' script separated for pages
        script(src="app.js", rel="text/javascript")
        script(src="templates/routing.js", rel="text/javascript")
        script(src="templates/login-page/login-page.js", rel="text/javascript")
        script(src="templates/main-page/main-page.js", rel="text/javascript")
        script(src="templates/dashboard-page/dashboard-page.js", rel="text/javascript")
        script(src="templates/portfolio-page/portfolio-page.js", rel="text/javascript")
        script(src="templates/portfolio-item/portfolio-item.js", rel="text/javascript")
        script(src="templates/profile-page/profile-page.js", rel="text/javascript")
        script(src="templates/settings-page/settings-page.js", rel="text/javascript")
