<polymer-element name="test-table">
    <template>
        <link rel="stylesheet" href="../../../css/test-table.css">
        <side-menu class="{{page.class}}" pageUrl="{{page.url}}" pageTitle="{{page.title}}" >
            <div class="table-wrapper">
                <div class="portfolio-table">
                    <core-media-query query="max-width: 640px"
                                      queryMatches="{{phoneScreen}}"></core-media-query>
                    <div class="table-header-list" layout horizontal?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">
                        <div class="col-padding table-header" flex four>Code</div>
                        <div class="col-padding table-header" flex five>Name</div>
                        <div class="col-padding table-header" flex three>Status</div>
                        <div class="col-padding table-header" flex five>Tax Currency</div>
                        <div class="col-padding table-header" flex seven>Residency</div>
                    </div>
                    <div class="table-body">
                        <template repeat="{{val in portfolioPageContent}}">
                            <div layout vertical?="{{phoneScreen}}">
                                <h1 hidden?="{{!phoneScreen}}" class="table-header table-header-list">{{val.name}}</h1>
                                <div layout horisontal?="{{phoneScreen}}">
                                    <div class="col-content headers" hidden?="{{!phoneScreen}}">
                                        <div class="col-padding table-item">Code</div>
                                        <div class="col-padding table-item">Status</div>
                                        <div class="col-padding table-item">Tax Currency</div>
                                        <div class="col-padding table-item">Residency</div>
                                    </div>
                                    <div class="col-content" layout?="{{!phoneScreen}}" horizontal?="{{!phoneScreen}}">
                                        <div class="col-padding table-item " flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{val.code}}</div>
                                        <div class="col-padding table-item " flex?="{{!phoneScreen}}" five?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">{{val.name}}</div>
                                        <div class="col-padding table-item " flex?="{{!phoneScreen}}" three?="{{!phoneScreen}}">{{val.status}}</div>
                                        <div class="col-padding table-item " flex?="{{!phoneScreen}}" five?="{{!phoneScreen}}">{{val.taxCurrency}}</div>
                                        <div class="col-padding table-item " flex?="{{!phoneScreen}}" seven?="{{!phoneScreen}}">{{val.residency}}</div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </side-menu>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="portfolioPageItems"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('test-table',{
            ready: function(){
                this.$.portfolioPageItems.url = this.$.globals.url+'resources/json/portfolio.json';
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    me.portfolioPageContent = data.response.item;
                }
            },
            page: {
                class: 'test-table',
                url: 'tables',
                title: 'Table'
            }
        })
    </script>
</polymer-element>