dom-module#alert-element
    template
        link(rel="stylesheet" href="../../css/alert-element.css")
        paper-dialog
            h2.dialog-header {{header}}
            .dialog-content
            .dialog-actions
                paper-button Ok
    script.
        Polymer({is: 'alert-element'});
