div.portfolio-item-toolbar.bottom.title-aligned.layout.horizontal.start.center
    paper-button.calendar-btn.layout.horizontal.center.bar-btn.relative(on-tap="toggleCalendar")
        iron-icon.bar-icon(icon="event")
        span.bar-label {{formatDate(chosenDate)}}
        iron-icon(icon="arrow-drop-down", hidden="[[mobileWidthScreen]]")
    iron-dropdown#calendar(horizontal-align="left" vertical-align="top", open-animation-config="[[openAnimationConfig]]", close-animation-config="[[closeAnimationConf]]" vertical-offset="16", )
        .dropdown-content.calendar
            paper-date-picker(date="{{chosenDate}}")
            .calendar-actions.layout.horizontal-reverse
                paper-button(on-tap="toggleCalendar") Ok
                paper-button(on-tap="toggleCalendar") Cancel
    template(is="dom-if", if="[[checkRoute(portfolioTab, 'holdings')]]")
        template(is="dom-if", if="[[getCurrentClassifications(portfolioItems, route)]]")
            paper-menu-button.dropdown-menu.category-selector(open-animation-config='[[openAnimationConfig]]', vertical-offset="16")
                paper-button.dropdown-trigger.bar-btn.category-btn.layout.horizontal.start.center
                    iron-icon.bar-icon(icon="description")
                    span.bar-label.classification-name {{selectedClassification.name}}
                    iron-icon(icon="arrow-drop-down", hidden="[[mobileWidthScreen]]")
                paper-menu.dropdown-content(selected="{{selectedClassification}}" attr-for-selected="category")
                    template(is="dom-repeat", items="{{getCurrentClassifications(portfolioItems, route)}}")
                        paper-item(category="[[item]]")
                            span.category-name [[item.name]]
        .search-wrapper.layout.horizontal
            input#searchField.search-field.flex(value="{{searchRequest::input}}", type="text", placeholder="Filter by name")
            .search-icon-wrapper.layout.horizontal.center-center
                iron-icon.icon-search(icon="search", hidden="{{searchRequest}}", on-tap="startSearch")
                iron-icon.icon-clean(icon="close", hidden="{{!searchRequest}}", on-tap="cleanSearch")
