.layout.horizontal.no-holdings.relative(hidden$="{{holdings.length}}")
    .layout.horizontal.center-center.fit
        span.no-data No holdings here
#p-holdings-page.p-holdings-page-wrapper(hidden$="[[!holdings.length]]")
    holdings-table(search-string="{{searchRequest}}", active-color="[[appColor]]")
.loading-screen.fit.layout.horizontal.center-center(hidden$="{{!loader}}")
    .pre-loader.layout.horizontal.start.center
        span Loading
            span.dot.one
            span.dot.two
            span.dot.three
