<link rel="stylesheet" href="../../../css/dialog-styles.css">
<polymer-element name="general-settings" attributes="scope">
    <template>
        <link rel="stylesheet" href="../../../css/settings-page.css">
        <div class="content" fit>
            <div class="design-settings-panel settings-panel">
                <h2 class="title-item">Design</h2>
                <ul class="design-settings-list">
                    <li class="row" horizontal layout start>
                        <div class="col-5 label-block">
                            <span class="settings-label">Theme</span>
                        </div>
                        <paper-radio-group id="theme" selected="{{scope.theme}}" class="col-7 theme-radio-group" on-core-select="{{saveTheme}}" layout horizontal start>
                            <paper-radio-button name="light" label="light"></paper-radio-button>
                            <paper-radio-button name="dark" label="dark"></paper-radio-button>
                        </paper-radio-group>
                    </li>
                    <li class="row" horizontal layout start>
                        <div class="col-5 label-block">
                            <span class="settings-label">Colour</span>
                        </div>
                        <div class="col-7" layout vertical relative>
                            <paper-input-decorator id="themeColor"
                                                   label="Set color"
                                                   class="theme-color" on-tap="{{openColorPicker}}">
                                <input type="text" value="{{scope.themeColor}}" disabled>

                            </paper-input-decorator>
                            <paper-dropdown layout vertical  opened="{{colorPickerStatus}}" class="color-picker">
                                <color-picker id="colorPicker" on-colorselected="{{colorSelected}}" width="200" height="200"></color-picker>
                                <div layout vertical>
                                    <span id="colorPreview" class="color-preview" self-center></span>
                                    <core-field self-center class="selected-color">
                                        <input type="text" value="{{mainColor}}" id="mainColor" on-keyup="{{checkColor}}">
                                    </core-field>
                                </div>
                                <div class="actions" layout horizontal start reverse>
                                    <paper-button role="button" class="set-color" on-tap="{{saveColor}}">OK</paper-button>
                                    <paper-button role="button" class="close-color-picker" on-tap="{{closeColorPicker}}">Cancel</paper-button>
                                </div>
                            </paper-dropdown>
                        </div>
                    </li>
                    <li class="row" horizontal layout start>
                        <div class="col-5 label-block">
                            <span class="settings-label">Logo</span>
                        </div>
                        <div class="col-7 upload-photo-group">
                            <div>
                                <paper-button class="upload-logo-button" layout horizontal relative>
                                    <core-icon icon="file-upload" class="upload-logo-button-icon"></core-icon>
                                    Upload Logo
                                    <input type="file" fit on-change="{{uploadNewLogo}}">
                                </paper-button>
                            </div>
                            <span class="logo-size">250px X 36px(.png)</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="email-settings-panel settings-panel">
                <h2 class="title-item">Email</h2>
                <form class="email-settings-list settings-list-form" id="emailSettings">
                    <paper-input-decorator id="servAddres"
                                           label="SMTP Server Address"
                                           floatingLabel
                                           error="Please enter SMTP Server Address">
                        <input type="text" value="{{scope.servAddres}}" on-blur="{{saveData}}" required>
                    </paper-input-decorator>
                    <paper-input-decorator id="servPort"
                                           label="SMTP Server Port"
                                           floatingLabel
                                           error="Please enter SMTP Server Port">
                        <input type="number" value="{{scope.servPort}}" on-blur="{{saveData}}" required>
                    </paper-input-decorator>
                    <paper-input-decorator id="ssl"
                                           label="SSL"
                                           floatingLabel
                                           error="Please enter SSL">
                        <input type="number" value="{{scope.ssl}}" on-blur="{{saveData}}" required>
                    </paper-input-decorator>
                    <span class="optional-label">Optional</span>
                    <paper-input-decorator id="username"
                                           label="Username"
                                           floatingLabel
                                           error="Please enter Username">
                        <input type="text" value="{{scope.username}}" on-blur="{{saveData}}" required>
                    </paper-input-decorator>
                    <paper-input-decorator id="password"
                                           label="Password"
                                           floatingLabel
                                           error="Please enter Password">
                        <input type="password" value="{{scope.password}}" on-blur="{{saveData}}" required>
                    </paper-input-decorator>
                </form>
            </div>
        </div>
        <paper-action-dialog id="errorDialog"
                             heading="Error"
                             transition="core-transition-center"
                             backdrop
                             layered="true">
            <p>{{dialogText}}</p>
            <paper-button affirmative autofocus class="action-button">Ok</paper-button>
        </paper-action-dialog>
    </template>
    <script>
        Polymer('general-settings',{
            scope: {
                servAddres: ' ',
                servPort: 0,
                ssl: 0,
                username: ' ',
                password: ' '
            },
            emailSettingsUpdate: function(){
                //Data lost or empty form
                var me = this;
                var emailSettings = {
                    servAddres: me.$.servAddres,
                    servPort: me.$.servPort,
                    ssl: me.$.ssl,
                    username: me.$.username,
                    password: me.$.password
                };

                for (var field in emailSettings) {
                    updateUserFormLabels(emailSettings[field]);
                }

                function updateUserFormLabels(e){
                    e.input.value = '';
                    e.updateLabelVisibility();
                }
            },
            saveData: function(e) {
                var fieldName = e.currentTarget.parentNode.id;
                var fieldDecorator = e.currentTarget.parentNode;

                if (fieldDecorator.validate()) {
                    //Submit must be here!
                    //console.log(this.scope[fieldName]);
                }
                else {
                    e.currentTarget.focus();
                }
            },

            //save checkboxes
            saveTheme: function(e){
                var fieldName = e.currentTarget.id;
                var theme = this.$.theme.selected;
                var template = document.querySelector('template[is="auto-binding"]');

                if (theme == 'light'){
                    template.themeLight = true;
                    //only for current company
                    //template.logo = 'img/logo-dark.png';
                }
                else {
                    template.themeLight = false;
                    //template.logo = 'img/logo-light.png';
                }
                //Submit must be here!
            },

            //Choose site color
            openColorPicker: function(){
                this.colorPickerStatus = true;
                this.mainColor = this.scope.themeColor;
                this.painColorPreview(this.mainColor);
            },

            closeColorPicker: function(){
                this.colorPickerStatus = false;
            },

            //by OK button of color-picker
            saveColor: function(){
                var color = this.mainColor;
                if (this.colorValidate(color)){
                    this.scope.themeColor = this.mainColor;
                }
                //Submit must be here!

                this.colorPickerStatus = false;

            },

            checkColor: function(){
                var color = this.mainColor;
                if (this.colorValidate(color)){
                    this.painColorPreview(color);
                }
            },

            colorValidate: function(color){
                var hex= /(^#[0-9A-F]{6}$)|(^#[0-9A-F]{3}$)/i;
                var rgb = new RGBColor(color);
                var valid;

                if (hex.test(color)){
                    valid = true;
                } else {
                    if (rgb.ok) {valid = true;}
                    else {valid = false;}
                }

                return valid;
            },

            colorSelected: function(e){
                this.mainColor = e.detail.hex;
                this.painColorPreview(this.mainColor);
            },

            painColorPreview: function(color){
                var prev = this.$.colorPreview;
                prev.style.backgroundColor = color;
            },

            //upload New Logo functional
            uploadNewLogo: function(event, detail, sendler){
                var dialog = this.$.errorDialog;
                var dialogText = this.dialogText;
                var template = document.querySelector('template[is="auto-binding"]');
                //template.logo = 'img/logo-dark.png';
                this.handleFileSelect(event, function(e){
                    var image = new Image();
                    image.src = e.target.result;
                    if (image.width == 250 && image.height == 36){
                        dialog.removeAttribute('heading');
                        dialog.querySelector('p').innerHTML = 'Logo updated!';
                        dialog.toggle();
                        template.logo = e.target.result;
                        //Submit must be here!
                        //console.log(template.logo);
                    }
                    else {
                        dialog.querySelector('p').innerHTML = 'Image must by 250px X 36px!';
                        dialog.toggle();
                    }
                });
            },

            handleFileSelect: function(evt, callback){
                var file = evt.target.files[0]; // FileList object
                var error = this.errorMessage;
                // Only process image files.
                if (file.type.match('image.*')) {
                    if (file.type.match('image/png.*')) {
                        var reader = new FileReader();
                        // Closure to capture the file information.
                        reader.onload = callback;
                        // Read in the image file as a data URL.
                        reader.readAsDataURL(file);
                    }
                    else  {
                        this.errorMessage('Please choose an ".png" format image!');
                    }
                }
                else {
                    this.errorMessage('Please choose an image!');
                }
            },
            errorMessage: function(text){
                this.dialogText = text;
                this.$.errorDialog.toggle();
            }
        });
    </script>
</polymer-element>