<link rel="import" href="general-settings.html">
<link rel="import" href="fpm-configs.html">
<link rel="import" href="users-list.html">
<polymer-element name="settings-page">
    <template>
        <link rel="stylesheet" href="../../../css/settings-page.css">
        <div layout vertical fit>
            <paper-shadow z="1">
                <core-toolbar>
                    <div class="bottom fit indent" horizontal layout>
                        <paper-tabs flex valueattr="name" selected="{{selectedTab}}">
                            <paper-tab name="general">
                                General
                            </paper-tab>
                            <paper-tab name="fpmConfig">
                                FPM Configs
                            </paper-tab>
                            <paper-tab name="users">
                                Users
                            </paper-tab>
                        </paper-tabs>
                    </div>
                </core-toolbar>
            </paper-shadow>
            <core-pages valueattr="name" selected="{{selectedTab}}" flex>
                <section name="general">
                    <general-settings scope="{{usersSettings.general}}" id="general"></general-settings>
                </section>
                <section name="fpmConfig">
                    <fpm-configs scope="{{usersSettings.fpm}}" id="fpmConfigs"></fpm-configs>
                </section>
                <section name="users">
                    <users-list id="userList"></users-list>
                </section>
            </core-pages>
        </div>
    <app-globals id="globals"></app-globals>
    <core-ajax auto
               id="settingsContent"
               on-core-response="{{contentResponse}}"></core-ajax>
</template>
    <script>
        Polymer('settings-page',{
            ready: function (){
                this.$.settingsContent.url = this.$.globals.url+'resources/json/settings.json';
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    me.usersSettings = data.response;
                }
                else {
                    me.$.general.emailSettingsUpdate();
                    me.$.fpmConfigs.configurationsUpdate();
                }
            },
            selectedTab:'general'
        })
    </script>
</polymer-element>