<polymer-element name="settings-page">
    <style>
        /*Dialogs styles*/
        html /deep/ paper-action-dialog::shadow #scroller {
            height: 255px;
            width: 350px;
        }
        html /deep/ paper-action-dialog paper-button.action-button {
            color: #DD1F29;
        }
        html /deep/ paper-action-dialog form {
            color: #4A4A4A;
        }
        html /deep/ paper-action-dialog .or {
            display: block;
            text-align: center;
            margin-bottom: 10px;
        }
        html /deep/ paper-action-dialog .browse-field {
            margin-bottom: 10px;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            border-right: 0;
        }
        html /deep/ paper-action-dialog .browse-button {
            margin: 0;
            background: #D8D8D8;
            color: #4A4A4A;
        }
        html /deep/ paper-action-dialog .browse-input {
            line-height: 33px;
        }
        html /deep/ paper-action-dialog .upload-label {
            display: block;
            margin-bottom: 10px;
        }
        html /deep/ paper-action-dialog core-drag-drop {
            border: 1px solid #D8D8D8;
            display: block;
            border-radius: 5px;
        }
        html /deep/ paper-action-dialog .drag-drop-label {
            display: block;
            text-align: center;
            padding: 10%;
            color: #D8D8D8;
        }
        html /deep/ paper-action-dialog paper-input-decorator /deep/ .label-text {
            color: #DD1F29;
        }
        html /deep/ paper-action-dialog paper-input-decorator /deep/.focused-underline {
            background-color: #DD1F29;
        }
        html /deep/ paper-action-dialog paper-input-decorator /deep/ #floatedLabelText {
            color: #DD1F29;
        }

    </style>
    <template>
        <link rel="stylesheet" href="../../../css/settings-page.css">
        <side-menu class="{{page.class}}" pageUrl="{{page.url}}" pageTitle="{{page.title}}" pageTabs="{{page.tabs}}" tabsArray="{{tabs}}" selected="{{selected}}">
            <div tab0 fit class="tab-page-content">
                <div class="design-settings-panel settings-panel">
                    <h2 class="title-item">Design</h2>
                    <ul class="design-settings-list">
                        <li class="row" horizontal layout start>
                            <div class="col-5 label-block">
                                <span class="settings-label">Theme</span>
                            </div>
                            <paper-radio-group selected="dark" class="col-7 theme-radio-group" layout horizontal start>
                                <paper-radio-button name="light" label="light"></paper-radio-button>
                                <paper-radio-button name="dark" label="dark"></paper-radio-button>
                            </paper-radio-group>
                        </li>
                        <li class="row" horizontal layout start>
                            <div class="col-5 label-block">
                                <span class="settings-label">Colour</span>
                            </div>
                            <div class="col-7">
                                <paper-input-decorator id="theme-color"
                                                       label="Set color">
                                    <input type="text" value="#DD1F29" class="theme-color">
                                </paper-input-decorator>
                            </div>
                        </li>
                        <li class="row" horizontal layout start>
                            <div class="col-5 label-block">
                                <span class="settings-label">Logo</span>
                            </div>
                            <div class="col-7 upload-photo-group">
                                <paper-button class="upload-logo-button">
                                    <core-icon icon="file-upload" class="upload-logo-button-icon"></core-icon>
                                    Upload Logo
                                </paper-button>
                                <span class="logo-size">100px X 50px(.png)</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div  class="email-settings-panel settings-panel">
                    <h2 class="title-item">Email</h2>
                    <form class="email-settings-list settings-list-form">
                        <paper-input-decorator id="smtpddress"
                                               label="SMTP Server Address"
                                               floatingLabel>
                            <input type="text">
                        </paper-input-decorator>
                        <paper-input-decorator id="smtpPort"
                                               label="SMTP Server Port"
                                               floatingLabel>
                            <input type="text">
                        </paper-input-decorator>
                        <paper-input-decorator id="ssl"
                                               label="SSL"
                                               floatingLabel>
                            <input type="text">
                        </paper-input-decorator>
                        <span class="optional-label">Optional</span>
                        <paper-input-decorator id="username"
                                               label="Username"
                                               floatingLabel>
                            <input type="text">
                        </paper-input-decorator>
                        <paper-input-decorator id="password"
                                               label="Password"
                                               floatingLabel>
                            <input type="password">
                        </paper-input-decorator>
                    </form>
                </div>
            </div>
            <div tab1 fit class="tab-page-content">
                <div class="configuration-settings-panel settings-panel">
                    <h2 class="title-item">Configuration</h2>
                    <ul class="design-settings-list">
                        <li class="row" horizontal layout start>
                            <div class="col-5 label-block domain-aut">
                                <span class="settings-label">Domain Autentification</span>
                            </div>
                            <div class="col-7 configuration-checkbox">
                                <paper-checkbox></paper-checkbox>
                            </div>
                        </li>
                        <li class="row" horizontal layout start>
                            <form class="configuration-settings-list settings-list-form">
                                <paper-input-decorator id="domain-aut"
                                                       label="Domain Autentification"
                                                       floatingLabel>
                                    <input type="text">
                                </paper-input-decorator>
                                <paper-input-decorator id="db-serv-name"
                                                       label="DB Server Name"
                                                       floatingLabel>
                                    <input type="text">
                                </paper-input-decorator>
                                <paper-input-decorator id="db-name"
                                                       label="DB Name"
                                                       floatingLabel>
                                    <input type="text">
                                </paper-input-decorator>
                                <paper-input-decorator id="sql-user-name"
                                                       label="SQL User Name"
                                                       floatingLabel>
                                    <input type="text">
                                </paper-input-decorator>
                                <paper-input-decorator id="sql-password"
                                                       label="SQL Password"
                                                       floatingLabel>
                                    <input type="password">
                                </paper-input-decorator>
                                <paper-input-decorator id="sql-port"
                                                       label="SQL Port"
                                                       floatingLabel>
                                    <input type="text">
                                </paper-input-decorator>
                            </form>
                        </li>
                        <li class="row" horizontal layout start>
                            <div class="col-5 label-block">
                                <span class="settings-label">SSL</span>
                            </div>
                            <div class="col-7 configuration-checkbox">
                                <paper-checkbox></paper-checkbox>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div tab2 fit class="tab-page-content">
                <div class="users-settings-dropdown">
                    <paper-fab class="open" icon="add" on-tap="{{openMenu}}" relative></paper-fab>
                    <paper-dropdown opened="{{menuStatus}}" halign="right" valign="{{menuPosition}}" id="usersMenu">
                        <div class="menu-list menu">
                            <paper-item class="item" on-tap="{{openImportDialog}}">
                                <core-icon icon="supervisor-account"></core-icon>
                                <div class="label">Bulk User Import</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item" on-tap="{{openAddDialog}}">
                                <core-icon icon="add"></core-icon>
                                <div class="label" >Add User</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item">
                                <core-icon icon="file-download"></core-icon>
                                <div class="label">Bulk User Template</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                        </div>
                    </paper-dropdown>
                </div>
                <div class="settings-users-dialogs">
                    <paper-action-dialog heading="Import" id="importUsersDialog" opened="{{openImport}}" backdrop>
                        <form>
                            <label class="upload-label">Upload a file</label>
                            <core-field class="browse-field">
                                <input type="text" flex class="browse-input">
                                <paper-button class="browse-button">Browse</paper-button>
                            </core-field>
                            <span class="or">OR</span>
                            <core-drag-drop>
                                <span class="drag-drop-label">Drag and drop file here</span>
                            </core-drag-drop>
                        </form>
                        <paper-button affirmative id="cancel" class="action-button">Cancel</paper-button>
                        <paper-button affirmative class="action-button" on-tap="{{uploadUsers}}">Upload</paper-button>
                    </paper-action-dialog>
                    <paper-action-dialog heading="Add User" id="addUsersDialog" opened="{{openAdd}}" backdrop>
                        <form>
                            <paper-input-decorator id="addUserEmail"
                                                   label="Email Address"
                                                   floatingLabel>
                                <input id="userEmail" type="email">
                            </paper-input-decorator>
                            <paper-input-decorator id="addUserFirstName"
                                                   label="First Name"
                                                   floatingLabel>
                                <input id="userFName" type="text">
                            </paper-input-decorator>
                            <paper-input-decorator id="addUserLastName"
                                                   label="Last Name"
                                                   floatingLabel>
                                <input id="userLName" type="text">
                            </paper-input-decorator>
                        </form>
                        <paper-button affirmative class="action-button">Cancel</paper-button>
                        <paper-button affirmative class="action-button" on-tap="{{addUser}}">Add</paper-button>
                    </paper-action-dialog>
                </div>
                <div class="users-table">
                    <div class="table-wrapper">
                        <core-media-query query="max-width: 640px"
                                          queryMatches="{{phoneScreen}}"></core-media-query>
                        <div class="table-header-list" layout horizontal?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">
                            <div class="col-padding table-header" flex eight>Email Address</div>
                            <div class="col-padding table-header" flex four>First Name</div>
                            <div class="col-padding table-header" flex four>Last Name</div>
                            <div class="col-padding table-header" flex four>Status</div>
                            <div class="col-padding table-header" flex seven>Actions</div>
                        </div>
                        <div class="table-body">
                            <core-selector selected="0" valueattr="number">
                                <template repeat="{{user, i in allUsers}}">
                                    <div layout vertical?="{{phoneScreen}}" number="{{i}}">
                                        <h1 hidden?="{{!phoneScreen}}" class="table-header table-header-list">{{user.email}}</h1>
                                        <div layout horizontal?="{{phoneScreen}}" class="mobile-col-content">
                                            <div class="col-content labels" hidden?="{{!phoneScreen}}">
                                                <div class="col-padding table-item table-label">First Name</div>
                                                <div class="col-padding table-item table-label">Last Name</div>
                                                <div class="col-padding table-item table-label">Status</div>
                                                <div class="col-padding table-item table-label">Actions</div>
                                            </div>
                                            <div class="col-content values" layout?="{{!phoneScreen}}" horizontal?="{{!phoneScreen}}">
                                                <div class="col-padding table-item" flex?="{{!phoneScreen}}" eight?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">{{user.email}}</div>
                                                <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{user.firstName}}</div>
                                                <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{user.lastName}}</div>
                                                <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{user.status}}</div>
                                                <div class="col-padding table-item" flex?="{{!phoneScreen}}" seven?="{{!phoneScreen}}">
                                                    <template repeat="{{act in user.action}}">
                                                        <core-icon icon="{{act}}"></core-icon>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </core-selector>
                        </div>
                    </div>
                </div>
            </div>
        </side-menu>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="settingsContent"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('settings-page',{
            ready: function (){
                this.$.settingsContent.url = this.$.globals.url+'resources/json/settings.json';
                if (this.width <= '640') {
                    this.allUsers = new Array(1);
                }
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    me.usersArray = data.response.users;
                }
            },
            page: {
                class: 'settings-page',
                url: 'settings',
                title: 'Settings',
                tabs: true
            },
            tabs: [
                {
                    name: 'general',
                    label: 'General'
                },
                {
                    name:'fpm config',
                    label: 'FPM config'
                },
                {
                    name:'users',
                    label: 'Users'
                }
            ],
            allUsers: new Array(10),
            newUsers: [],
            width: window.innerWidth,
            selected: 0,
            openMenu: function(e){
                var me = this;
                var width = window.innerWidth;
                if (width <= '640') {
                    me.menuPosition = 'bottom';
                }
                me.menuStatus = true;
            },
            menuStatus: false,
            menuPosition: 'top',
            openImportDialog: function(e){
                var me = this;
                me.openImport = true;
            },
            openImport: false,
            openAddDialog: function(e){
                var me = this;
                var userEmail = me.$.addUsersDialog.querySelector('#userEmail');
                var userFirstName = me.$.addUsersDialog.querySelector('#userFName');
                var userLastName = me.$.addUsersDialog.querySelector('#userLName');
                userEmail.value = '';
                userFirstName.value = '';
                userLastName.value = '';
                me.$.addUserEmail.updateLabelVisibility();
                me.$.addUserFirstName.updateLabelVisibility();
                me.$.addUserLastName.updateLabelVisibility();
                me.openAdd = true;
            },
            openAdd: false,
            uploadUsers: function(){
                var me = this;
                if (me.newUsers.length > 0) {
                    me.allUsers = me.newUsers.concat(me.usersArray);
                    me.allUsers = me.addEmptyStrings(me.allUsers);
                }
                else {
                    me.allUsers = me.addEmptyStrings(me.usersArray);
                }
            },
            addUser: function (){
                var me = this;
                var userEmail = me.$.addUsersDialog.querySelector('#userEmail').value;
                var userFirstName = me.$.addUsersDialog.querySelector('#userFName').value;
                var userLastName = me.$.addUsersDialog.querySelector('#userLName').value;
                var newUserData = {
                            status:'Pending',
                            action:['visibility','refresh']};
                newUserData.email = userEmail;
                newUserData.firstName = userFirstName;
                newUserData.lastName = userLastName;
                me.newUsers.push(newUserData);
                me.allUsers = me.deleteEmptyStrings(me.allUsers);
                me.allUsers.push(newUserData);
                me.allUsers = me.addEmptyStrings(me.allUsers);
            },
            addEmptyStrings: function (items){
                if (this.width > '640') {
                    var counter = items.length;
                    if (counter < 10) {
                        var i=0;
                        var different = 10-counter;
                        var differentArray = new Array(different);
                        while (i<different){
                            differentArray[i] = '';
                            i++;
                        }
                        items = items.concat(differentArray);
                    }
                }
                return items;
            },
            deleteEmptyStrings: function(items){
                var newItems = [];
                for (var i=0; i<items.length; i++) {
                    if (items[i] > '') {
                        newItems.push(items[i]);
                    }
                }
                items = newItems;
                return items;
            }
        })
    </script>
</polymer-element>