<link rel="stylesheet" href="../../../css/dialog-styles.css">
<polymer-element name="users-list">
    <template>
        <link rel="stylesheet" href="../../../css/settings-page.css">
        <div class="content" fit relative>
            <!--Users option-->
            <div horizontal layout reverse class="user-actions">
                <paper-fab icon="add" relative on-tap="{{openMenu}}" id="usersAction"></paper-fab>
                <paper-dropdown opened="{{menuStatus}}" halign="right" valign="{{menuPosition}}" id="usersMenu">
                    <div class="menu-list menu">
                        <paper-item class="item" on-tap="{{openImportDialog}}">
                          <core-icon icon="supervisor-account"></core-icon>
                          <div class="label">Bulk User Import</div>
                        </paper-item>
                        <paper-item class="item" on-tap="{{openAddDialog}}" hidden?="{{mobile}}">
                          <core-icon icon="add"></core-icon>
                          <div class="label" >Add User</div>
                        </paper-item>
                        <paper-item class="item" hidden?="{{mobile}}">
                          <a class="bulk-link" href="../../../../resources/json/users.json" download layout horizontal center>
                              <core-icon icon="file-download"></core-icon>
                              <div class="label">Bulk User Template</div>
                          </a>
                        </paper-item>
                    </div>
                </paper-dropdown>
            </div>
            <!--Options dialogs-->
            <div class="settings-users-dialogs">
                <!--Import users dialog-->
                <paper-action-dialog heading="Import" id="importUsersDialog" opened="{{openImport}}" backdrop>
                    <form>
                        <label class="upload-label">Upload a file</label>
                        <core-field class="browse-field" relative>
                           <input type="text" flex class="browse-input" id="uploadFile">
                           <paper-button class="browse-button">Browse</paper-button>
                           <input type="file" class="browse-hidden" fit id="files" on-change="{{uploadFile}}">
                        </core-field>
                        <span class="or">OR</span>
                        <div id="dropZone" class="upload-drag-drop-zone" on-drop="{{dragAndDropFIle}}" on-dragover="{{dragOver}}">
                            <span class="drag-drop-label">Drag and drop file here</span>
                        </div>
                    </form>
                    <div layout horizontal end-justified>
                        <paper-button affirmative id="cancel" class="action-button" on-tap="{{closeUploadDialog}}">Cancel</paper-button>
                        <paper-button class="action-button" on-tap="{{uploadUsers}}">Upload</paper-button>
                    </div>
                </paper-action-dialog>
                <!--Add user dialog-->
                <paper-dialog heading="Add User" id="addUsersDialog" opened="{{openAdd}}" backdrop>
                    <form>
                        <paper-input-decorator id="addUserEmail"
                                             label="Email Address"
                                             floatingLabel
                                             error="Please enter valid Email">
                          <input id="userEmail" type="email" required>
                        </paper-input-decorator>
                        <paper-input-decorator id="addUserFirstName"
                                             label="First Name"
                                             floatingLabel
                                             error="Please enter user First Name">
                          <input id="userFName" type="text" required>
                        </paper-input-decorator>
                        <paper-input-decorator id="addUserLastName"
                                             label="Last Name"
                                             floatingLabel
                                             error="Please enter user Last Name">
                          <input id="userLName" type="text" required>
                        </paper-input-decorator>
                    </form>
                    <div layout horizontal end-justified>
                        <paper-button on-tap="{{closeAddDialog}}" close class="action-button">Cancel</paper-button>
                        <paper-button class="action-button" on-tap="{{addUser}}">Add</paper-button>
                    </div>
                </paper-dialog>
                <paper-action-dialog id="errorDialog"
                                     heading="Error">
                    <p>{{dialogText}}</p>
                    <paper-button affirmative autofocus class="action-button">Ok</paper-button>
                </paper-action-dialog>
            </div>
            <!--Users table-->
            <div class="users-table">
             <div class="table-wrapper">
                 <core-media-query query="max-width: 768px"
                                   queryMatches="{{phoneScreen}}"></core-media-query>
                 <div class="table-header-list" layout horizontal?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">
                     <div class="col-padding table-header" flex eight>Email Address</div>
                     <div class="col-padding table-header" flex four>First Name</div>
                     <div class="col-padding table-header" flex four>Last Name</div>
                     <div class="col-padding table-header" flex four>Status</div>
                     <div class="col-padding table-header" flex seven>Actions</div>
                 </div>
                 <div class="table-body">
                     <core-selector selected="0" valueattr="number">
                         <template repeat="{{user, i in allUsers | orderBy('email')}}">
                             <div layout vertical?="{{phoneScreen}}" number="{{i}}">
                                 <h1 hidden?="{{!phoneScreen}}" class="table-header table-header-list">{{user.email}}</h1>
                                 <div layout horizontal?="{{phoneScreen}}" class="mobile-col-content">
                                    <!--Users table-headers for mobile view-->
                                    <div class="col-content labels" hidden?="{{!phoneScreen}}">
                                        <div class="col-padding table-item table-label">First Name</div>
                                        <div class="col-padding table-item table-label">Last Name</div>
                                        <div class="col-padding table-item table-label">Status</div>
                                        <div class="col-padding table-item table-label">Actions</div>
                                    </div>
                                    <div class="col-content values" layout?="{{!phoneScreen}}" horizontal?="{{!phoneScreen}}">
                                        <div class="col-padding table-item" flex?="{{!phoneScreen}}" eight?="{{!phoneScreen}}" hidden?="{{phoneScreen}}">{{user.email}}</div>
                                        <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{user.firstName}}</div>
                                        <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{user.lastName}}</div>
                                        <div class="col-padding table-item" flex?="{{!phoneScreen}}" four?="{{!phoneScreen}}">{{user.status}}</div>
                                        <div class="col-padding table-item" flex?="{{!phoneScreen}}" seven?="{{!phoneScreen}}">
                                            <template repeat="{{act in user.action}}">
                                                <core-icon icon="{{act}}"></core-icon>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </template>
                     </core-selector>
                 </div>
             </div>
            </div>
        </div>
    </template>
    <script>
        Polymer('users-list',{
            allUsers: new Array(10),
            newUsers: [],
            usersFromFile:[],
            width: window.innerWidth,
            mobile: false,

            ready: function (){
                //If mobile device...
                if (this.any()){
                    this.mobile = true;
                }

                if (this.width <= '768') {
                    this.allUsers = new Array(1);
                }
            },

            //Upload users from file by browse
            uploadFile: function(event, detail, sendler) {
                this.handleFileSelect(event);
            },
            handleFileSelect: function(evt){
                var file = evt.target.files[0];
                var output = file.name;
                var uploadOutput = this.$.importUsersDialog.querySelector('#uploadFile');
                var reader = new FileReader();
                var format = new RegExp("\.(?=xlsx|json)", 'i');
                var usersFromFile = this.usersFromFile;

                //If file has XLSX or JSON format
                if(format.test(output)){
                    var formatXlsx = new RegExp("\.(?=xlsx)", 'i');
                    //If file has XLSX format
                    if (formatXlsx.test(output)){
                        reader.onload = function(e){
                            //Convert to JSON
                            var data = e.target.result;
                            var workbook = XLSX.read(data, {type: 'binary'});
                            var first_sheet_name = workbook.SheetNames[0];
                            //Get worksheet
                            var worksheet = workbook.Sheets[first_sheet_name];
                            var content = XLSX.utils.sheet_to_json(worksheet);
                            //Remove spaces in actions array
                            for (var i=0; i<content.length; i++){
                                content[i].action = content[i].action.replace(/\s+/g, '');
                                content[i].action = content[i].action.split(',');
                            }
                            content = JSON.stringify(content);
                            localStorage.setItem('usersArray', content);
                        };
                        reader.readAsBinaryString(file);
                    }
                    //If file has JSON format
                    else {
                        reader.onload = function(e){
                            var content = JSON.parse(e.target.result);
                            content = JSON.stringify(content);
                            localStorage.setItem('usersArray', content);
                        };
                        reader.readAsText(file);
                    }

                    uploadOutput.value = output;
                    return this.usersFromFile = usersFromFile;
                }
                else {
                    this.errorMessage('Try another file format');
                    uploadOutput.value = '';
                }
            },

            //Upload users from file by d&d
            dragAndDropFIle: function(event, detail, sendler){
                this.handleFileSelectByDrop(event);
            },
            dragOver: function(event, detail, sendler){
                event.stopPropagation();
                event.preventDefault();
                event.dataTransfer.dropEffect = 'copy';
            },
            handleFileSelectByDrop: function(evt) {
                evt.stopPropagation();
                evt.preventDefault();

                var file = evt.dataTransfer.files[0];
                var output = file.name;
                var uploadOutput = this.$.importUsersDialog.querySelector('#uploadFile');
                var reader = new FileReader();
                var format = new RegExp("\.(?=xlsx|json)", 'i');

                //If file has XLSX or JSON format
                if(format.test(output)){
                    var formatXlsx = new RegExp("\.(?=xlsx)", 'i');
                    //If file has XLSX format
                    if (formatXlsx.test(output)){
                        reader.onload = function(e){
                            //Convert to JSON
                            var data = e.target.result;
                            var workbook = XLSX.read(data, {type: 'binary'});
                            var first_sheet_name = workbook.SheetNames[0];
                            //Get worksheet
                            var worksheet = workbook.Sheets[first_sheet_name];
                            var content = XLSX.utils.sheet_to_json(worksheet);
                            //Remove spaces in actions array
                            for (var i=0; i<content.length; i++){
                                content[i].action = content[i].action.replace(/\s+/g, '');
                                content[i].action = content[i].action.split(',');
                            }
                            content = JSON.stringify(content);
                            localStorage.setItem('usersArray', content);
                        };
                        reader.readAsBinaryString(file);
                    }
                    //If file has JSON format
                    else {
                        reader.onload = function(e){
                            var content = JSON.parse(e.target.result);
                            content = JSON.stringify(content);
                            localStorage.setItem('usersArray', content);
                        };
                        reader.readAsText(file);
                    }

                    uploadOutput.value = output;
                }
                else {
                    this.errorMessage('Try another file format');
                    uploadOutput.value = '';
                }
            },

            openMenu: function(){
                var me = this;
                var width = window.innerWidth;
                if (width <= '768') {
                    me.menuPosition = 'bottom';
                }
                me.menuStatus = true;
            },
            menuStatus: false,
            menuPosition: 'top',
            openImportDialog: function(e){
                var me = this;
                me.openImport = true;
            },
            openAddDialog: function(e){
                var me = this;
                var userEmail = me.$.addUserEmail, userFirstName = me.$.addUserFirstName, userLastName = me.$.addUserLastName;
                me.updateInput(userEmail);
                me.updateInput(userFirstName);
                me.updateInput(userLastName);
                me.openAdd = true;
            },
            updateInput: function(item){
                item.input.value = '';
                item.updateLabelVisibility();
                this.invalidEmail = false;
                this.invalidName = false;
                this.invalidLastName = false;
            },
            validateField: function (e){
                var id = e.currentTarget.id;
                var element = this.$.addUsersDialog.querySelector('#'+id);
                element.validate();
            },

            //Upload users dialog buttons actions
            openImport: false,
            uploadUsers: function(e) {
                var me = this;
                var uploadOutput = me.$.importUsersDialog.querySelector('#uploadFile');
                var getUsers = localStorage.getItem('usersArray');
                var usersArray = JSON.parse(getUsers);

                if (uploadOutput.value > ''){
                    if (usersArray.length > 0) {
                        if (me.newUsers.length > 0) {
                            me.allUsers = me.newUsers.concat(usersArray);
                            me.allUsers = me.addEmptyStrings(me.allUsers);
                        } else {
                            me.allUsers = usersArray;
                            me.allUsers = me.addEmptyStrings(me.allUsers);
                        }
                       this.openImport = false;
                    }
                    else {
                        this.errorMessage('Uploading error');
                    }

                    uploadOutput.value = '';
                }
                else {
                    //me.$.importUsersDialog.toggle();
                    this.errorMessage('Please, choose a .xlsx or .json file with users!');
                }
            },
            closeUploadDialog: function(){
                var uploadOutput = this.$.importUsersDialog.querySelector('#uploadFile');
                uploadOutput.value = '';
            },

            //Add user dialog buttons
            openAdd: false,
            addUser: function (e){
                var me = this;
                var userEmail = me.$.addUserEmail, userFirstName = me.$.addUserFirstName, userLastName = me.$.addUserLastName;

                if(userEmail.validate() && userFirstName.validate() && userLastName.validate()){
                    var newUserData = {
                        status:'Pending',
                        action:['visibility','refresh']};
                    newUserData.email = userEmail.input.value;
                    newUserData.firstName = userFirstName.input.value;
                    newUserData.lastName = userLastName.input.value;
                    me.newUsers.push(newUserData);
                    me.allUsers = me.deleteEmptyStrings(me.allUsers);
                    me.allUsers.push(newUserData);
                    me.allUsers = me.addEmptyStrings(me.allUsers);
                    me.openAdd = false;
                }
            },
            closeAddDialog: function (){
                var me = this;
                me.openAdd = false;
            },

            //Add/delete empty table strings
            addEmptyStrings: function (items){
                if (this.width > '768') {
                    var counter = items.length;
                    if (counter < 10) {
                        var i=0;
                        var different = 10-counter;
                        var differentArray = new Array(different);
                        while (i<different){
                            differentArray[i] = '';
                            i++;
                        }
                        items = items.concat(differentArray);
                    }
                }
                return items;
            },
            deleteEmptyStrings: function(items){
                var newItems = [];
                for (var i=0; i<items.length; i++) {
                    if (items[i] > '') {
                        newItems.push(items[i]);
                    }
                }
                items = newItems;
                return items;
            },

            //Identify mobile/tablet devices
            Android: function() {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function() {
                return navigator.userAgent.match(/IEMobile/i);
            },
            any: function() {
                return (this.Android() || this.BlackBerry() || this.iOS() || this.Opera() || this.Windows());
            },

            errorMessage: function(text){
                this.dialogText = text;
                this.$.errorDialog.toggle();
            }
        });
    </script>
</polymer-element>