#portfolio-page.portfolio-page-wrapper
        // Imitation of <table> because IE doesn't support dom-repeat
        // for tables (Polymer 1.0 bug) https://github.com/Polymer/polymer/issues/1567
    .data-table.portfolio-table(hidden&="[[!portfolioData]]")
        .data-thead.layout.vertical
            .data-thead-tr.layout.horizontal
                .data-thead-th.flex
                    span.th-content Code
                .data-thead-th.flex
                    span.th-content Name
                .data-thead-th.flex
                    span.th-content Status
                .data-thead-th.flex
                    span.th-content Tax currency
                .data-thead-th.flex
                    span.th-content Residency
        div(class$="data-tbody layout vertical [[addClass(tabWidthScreen, 'mobile-data-tbody')]]")
            template(is="dom-repeat", items="[[portfolioData]]")
                .mobile-data-thead(data-index="[[index]]", on-tap="openTableRow")
                    span.mobile-th-content [[item.name]]
                div.data-tbody-tr.mobile-data-td.layout.horizontal(on-tap="goToPortfolioItem")
                    .data-tbody-td.flex.layout.horizontal.start
                        span.td-label Code
                        span.td-content.flex [[item.code]]
                    .data-tbody-td.flex.without-label
                        span.td-content.flex [[item.name]]
                    .data-tbody-td.flex.layout.horizontal.start
                        span.td-label Status
                        span.td-content.flex [[item.status]]
                    .data-tbody-td.flex.layout.horizontal.start
                        span.td-label Tax currency
                        span.td-content.flex [[item.taxCurrency]]
                    .data-tbody-td.flex.layout.horizontal.start
                        span.td-label Residency
                        span.td-content.flex [[item.residency]]
