<polymer-element name="signup-page" attributes="logo">
    <template>
        <link rel="stylesheet" href="../../../css/signup-page.css">
        <div vertical layout fit class="signup-page">
            <div class="header" flex relative>
                <div class="logo-wrapper" fit>
                    <logo-main url="{{logo}}"></logo-main>
                </div>
            </div>
            <div flex six relative>
                <div class="content" fit>
                    <paper-shadow z="1">
                        <form vertical layout>
                            <paper-input-decorator id="firstName" label="First Name"
                                                   floatingLabel error="Please enter First Name">
                                <input is="core-input" required type="text">
                            </paper-input-decorator>
                            <paper-input-decorator id="lastName" label="Last Name"
                                                   floatingLabel error="Please enter Last Name">
                                <input is="core-input" required type="text">
                            </paper-input-decorator>
                            <paper-input-decorator id="email" label="Email"
                                                   floatingLabel error="Please enter valid Email">
                                <input is="core-input" required type="email">
                            </paper-input-decorator>
                            <paper-input-decorator id="password" label="Password"
                                                   floatingLabel error="Please enter Password">
                                <input is="core-input" required type="password">
                            </paper-input-decorator>
                            <div class="login-button" horizontal layout center>
                                <paper-button class="submit"
                                              on-tap="{{signUpSubmit}}"
                                              raised>Sign Up</paper-button>
                            </div>
                        </form>
                    </paper-shadow>
                    <div class="create">
                        <div>Already have an account?</div>
                        <paper-button raised>
                            <a on-tap="{{loginGo}}">Login</a>
                        </paper-button>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <footer-page flex></footer-page>
        </div>
        <paper-action-dialog id="signUpDialog"
                             heading="Error"
                             transition="core-transition-center"
                             backdrop
                             style="width: 300px;"
                             layered="false">
            <p>{{dialogText}}</p>
            <paper-button affirmative autofocus>Ok</paper-button>
        </paper-action-dialog>
        <app-globals id="globals"></app-globals>
        <core-ajax id="signUpSubmitRequest"
                   method="POST"
                   handleas="json"
                   on-core-error="{{signUpError}}"
                   on-core-response="{{signUpResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('signup-page', {
            signUpSubmit: function(){
                var firstName = this.$.firstName, lastName = this.$.lastName, email = this.$.email, password = this.$.password;

                if (firstName.validate() && lastName.validate() && email.validate() && password.validate()) {
                    this.$.signUpSubmitRequest.url = this.$.globals.urlws + 'resources/json/signup.json';
                    this.$.signUpSubmitRequest.body = "{'firstName': '" + firstName.input.value + "', 'lastName': '" + lastName.input.value + "', 'email': '" + email.input.value + "', 'password': '" + password.input.value + "'}";
                    this.$.signUpSubmitRequest.go();
                }
            },
            signUpError: function(){
                this.dialogText = 'Something wrong, try again later';
                this.$.signUpDialog.toggle();
            },
            signUpResponse: function(e, data){
                if(data.response.success){
                    document.querySelector('flatiron-director').route ='confirm';
                } else {
                    this.signUpError();
                }
            },
            loginGo: function(){
                document.querySelector('flatiron-director').route = 'login';
            }
        });
    </script>
</polymer-element>