#general-page.general-page-wrapper
    .page-header-wrapper
        h2.page-header Design
    .design-settings-wrapper
        .design-settings-form.layout.vertical
            .settings-row.layout.horizontal
                span.settings-labels.self-center Theme
                paper-radio-group.theme-options(selected="{{theme}}")
                    paper-radio-button(name="light") light
                    paper-radio-button(name="dark") dark
            .settings-row.layout.horizontal
                span.settings-labels.self-center Color
                .color-selector-wrapper
                    //paper-color-input.color-selector(shape="circle", type="hsl", value="{{convertColor(appColor)}}", on-color-changed="recolorApp")
                    paper-input.color-selector(value="[[appColor]]", on-focus="openPicker")
            .settings-row.layout.horizontal
                span.settings-labels.self-center Logo
                .upload-logo-wrapper.layout.vertical
                    paper-button.upload-logo-btn.relative
                        iron-icon.upload-logo-icon(icon="file-upload")
                        | Upload logo
                        input#logoUploader.edit-button.fit(type="file", accept=".png")
                    span.upload-logo-size max 224px x 64px
    .page-header-wrapper
        h2.page-header Email
    .email-settings-wrapper.layout.horizontal
        .email-settings-form.flex
            paper-input(label="SMTP Server Address", value="{{settings.servAddres}}", on-blur="saveSettings")
            paper-input(label="SMTP Server Port", value="{{settings.servPort}}", on-blur="saveSettings")
            paper-input(label="SSL", value="{{settings.ssl}}", on-blur="saveSettings")
            h3.page-subheader Optional
            paper-input(label="Username", value="{{settings.userName}}", on-blur="saveSettings")
            paper-input(label="Password", value="{{settings.password}}", on-blur="saveSettings")
