#users-page.users-page-wrapper
    .users-options
        paper-menu-button.dropdown-menu.charts-options(horizontal-align="right", horizontal-offset="36", open-animation-config='[[openAnimationConfig]]', vertical-offset$="[[addClass(tabWidthScreen, '-70')]]")
            paper-fab.grey-button.dropdown-trigger(icon="add", unresolved)
            paper-menu.dropdown-content
                paper-item(on-tap="openImportDialog")
                    iron-icon.options-icon(icon="social:group-add")
                    | Bulk User Import
                paper-item(on-tap="openAddUserDialog")
                    iron-icon.options-icon(icon="social:person-add")
                    | Add User
                paper-item.download-link-item
                    a.download-link(download, href="assets/files/users.xlsx")
                        iron-icon.options-icon(icon="file-download")
                        | Bulk User Template
    // Imitation of <table> because IE doesn't support dom-repeat
    // for tables (Polymer 1.0 bug) https://github.com/Polymer/polymer/issues/1567
    .data-table.users-table(hidden$="[[!users]]")
        .data-thead.layout.vertical
            .data-thead-tr.layout.horizontal
                .data-thead-th.flex
                    span.th-content Email Adress
                .data-thead-th.flex
                    span.th-content First Name
                .data-thead-th.flex
                    span.th-content Last Name
                .data-thead-th.flex
                    span.th-content Status
                .data-thead-th.flex
                    span.th-content Actions
        div(class$="data-tbody layout vertical [[addClass(tabWidthScreen, 'mobile-data-tbody')]]")
            template(is="dom-repeat", items="[[users]]")
                .mobile-data-thead(data-index="[[index]]", on-tap="openTableRow")
                    span.mobile-th-content [[item.firstName]] [[item.lastName]]
                .data-tbody-tr.mobile-data-td.layout.horizontal
                    .data-tbody-td.flex.layout.horizontal.start
                        span.td-label Email
                        span.td-content [[item.email]]
                    .data-tbody-td.flex.without-label
                        span.td-content [[item.firstName]]
                    .data-tbody-td.flex.without-label
                        span.td-content [[item.lastName]]
                    .data-tbody-td.flex.layout.horizontal.start
                        span.td-label Status
                        span.td-content [[item.status]]
                    .data-tbody-td.flex.layout.horizontal.start.actions
                        span.td-label Actions
                        div.td-content
                            paper-icon-button(icon="visibility", hidden="[[!item.viewProfile]]", on-tap="loginAsUser")
                            paper-icon-button(icon="refresh", hidden="[[!item.resendConfirmation]]", on-tap="resendConfirmation")
