<polymer-element name="chart-board" attributes="name type values dashboardContent dragAndDropsArray func" extends="dashboard-page">
    <template>
        <link rel="stylesheet" href="../../../css/dashboard-page.css">
        <div class="chart-board" id="board">
            <paper-shadow z="1">
                <div class="title" horizontal layout center>
                    <div flex>{{name}}</div>
                    <paper-icon-button icon="settings" on-tap="{{openMenu}}" relative></paper-icon-button>
                    <paper-dropdown opened="{{menuStatus}}" halign="right" valign="top" class="chart-dropdown">
                        <div class="menu-list menu">
                            <paper-item class="item" hidden?="{{type==1}}" type="1" on-tap="{{changeChartType}}">
                                <div class="label">Bar</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item" hidden?="{{type==4}}" type="4" on-tap="{{changeChartType}}">
                                <div class="label">Pie</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item" hidden?="{{type==0}}" type="0" on-tap="{{changeChartType}}">
                                <div class="label">Line</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item" hidden?="{{type==2}}" type="2" on-tap="{{changeChartType}}">
                                <div class="label">Radar</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item" hidden?="{{type==3}}" type="3" on-tap="{{changeChartType}}">
                                <div class="label">Polar</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                            <paper-item class="item" hidden?="{{type==5}}" type="5" on-tap="{{changeChartType}}">
                                <div class="label">Doughnut</div>
                                <paper-ripple fit></paper-ripple>
                            </paper-item>
                        </div>
                    </paper-dropdown>
                    <paper-icon-button icon="close" on-tap="{{removeChart}}"></paper-icon-button>
                </div>
                <div class="chart">
                    <canvas id="canvas"></canvas>
                </div>
            </paper-shadow>
        </div>
        <paper-action-dialog id="dialog"
                             heading="Confirm"
                             style="width: 300px; height: auto"
                             backdrop>
            <p>Remove chart?</p>
            <paper-button affirmative>Cancel</paper-button>
            <paper-button affirmative on-tap="{{apply}}">Ok</paper-button>
        </paper-action-dialog>
    </template>
    <script>
        Polymer('chart-board', {
            ready:function(){
                this.chartGo(this.type);
            } ,
            chartGo:function(type){
                var me = this;
                if (me.chart) me.chart.destroy();
                setTimeout(function(){
                    //me.data = me.values || {};
                    me.options = {};

                    Chart.defaults.global.responsive = true;
                    me.ctx = me.$.canvas.getContext('2d');
                    switch (type){
                        case (0):
//                            LINE
                            var datasetsArray = me.setDatasetToLine();
                            me.data = {
                                labels: me.values.labels,
                                datasets: datasetsArray
                            };
                            me.options = {
                                bezierCurve: false
                            };
                            me.chart = new Chart(me.ctx).Line(me.data, me.options);
                            break;
                        case (1):
//                            BAR
                            datasetsArray = me.setDatasetToLine();
                            me.data = {
                                labels: me.values.labels,
                                datasets: datasetsArray
                            };
                            me.chart = new Chart(me.ctx).Bar(me.data, me.options);
                            break;
                        case (2):
//                            RADAR
                            datasetsArray = me.setDatasetToLine();
                            me.data = {
                                labels: me.values.labels,
                                datasets: datasetsArray
                            };
                            me.chart = new Chart(me.ctx).Radar(me.data, me.options);
                            break;
                        case (3):
//                            POLAR
                            me.data = me.values || {};
                            me.chart = new Chart(me.ctx).PolarArea(me.data, me.options);
                            break;
                        case (4):
//                            PIE
                            me.data = me.values || {};
                            me.chart = new Chart(me.ctx).Pie(me.data, me.options);
                            break;
                        case (5):
                            me.data = me.values || {};
                            me.chart = new Chart(me.ctx).Doughnut(me.data, me.options);
                            break;
                        default:
                            break;
                    }
                }, 100);
            },
            removeChart: function(){
                this.$.dialog.toggle();
            },
            openMenu: function(e){
                var me = this;
                me.menuStatus = true;
            },
            menuStatus: false,
            apply: function(){
                var chartId = this.id;
                this.dashboardContent.splice(chartId ,1);
                if (this.dashboardContent.length < 4) {
                    this.dragAndDropsArray = new Array(4);
                }
                this.func();
            },
            changeChartType: function(e){
                var chartType = e.currentTarget.attributes.type.value;
                this.type = parseInt(chartType);
                this.chartGo(this.type);
            },
            hexToRGB: function(hex){
                var RGB = [];

                function toR(h) { return parseInt((cutHex(h)).substring(0,2),16) }
                function toG(h) { return parseInt((cutHex(h)).substring(2,4),16) }
                function toB(h) { return parseInt((cutHex(h)).substring(4,6),16) }
                function cutHex(h) { return (h.charAt(0)=="#") ? h.substring(1,7) : h}

                RGB[0] = toR(hex);
                RGB[1] = toG(hex);
                RGB[2] = toB(hex);

                return (RGB[0]+','+RGB[1]+','+ RGB[2]);
            },
            setDatasetToLine: function (){
                var me = this;
                var i = 0;
                var datasetsArray = [];
                var datasetLength = me.values.datasets.length;
                for (i; i<datasetLength; i++) {
                    var datasetObject = {
                        fillColor: "rgba("+ me.hexToRGB(me.values.colors[i])+",0.2)",
                        strokeColor: "rgba("+ me.hexToRGB(me.values.colors[i])+",1)",
                        pointColor: "rgba("+ me.hexToRGB(me.values.colors[i])+",1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba("+ me.hexToRGB(me.values.colors[i])+",1)",
                        data: me.values.datasets[i].data
                    };
                    datasetsArray[i] = datasetObject;
                }
                return (datasetsArray);
            }
        });
    </script>
</polymer-element>