<link rel="import" href="dashboard-charts.html">
<polymer-element name="dashboard-page" attributes="userId">
    <template>
        <dashboard-charts dashboardContent="{{dashboardContent}}" id="dashboardCharts" userId="{{userId}}"></dashboard-charts>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="dashboardItems"
                   handleAs="json"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('dashboard-page', {
            userIdChanged: function(){
//                this.$.dashboardItems.url = this.$.globals.urlws+'resources/json/charts.json/' + localStorage.getItem('userId');
                this.$.dashboardItems.url = this.$.globals.urlws+'resources/json/charts.json/' + this.userId;

            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    me.dashboardContentUploaded = data.response.content;
                    me.dashboardContent = me.dashboardContentUploaded;
                    me.$.dashboardCharts.updateDragAndDropsArray();
                }
            }
        })
    </script>
</polymer-element>