<polymer-element name="dashboard-page">
    <template>
        <link rel="stylesheet" href="../../../css/dashboard-page.css">
        <side-menu class="{{page.class}}" pageUrl="{{page.url}}" pageTitle="{{page.title}}">
            dashboard
            <paper-fab icon="add"></paper-fab>
        </side-menu>
    </template>
    <script>
        Polymer('dashboard-page', {
            page: {
                class: 'dashboard-page',
                url: 'dashboard',
                title: 'Dashboard'
            }
        })
    </script>
</polymer-element>