<link rel="import" href="chart-board.html">
<link rel="import" href="drop-chart.html">
<link rel="stylesheet" href="../../../css/dialog-styles.css">
<polymer-element name="dashboard-charts" attributes="dashboardContent itemId userId">
    <template>
        <link rel="stylesheet" href="../../../css/dashboard-page.css">
        <div horizontal layout reverse class="dashboard-dropdown">
            <paper-fab icon="add" on-tap="{{openMenu}}" id="addChart"></paper-fab>
            <paper-dropdown opened="{{menuStatus}}" class="dashboard-menu-dropdown" halign="right" relatedTarget valign="{{menuPosition}}">
                <div class="menu-list menu">
                    <paper-item class="item" on-tap="{{addChart}}">
                        <div class="label">Bar Holdings Chart</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>
                    <paper-item class="item" on-tap="{{addChart}}">
                        <div class="label">Pie Holdings Chart</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>
                    <!--<paper-item class="item">
                        <div class="label" >Corporate Events</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>
                    <paper-item class="item">
                        <div class="label">Calendar Events</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>-->
                </div>
            </paper-dropdown>
            <paper-action-dialog id="errorDialog"
                                 heading="Error"
                                 transition="core-transition-center"
                                 backdrop
                                 layered="true">
                <p>{{dialogText}}</p>
                <paper-button affirmative autofocus class="action-button">Ok</paper-button>
            </paper-action-dialog>
        </div>
        <div class="dashboard-content" id="dashboardCharts">
            <template repeat="{{val, i in dashboardContent}}">
                <chart-board name="{{val.name}}" type="{{val.type}}" values="{{val.data}}" id="{{i}}" dashboardContent="{{dashboardContent}}" dragAndDropsArray="{{dragAndDropsArray}}" on-rmch="{{updateDragAndDropsArray}}" on-tich="{{sendChartsToWS}}"></chart-board>
            </template>
            <template repeat="{{val in dragAndDropsArray}}">
                <drop-chart id="dropZone"></drop-chart>
            </template>
        </div>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
               id="dashboardSave"
               method="POST"
               handleAs="json"></core-ajax>
    </template>
    <script>
        Polymer('dashboard-charts', {
            ready: function(){},
            newCharts: [],
            menuStatus: false,
            menuPosition: 'top',
            dragAndDropsArray: new Array(4),

            openMenu: function(e){
                var me = this;
                var width = window.innerWidth;
                if (width <= '768') {
                    me.menuPosition = 'bottom';
                }
                me.menuStatus = true;
            },

            sendChartsToWS: function(){
                var dashboardContent = {};
                var item = {};

                var chartTypes = [];

                dashboardContent.charts = [];
                dashboardContent.chartsLength = this.dashboardContent.length;
                for (var i=0; i<dashboardContent.chartsLength; i++){
                    item = {
                        type:this.dashboardContent[i].type
                    };
                    dashboardContent.charts.push(item);
                    chartTypes.push(dashboardContent.charts[i].type);
                }

                if(this.itemId){
                    dashboardContent.portfolioId = this.itemId;
                }

                this.$.dashboardSave.url = this.$.globals.urlws+'resources/json/savedashboard.json';
                this.$.dashboardSave.body = "{'userId': '" + this.userId + "','portfolioId': '" + dashboardContent.portfolioId + "','chartsLength': '" + dashboardContent.chartsLength + "','chartTypes': '" + chartTypes + "'}";

                return dashboardContent;
            },

            updateDragAndDropsArray: function() {
                var me = this;
                if (me.dashboardContent) {
                    var boards = me.dashboardContent.length;
                    if (boards < 4) {
                        var different = 4-boards;
                        var cleanArray = new Array(different);
                        me.dragAndDropsArray = cleanArray;
                    }
                    else {
                        me.dragAndDropsArray = [];
                    }
                }
                return this.dragAndDropsArray;
            },

            //Add holdings chart by button
            addChart: function(e) {
                var me = this;
                if (me.dashboardContent.length == 4) {
                    this.errorMessage('All slots for charts are already filled. Please remove any chart to make free slot.');
                    e.stopPropagation();
                }
                return me.dashboardContent;
            },
            errorMessage: function(text){
                this.dialogText = text;
                this.$.errorDialog.toggle();
            }
        })
    </script>
</polymer-element>