<link rel="import" href="chart-board.html">
<link rel="import" href="drop-chart.html">
<link rel="stylesheet" href="../../../css/dialog-styles.css">
<polymer-element name="dashboard-charts" attributes="dashboardContent itemId userId chartslth">
    <template>
        <link rel="stylesheet" href="../../../css/dashboard-page.css">
        <div horizontal layout reverse class="dashboard-dropdown">
            <paper-fab icon="add" on-tap="{{openMenu}}" id="addChart"></paper-fab>
            <paper-dropdown opened="{{menuStatus}}" class="dashboard-menu-dropdown" halign="right" relatedTarget valign="{{menuPosition}}">
                <div class="menu-list menu">
                    <paper-item class="item" on-tap="{{addChart}}" type="1">
                        <div class="label">Bar Holdings Chart</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>
                    <paper-item class="item" on-tap="{{addChart}}" type="4">
                        <div class="label">Pie Holdings Chart</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>
                    <!--<paper-item class="item">
                        <div class="label" >Corporate Events</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>
                    <paper-item class="item">
                        <div class="label">Calendar Events</div>
                        <paper-ripple fit></paper-ripple>
                    </paper-item>-->
                </div>
            </paper-dropdown>
            <paper-action-dialog id="errorDialog"
                                 heading="Error"
                                 transition="core-transition-center"
                                 backdrop
                                 layered="true">
                <p>{{dialogText}}</p>
                <paper-button affirmative autofocus class="action-button">Ok</paper-button>
            </paper-action-dialog>
        </div>
        <div class="dashboard-content" id="dashboardCharts">
            <template repeat="{{val, i in dashboardContent}}">
                <chart-board name="{{val.name}}" type="{{val.type}}" values="{{val.data}}" id="{{i}}" dashboardContent="{{dashboardContent}}" on-typechanged="{{sendChartsToWS}}"></chart-board>
            </template>
            <template repeat="{{val in dragAndDropsArray | limitTo(chartslth)}}">
                <drop-chart id="dropZone"></drop-chart>
            </template>
        </div>
        <app-globals id="globals"></app-globals>
        <core-ajax
               id="dashboardSave"
               method="POST"
               handleAs="json"
               on-core-response="{{saved}}"></core-ajax>
        <core-ajax
                id="dashboardChange"
                method="POST"
                handleAs="json"></core-ajax>
    </template>
    <script>
        Polymer('dashboard-charts', {
            menuStatus: false,
            menuPosition: 'top',
            dragAndDropsArray: new Array(4),

            openMenu: function(e){
                var me = this;
                var width = window.innerWidth;
                if (width <= '768') {
                    me.menuPosition = 'bottom';
                }
                me.menuStatus = true;
            },

            sendChartsToWS: function(){
                var dashboardContent = this.getDataToWS();

                this.$.dashboardChange.url = this.$.globals.urlws+'resources/json/savedashboard.json';
                this.$.dashboardChange.body = "{'userId': '" + this.userId + "','portfolioId': '" + dashboardContent.portfolioId + "','chartsLength': '" + dashboardContent.chartsLength + "','chartTypes': '" + dashboardContent.chartTypes + "'}";
                this.$.dashboardChange.go();
            },

            getDataToWS: function(){
                var dashboardContent = {};
                dashboardContent.chartTypes = [];
                dashboardContent.chartsLength = this.dashboardContent.length;

                for (var i=0; i<dashboardContent.chartsLength; i++){
                    var type = this.dashboardContent[i].type;
                    dashboardContent.chartTypes.push(type);
                }

                if(this.itemId){
                    dashboardContent.portfolioId = this.itemId;
                }

                return dashboardContent;
            },

            //Add holdings chart by button
            addChart: function(e) {
                var me = this;
                var type = e.currentTarget.attributes.type.value;
                var dashboardContent = this.getDataToWS();

                if (me.dashboardContent.length == 4) {
                    this.errorMessage('Only 4 charts allowed.');
                    e.stopPropagation();
                } else {
                    dashboardContent.chartsLength++;
                    dashboardContent.chartTypes.push(parseInt(type));
                    this.$.dashboardSave.url = this.$.globals.urlws+'resources/json/savedashboard.json';
                    this.$.dashboardSave.body = "{'userId': '" + this.userId + "','portfolioId': '" + dashboardContent.portfolioId + "','chartsLength': '" + dashboardContent.chartsLength + "','chartTypes': '" + dashboardContent.chartTypes + "'}";
                    this.$.dashboardSave.go();
                }
            },

            saved: function(e, data){
                if(data.response.success){
                    this.fire('getcharts',{});
                }
            },

            errorMessage: function(text){
                this.dialogText = text;
                this.$.errorDialog.toggle();
            }
        })
    </script>
</polymer-element>