<link rel="import" href="dashboard-charts.html">
<polymer-element name="dashboard-page">
    <template>
        <dashboard-charts dashboardContent="{{dashboardContent}}" id="dashboardCharts"></dashboard-charts>
        <app-globals id="globals"></app-globals>
        <core-ajax auto
                   id="dashboardItems"
                   on-core-response="{{contentResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('dashboard-page', {
            ready: function(){
                this.$.dashboardItems.url = this.$.globals.url+'resources/json/charts.json';
            },
            contentResponse: function(e, data){
                var me = this;
                if(data.response.success){
                    me.dashboardContentUploaded = data.response.content;
                    me.dashboardContent = me.dashboardContentUploaded;
                    me.$.dashboardCharts.updateDragAndDropsArray();
                }
            }
        })
    </script>
</polymer-element>