<polymer-element name="drop-chart" attributes>
    <template>
        <link rel="stylesheet" href="../../../css/dashboard-page.css">
        <div class="chart-board" id="board">
            <paper-shadow z="0">
                <div class="title" horizontal layout center>
                    <paper-icon-button icon="close" style="color:white;"></paper-icon-button>
                </div>
                <div class="chart">
                    <canvas id="canvas"></canvas>
                </div>
                <div fit class="drop-chart-here" layout horizontal center-center>
                    <div><span>Drop chart here</span></div>
                </div>
            </paper-shadow>

        </div>
    </template>
    <script>
        Polymer('drop-chart', {
            ready:function(){
                this.chartGo();
            } ,
            chartGo:function(){
                var me = this;
                if (me.chart) me.chart.destroy();
                setTimeout(function(){
                    Chart.defaults.global.responsive = true;
                    me.ctx = me.$.canvas.getContext('2d');
                    me.data = {
                        labels: [],
                        datasets: [
                            {
                                fillColor: "rgba(255,255,255,0)",
                                strokeColor: "rgba(255,255,255,0)",
                                pointColor: "rgba(255,255,255,0)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(255,255,255,0)",
                                data: [65, 59, 80, 81, 56, 55, 40]
                            }
                        ]
                    };
                    me.options = {
                        bezierCurve: false
                    };
                    me.chart = new Chart(me.ctx).Line(me.data, me.options);
                }, 1);
            }
        });
    </script>
</polymer-element>