<polymer-element name="login-page" attributes="logo">
    <template>
        <link rel="stylesheet" href="../../../css/login-page.css">
        <div vertical layout fit class="login-page">
            <div flex twelve>
                <div class="header">
                    <div class="logo-wrapper">
                        <logo-main url="{{logo}}"></logo-main>
                    </div>
                </div>
                <div class="content">
                    <paper-shadow z="1">
                        <form vertical layout on-submit="{{loginSubmit}}">
                            <paper-input-decorator id="email" label="Email"
                                                   floatingLabel
                                                   error="Please enter valid Email">
                                <input required
                                       value="kingnlo@gmail.com"
                                       type="email">
                            </paper-input-decorator>
                            <paper-input-decorator id="password" label="Password"
                                                   floatingLabel
                                                   error="Please enter Password">
                                <input required
                                       value="123456"
                                       type="password">
                            </paper-input-decorator>
                            <div class="login-button" horizontal layout center>
                                <paper-button class="submit"
                                              on-tap="{{loginSubmit}}"
                                              raised>Submit</paper-button>
                                <core-label horizontal layout center>
                                    <div class="remember">Remember Me</div>
                                    <paper-checkbox for checked></paper-checkbox>
                                </core-label>
                            </div>
                        </form>
                        <div>
                            <a href="#">Help! I forgot my password</a>
                        </div>
                    </paper-shadow>
                    <div class="create">
                        <div>Don't have an account?</div>
                        <paper-button raised>
                            <a on-tap="{{signupGo}}">Sign Up Here</a>
                        </paper-button>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <footer-page flex></footer-page>
        </div>
        <paper-action-dialog id="loginDialog"
                             heading="Error"
                             transition="core-transition-center"
                             backdrop
                             style="width: 300px;"
                             layered="false">
            <p>{{dialogText}}</p>
            <paper-button affirmative autofocus style="color:#DD1F29;">Ok</paper-button>
        </paper-action-dialog>
        <app-globals id="globals"></app-globals>
        <core-ajax id="loginSubmitRequest"
                   on-core-error="{{loginError}}"
                   on-core-response="{{loginResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('login-page', {
            ready: function(){
                this.$.loginSubmitRequest.url = this.$.globals.url+'resources/json/login.json'
            },
            loginSubmit: function(){
                var email = this.$.email, password = this.$.password;

                /*if(email.validate() && password.validate()){
                    this.$.loginSubmitRequest.params = {
                        email: email.input.value,
                        password: password.input.value
                    };
                }*/

                document.querySelector('flatiron-director').route = 'dashboard';
                document.cookie="webPortalAuthorised";
                //localStorage.setItem('authorised', true);
            },
            loginError: function(){
                this.dialogText = 'Wrong login or password.';
                this.$.loginDialog.toggle();
            },
            loginResponse: function(e, data){
                if(data.response.success){
                    document.querySelector('flatiron-director').route = 'dashboard';
                }else{
                    this.loginError();
                }
            },
            signupGo: function(){
                document.querySelector('flatiron-director').route = 'signup';
            }
        });
    </script>
</polymer-element>