<polymer-element name="login-page" attributes="logo userId userLogIn">
    <template>
        <link rel="stylesheet" href="../../../css/login-page.css">
        <div vertical layout fit class="login-page">
            <div class="header" flex>
                <div class="logo-wrapper">
                    <logo-main url="{{logo}}"></logo-main>
                </div>
            </div>
            <div flex six relative>
                <div class="content" fit>
                    <paper-shadow z="1">
                        <form vertical layout>
                            <paper-input-decorator id="email" label="Email"
                                                   floatingLabel
                                                   error="Please enter valid Email">
                                <input required
                                       value="{{userEmail}}"
                                       type="email">
                            </paper-input-decorator>
                            <paper-input-decorator id="password" label="Password"
                                                   floatingLabel
                                                   error="Please enter Password">
                                <input required
                                       value="{{userPassword}}"
                                       type="password">
                            </paper-input-decorator>
                            <div class="login-button" horizontal layout center>
                                <paper-button class="submit"
                                              on-tap="{{loginSubmit}}"
                                              raised>Submit</paper-button>
                                <core-label horizontal layout center>
                                    <div class="remember">Remember Me</div>
                                    <paper-checkbox for checked="{{rememberUser}}"></paper-checkbox>
                                </core-label>
                                <template bind if="{{loginInProgress}}">
                                    <!--<span class="loader">Loading</span>-->
                                    <div layout horizontal class="spinner">
                                        <img src="../../../img/FPM-loader.gif">
                                    </div>
                                </template>
                            </div>
                        </form>
                        <div>
                            <a href="#reset">Help! I forgot my password</a>
                        </div>
                    </paper-shadow>
                    <div class="create">
                        <div>Don't have an account?</div>
                        <paper-button raised>
                            <a on-tap="{{signupGo}}">Sign Up Here</a>
                        </paper-button>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <footer-page flex></footer-page>
        </div>
        <paper-action-dialog id="loginDialog"
                             heading="Error"
                             transition="core-transition-center"
                             backdrop
                             style="width: 300px;"
                             layered="false">
            <p>{{dialogText}}</p>
            <paper-button affirmative autofocus class="action-button">Ok</paper-button>
        </paper-action-dialog>
        <app-globals id="globals"></app-globals>
        <core-ajax id="loginSubmitRequest"
                   method="POST"
                   handleAs="json"
                   on-core-error="{{loginError}}"
                   on-core-response="{{loginResponse}}"></core-ajax>
    </template>
    <script>
        Polymer('login-page', {
            userEmail:'alan.ball@outlook.com',
            userPassword:'pass13245',
            loginInProgress: false,
            loginSubmit: function () {
                this.$.loginSubmitRequest.abort();
                var email = this.$.email, password = this.$.password;

                if (email.validate() && password.validate()) {
                    this.loginInProgress = true;
                    this.$.loginSubmitRequest.url = this.$.globals.urlws + 'resources/json/login.json';
                    this.$.loginSubmitRequest.body = "{'email': '" + this.userEmail + "','password': '" + this.userPassword + "'}" ;
                    this.$.loginSubmitRequest.go();
            }
        },
            loginError: function () {
                this.loginInProgress = false;
                this.dialogText = 'Wrong login, password or your account has not been verified. Please check the verification email that was sent.';
                this.$.loginDialog.toggle();
                localStorage.setItem('webPortalAuthorised', false);
            },
            loginResponse: function (e, data) {
                this.loginInProgress = false;
                
                if(data.response.success){
                    this.userEmail = data.response.user.email;
                    this.userPassword = data.response.user.password;
                    this.userId = data.response.user.userId;
                    localStorage.setItem('userId', this.userId);
                    localStorage.setItem('webPortalAuthorised', true);
                    this.userLogIn = true;
                    document.querySelector('flatiron-director').route = 'dashboard';
                }
                else {
                    this.loginError();
                    localStorage.setItem('webPortalAuthorised', false);
                }
            },
            signupGo: function(){
                document.querySelector('flatiron-director').route = 'signup';
            }
        });
    </script>
</polymer-element>