style(is="custom-style").
    :root {
        /* Primary and accent colors. Also see color.html for more colors.
        */
        --main-color: #DD1F29;
        --black-color: #000000;
        --light-primary-color: rgba(255, 150, 150, 1);
        --default-primary-color: var(--main-color);
        --dark-primary-color: rgba(150, 0, 0, 1);
        --paper-yellow-a100: #ffffff;
        --paper-fab-background: #D8D8D8;
        --paper-fab-keyboard-focus-background: #D8D8D8;
        --paper-button-raised-keyboard-focus: {  font-weight: normal;}
    }

        /*login styles*/
    paper-input.login-field {
        --default-primary-color: var(--main-color);
        --primary-text-color: var(--black-color);
        --secondary-text-color: var(--black-color);
        --paper-input-container-label: {
            font-size: 20px;
        };
        --paper-input-container-input: {
            font-size: 20px;
        }
    }

    paper-dialog {
        --paper-dialog-button-color: var(--login-color);
    }
        /*main styles*/

    .main-menu-item:focus, .selectable-content.paper-menu > .main-menu-item.iron-selected {
        border-left-color: var(--main-color);
    }
