style(is="custom-style").
    :root {
        /* Primary and accent colors. Also see color.html for more colors.
        */
        --light-primary-color: rgba(255, 150, 150, 1);
        --default-primary-color: rgba(221, 31, 41, 1);
        --dark-primary-color: rgba(150, 0, 0, 1);
    }

    paper-input.login-field {
        --default-primary-color: #DD1F29;
        --primary-text-color: #000000;
        --secondary-text-color: #000000;
        --paper-input-container-label: {
            font-size: 20px;
        };
        --paper-input-container-input: {
            font-size: 20px;
        }
    }

    paper-dialog#alert {
        --paper-dialog-title: purple;
        --paper-dialog-button-color: #DD1F29;
    }
