style(is="custom-style").
    :root {
        /* Primary and accent colors. Also see color.html for more colors.
        */
        --main-color: #DD1F29;
        --black-color: #000000;
        --light-primary-color: rgba(255, 150, 150, 1);
        --default-primary-color: var(--main-color);
        --dark-primary-color: rgba(150, 0, 0, 1);
        --paper-yellow-a100: #ffffff;
        --paper-fab-background: #D8D8D8;
        --paper-fab-keyboard-focus-background: #D8D8D8;
        --inputs-text-color: #8e8e9a;
        --paper-button-raised-keyboard-focus: {  font-weight: normal};
        --paper-button-flat-keyboard-focus: {  font-weight: normal};
    }

        /*login styles*/
    paper-input.login-field {
        --default-primary-color: var(--main-color);
        --primary-text-color: var(--black-color);
        --secondary-text-color: var(--black-color);
        --paper-input-container-label: {
            font-size: 20px;
        };
        --paper-input-container-input: {
            font-size: 20px;
        }
    }

    paper-dialog {
        --paper-dialog-button-color: var(--login-color);
    }
        /*main styles*/

    .main-menu-item:focus, .selectable-content.paper-menu > .main-menu-item.iron-selected {
        border-left-color: var(--main-color);
    }

    paper-toolbar.portfolio-item-toolbar{
        --paper-toolbar-background: var(--inputs-text-color);
    }

    paper-button.upload-logo-btn {
        color: var(--main-color);
    }

    .page-wrapper paper-input {
        --paper-input-container-label: {
            font-size: 18px;
            color: var(--inputs-text-color);
            font-weight: bold;
        };
        --paper-input-container-input: {
            font-size: 18px;
            color: var(--primary-text-color);
        };
    }

    .page-wrapper paper-input.color-selector {
        --paper-input-container-input: {
            font-size: 18px;
            color: var(--main-color);;
        };
    }

    .page-wrapper paper-radio-button {
        --paper-radio-button-unchecked-color: var(--inputs-text-color);
        --paper-radio-button-label-color: var(--inputs-text-color);
        --paper-radio-button-unchecked-ink-color: var(--inputs-text-color);
    }

    .page-wrapper paper-checkbox {
        --paper-checkbox-unchecked-color: var(--inputs-text-color);
        --paper-checkbox-unchecked-ink-color: var(--inputs-text-color);
        --paper-checkbox-label-color: var(--inputs-text-color);
    }

    .calendar-actions paper-button {
        --paper-button: {
            color: var(--main-color);
        }
    }
